---
layout: page
title: Debug Test Page
---

<h3>win-loss-amount</h3>
{% include win-loss-amount.html amount=1234 %} <br/>
{% include win-loss-amount.html amount=-12345 %}

<h3>chip-amount</h3>
{% include chip-amount.html chipAmount=1 %} <br/>
{% include chip-amount.html chipAmount=5 %} <br/>
{% include chip-amount.html chipAmount=25 %} <br/>
{% include chip-amount.html chipAmount=100 %} <br/>
{% include chip-amount.html chipAmount=500 %} <br/>
{% include chip-amount.html chipAmount=1000 %}

<h3>roulette-spot</h3>
{% include roulette-spot.html number="0" %} <br/>
{% include roulette-spot.html number="00" %} <br/>
{% include roulette-spot.html number="000" %} <br/>
{% include roulette-spot.html number="1" %} <br/>
{% include roulette-spot.html number="2" %}

<h3>ceg-system-rating</h3>
{% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=true %} <br/>
{% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=true %} <br/>
{% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false %} <br/>
{% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false %} <br/>
{% include ceg-system-rating.html rating="a" showRatingLetter=false showRatingName=false %} <br/>
{% include ceg-system-rating.html rating="c" showRatingLetter=false showRatingName=false %}

<h3>roulette-system-link</h3>
{% include roulette-system-link.html reviewUrl="2022-09-12-Ride-or-Die" %} <br/>
{% include roulette-system-link.html reviewUrl="2023-09-07-Last-Tango-in-Vegas" %}
{% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" %}

<h3>format-number</h3>
${%- include format-number.html number=123.45 %} <br/>
{% include format-number.html number=0.234 asPercentage=true places=1 %}

<h3>glossary-term</h3>
{% include glossary-term.html term="Martingale" displayName="Martingaling" %} <br/>
{% include glossary-term.html term="AP" %}

<h3>This is a test</h3>
