
{%- assign rank = include.card | slice: 0, 1 -%}
{%- assign suit = include.card | slice: 1, 1 -%}
{%- assign class = include.class | default: "card-medium" -%}
{%- assign showImage = include.showImage -%}

{%- if showImage == null -%}
    {%- assign showImage = true -%}
{%- endif -%}

{%- assign suitSymbol = "♠️" -%}

{%- assign color = "black" -%}

{%- if suit == "h" -%}
    {%- assign suitSymbol = "❤️" -%}
{%- elsif suit == "d" -%}
    {%- assign suitSymbol = "♦️" -%}
{%- elsif suit == "c" -%}
    {%- assign suitSymbol = "♣️" -%}
{%- endif -%}

{%- if showImage -%}
    <img src="{{site.baseurl}}/assets/img/cards/{{- rank | upcase -}}{{- suit | downcase -}}-250x350.png" class="{{- class -}}" />
{%- else -%}
    <span class="card card-suit-{{- suit -}}">{{- rank -}}{{- suitSymbol -}}</span>
{%- endif -%}