
{%- assign rating = include.rating | downcase -%}
{%- assign imageSrc = {{site.baseurl}} -%}
{%- assign imageSrc = imageSrc | append: "/assets/img/systems/ratings/" -%}
{%- assign imageSrc = imageSrc | append: rating -%}
{%- assign imageSrc = imageSrc | append: "-400x400.png" -%}
{%- assign ratingName = "[unknown]" -%}

{% if include.rating == "a" %}
    {%- assign ratingName = "Grapefruit" -%}
{% elsif include.rating == "b" %}
    {%- assign ratingName = "Peach" -%}
{% elsif include.rating == "c" %}
    {%- assign ratingName = "Plum" -%}
{% elsif include.rating == "d" %}
    {%- assign ratingName = "Eggplant" -%}
{% elsif include.rating == "f" %}
    {%- assign ratingName = "Durian" -%}
{% endif %}

<img src="{{imageSrc}}" width="40" title="{{ rating | upcase }}- {{ ratingName }}" title="{{ rating | upcase }}- {{ ratingName }}"/>

{% if include.showRatingLetter %}
    {{ rating | upcase }}
{% endif %}

{% if include.showRatingName %}
    - {{ ratingName }}
{% endif %}
