
{%- assign rating = include.rating | upcase -%}
{%- assign imageSrc = {{site.baseurl}} -%}
{%- assign imageSrc = imageSrc | append: "/assets/img/systems/ratings/" -%}
{%- assign imageSrc = imageSrc | append: rating | downcase -%}
{%- assign imageSrc = imageSrc | append: "-400x400.png" -%}
{%- assign ratingName = "[unknown]" -%}

{%- if rating == "A" -%}
    {% assign ratingName = "Grapefruit" -%}
{%- elsif rating == "B" -%}
    {% assign ratingName = "Peach" -%}
{%- elsif rating == "C" -%}
    {% assign ratingName = "Plum" -%}
{%- elsif rating == "D" -%}
    {% assign ratingName = "Eggplant" -%}
{%- elsif rating == "F" -%}
    {% assign ratingName = "Durian" -%}
{%- endif -%}

{%- if include.rating.size > 0 -%}
    <span class="rating-legacy" >
        <img src="{{imageSrc}}" width="40" title="{{ rating }} - {{ ratingName }}" title="{{ rating }} - {{ ratingName }}"/>

        {%- if include.showRatingLetter %}
            {{ rating }}
        {%- endif %}

        {% if include.showRatingName -%}
            - {{ ratingName }}
        {% endif -%}
    </span>
{%- else -%}
    --
{%- endif -%}
