{%- assign chipAmount = include.chipAmount -%}

{% if chipAmount > 0 %}
    {%- assign imgUrl = "chip-1-blank.svg" -%}

    {% if chipAmount >= 1000 %}
        {%- assign imgUrl = "chip-1000-blank.svg" -%}
    {% elsif chipAmount >= 500 %}
        {%- assign imgUrl = "chip-500-blank.svg" -%}
    {% elsif chipAmount >= 100 %}
        {%- assign imgUrl = "chip-100-blank.svg" -%}
    {% elsif chipAmount >= 25 %}
        {%- assign imgUrl = "chip-25-blank.svg" -%}
    {% elsif chipAmount >= 5 %}
        {%- assign imgUrl = "chip-5-blank.svg" -%}
    {% endif %}
    {%- assign imgUrl = imgUrl | prepend: "/assets/img/chips/" | prepend: site.baseurl -%}
    <img src="{{ imgUrl }}" title="${{chipAmount}}" class="chip-xs" />
    ${%- include format-number.html number=chipAmount -%}<br/>
{% endif %}
