{% if include.rating == 5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-50-100x20.png" title="5 out of 5 stars" />
{% elsif include.rating == 4.5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-45-100x20.png" title="4.5 out of 5 stars" />
{% elsif include.rating == 4 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-40-100x20.png" title="4 out of 5 stars" />
{% elsif include.rating == 3.5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-35-100x20.png" title="3.5 out of 5 stars" />
{% elsif include.rating == 3 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-30-100x20.png" title="3 out of 5 stars" />
{% elsif include.rating == 2.5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-25-100x20.png" title="2.5 out of 5 stars" />
{% elsif include.rating == 2 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-20-100x20.png" title="2 out of 5 stars" />
{% elsif include.rating == 1.5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-15-100x20.png" title="1.5 out of 5 stars" />
{% elsif include.rating == 1 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-10-100x20.png" title="1 out of 5 stars" />
{% elsif include.rating == 0.5 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-05-100x20.png" title="0.5 out of 5 stars" />
{% elsif include.rating == 0 %}
    <img src="{{site.baseurl}}/assets/img/ratings/rating-00-100x20.png" title="0 out of 5 stars" />
{% else %}
    <span class="amt-neg">{{ include.rating }}</span>
{% endif %}
