{%- assign numberText = include.number | prepend: "," | append: "," -%}
<!--
{%- assign spotsGreen = "999,0,00,000,9999" | split: "," -%}
{%- assign spotsRed = "999,1,3,5,7,9,12,14,16,18,19,21,23,25,27,30,32,34,36,9999" | split: "," -%}
{%- assign isGreenSpot = spotsGreen | where: "", numberText -%}
{%- assign isRedSpot = spotsRed | where: "", numberText -%}
-->
{%- assign isGreenSpot = "999,0,00,000,9999" | split: numberText -%}
{%- assign isRedSpot = "999,1,3,5,7,9,12,14,16,18,19,21,23,25,27,30,32,34,36,9999" | split: numberText -%}

{%- assign cssClass = include.class | default: "roulette-spot" -%}
{%- assign spotSuffix = "b" -%}
{%- assign spotColor = "Black" -%}

{%- if isGreenSpot.size > 1 -%}
    {%- assign spotSuffix = "g" -%}
    {%- assign spotColor = "Green" -%}
{%- elsif isRedSpot.size > 1 -%}
    {%- assign spotSuffix = "r" -%}
    {%- assign spotColor = "Red" -%}
{%- endif -%}

{%- assign imageUrl = site.baseurl -%}
{%- assign imageUrl = imageUrl | append: "/assets/img/roulette/" -%}
{%- assign imageUrl = imageUrl | append: include.number -%}
{%- assign imageUrl = imageUrl | append: "_" -%}
{%- assign imageUrl = imageUrl | append: spotSuffix -%}
{%- assign imageUrl = imageUrl | append: ".svg" -%}
{%- assign imageTitle = include.number | append: " " | append: spotColor -%}
<img src="{{- imageUrl -}}" class="{{- cssClass -}}" alt="{{- imageTitle -}}" title="{{- imageTitle -}}" />
