---
layout: roulette-system
title: Cats Have Nine Lives - Roulette System Review
---
<p>
    This is a moronic 
    {% include roulette-system-type.html type="Multi-Leg" %}
    system where you start out with bets on all 6 Dozen/Column
    bets.
</p>
<p>
    You keep betting the 12 number bets until they hit. When you hit
    your bet, then take it down. You start
    off with $10 on each bet, then increase to $20, then $40, then
    $60, then $80, then $110, then $160, then $240. Quit when you've
    hit all 6 bets.
</p>
<p>
    Don't bother making the first bet. When you 
</p>

{% include roulette-bet-nullification.html %}
