---
layout: roulette-system
title: Sit Back & Relax - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Positive Progression" %}
    system.
</p>
<p>
    The stakes are simply too high and there's TOO much of a hedge on 
    the 
    {% include roulette-spot.html number="0" -%}/
    {%- include roulette-spot.html number="00" -%}.
</p>
<p>
    The big hits were just lucky. And despite winning $3,000 in back-to-back
    JACKPOT hits, we were only up 
    {% include win-loss-amount.html amount=1100 %} at the end.
</p>