---
layout: roulette-system
title: Holy Splits ✝️ - Roulette System Review
---
<p>
    You can save a lot of time by just betting $200 on one
    column or dozen and $150 on another. You'll get the same results
    with less "reach-around".
</p>
<p>
    Check out this super simple version of this system:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2021-09-17/01-rba-modified-600x429.png" alt="Just 2 bets instead of 13." />
    <figcaption>
        Why waste time with all those split bets? Just use this betting pattern instead.
    </figcaption>
</figure>
<p>
    This betting pattern is easier to make and you will know how much you won without looking at
    the table.
</p>
<p>
    {% include roulette-spot.html number="1" %} -
    {% include roulette-spot.html number="12" %}
    wins
    {% include win-loss-amount.html amount=250-%}.
</p>
<p>
    {% include roulette-spot.html number="13" %} -
    {% include roulette-spot.html number="24" %}
    wins
    {% include win-loss-amount.html amount=100-%}.

</p>
