---
layout: roulette-system
title: Lululemon Spree - Roulette System Review
---
<p>
    This is just a simple
    {% include roulette-system-type.html type="Flat Bet" %}
    system similar to 
    {% include roulette-system-link.html reviewUrl="2021-09-03-Double-Street-Martingale" -%}.
    Bet $500 to win $100.
</p>
<p>
    This is a get in, get out system. Just try this for 1 or 2 spins and get out.
    It's a <i>VERY</i> risky system for trying to win a hefty amount quickly. Of
    course, the longer you play, the more likely you are to get whacked. And the 8
    number hole is a lot larger than it seems.
</p>
<p>
    They used a series of "friends" with this system and they bought in several
    times. You're supposed to walk when you're up
    {% include win-loss-amount.html amount=300 -%}, or when you lose your
    $1500 bankroll.
</p>
