---
layout: roulette-system
title: KTS Big Brain - Roulette System Review
---
<p>
    This is a flat betting strategy. Bet $19 on
    {% include roulette-spot.html number="1" %} through {% include roulette-spot.html number="18" -%},
    $10 on the 3rd Dozen, $1 on 
    {% include roulette-spot.html number="26" -%}, {% include roulette-spot.html number="29" -%},
    {% include roulette-spot.html number="32" -%}, and {% include roulette-spot.html number="35" -%},
    and $2 on each of the 1st and 3rd columns.
    And then there's a final $1 straight-up bet that you can put in the 3rd dozen on one of the 8 uncovered numbers.
</p>
<p>
    There are 4 whacks:
    {% include roulette-spot.html number="0" -%}, {% include roulette-spot.html number="00" -%},
    {% include roulette-spot.html number="20" -%}, and {% include roulette-spot.html number="23" -%},
    and 4 mini-whacks:
    {% include roulette-spot.html number="19" -%}, {% include roulette-spot.html number="21" -%},
    {% include roulette-spot.html number="22" -%}, and {% include roulette-spot.html number="25" -%},
    where you only lose 
    {% include win-loss-amount.html amount=-32 -%}.
</p>

