---
layout: roulette-system
title: Shapes and Paroli - Roulette System Review
---

<p>
    I'm not really sure why my numbers don't match the actual win. They should have been up
    {% include win-loss-amount.html amount=195 %}
    by my calculations, but they were up
    {% include win-loss-amount.html amount=265 %} somehow.
</p>
<p>
    Some of the spins where I think they messed up the win/loss display:
</p>
<table class="condensed-table">
    <tr>
        <th>
            Spin #
        </th>
        <th>
            #
        </th>
        <th>
            CEG's displayed win/loss
        </th>
        <th>
            My calculated win/loss
        </th>
    </tr>
    <tr>
        <td class="cell-center">
            4
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="3" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=120 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=90 %}
        </td>
    </tr>
    <tr>
        <td class="cell-center">
            5
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="15" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=275 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=180 %}
        </td>
    </tr>
    <tr>
        <td class="cell-center">
            6
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="18" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=-625 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=-540 %}
        </td>
    </tr>
    <tr>
        <td class="cell-center">
            7
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="32" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=675 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=780 %}
        </td>
    </tr>
    <tr>
        <td class="cell-center">
            8
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="5" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=215 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=195 %}
        </td>
    </tr>
    <tr>
        <td class="cell-center">
            11
        </td>
        <td class="cell-center">
            {% include roulette-spot.html number="34" %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=275 %}
        </td>
        <td class="cell-center">
            {% include win-loss-amount.html amount=90 %}
        </td>
    </tr>
</table>
<p>
    I'm not sure how the numbers got so messed up. Either I can't see the right amounts or 
    Lauren bet the wrong amounts on some of the numbers.
</p>