---
layout: roulette-system
title: Diamond Cross - Roulette System Review
---

<p>
    This system is absolutely bonkers. It is $260 per spin, and $150 of it is locked up in
    nullified bets!
</p>
<p>
    Here's an example of a modified system that uses only $108 in bets that achieves almost
    the same results for all numbers, but saves you over $150 on
    {% include roulette-spot.html number="0" %} and
    {% include roulette-spot.html number="00" -%}.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-02-14/01-modified-system-800x440.png" alt="Bet $108 instead of $260 with almost the same payouts!" />
    <figcaption>
        Using this betting pattern will save you over $150 when 
        {% include roulette-spot.html number="0" %} and
        {% include roulette-spot.html number="00" %}
        hit.
    </figcaption>
</figure>
<p>
    The payouts are nearly identical, but you save $8 in EV per spin!
</p>
