---
layout: roulette-system
title: Beat It - Roulette System Review
math: true
---
<p>
    The Roulette Bet Analyzer doesn't support the
    {% include roulette-spot.html number="0" -%}-{%- include roulette-spot.html number="2" %}
    Split or the
    {% include roulette-spot.html number="00" -%}-{%- include roulette-spot.html number="3" %}
    Split. I may add this in the near future.
</p>
<p>
    Instead of the $5 split, I just put $2.50 on the
    {% include roulette-spot.html number="0" %}
    and the
    {%- include roulette-spot.html number="2" -%}.
</p>
