---
layout: roulette-system
title: Grower not a Shower 2.0 - Roulette System Review
math: true
---
<p>
    This is a different system than the
    <a href="/gambling/roulette/systems/2022-01-22-Grower-not-a-Shower">system reviewed on Jan 22, 2022</a>
    with the same name.
</p>
<p>
    Bets:
</p>
<ul>
    <li>
        Bet $15 on any of the even money bets.
    </li>
    <li>
        Bet $15 one two Dozens.
    </li>
    <li>
        Bet $20 two Columns.
    </li>
    <li>
        Bet $5 on all the reds in a snake pattern, plus $5 on the
        {% include roulette-spot.html number="0" -%}-{%- include roulette-spot.html number="00" %}
        split.
    </li>
</ul>
<p>
    This system seems like Hopscotch, but with the snake pattern on the 4th tier bet. Can't
    say I'm a fan of the snake bet.
</p>
<p>
    Alex was up
    {% include win-loss-amount.html amount=80 %}
    at the end, but I believe he should have been up
    {% include win-loss-amount.html amount=85 -%}.
</p>
