---
layout: roulette-system
title: Rail Grinder - Roulette System Review
---
<p>
    You're supposed to stop when you get 7 wins in the first two columns
    ({%- include win-loss-amount.html amount=14 %}
    win). Alex just kept playing.
</p>
<p>
    I gave this system a D because it could just bet on Dozens instead with a $24 bet on the
    {% include roulette-spot.html number="7" %} to {% include roulette-spot.html number="12" -%},
    Double Street and an $8 Split bet on
    {% include roulette-spot.html number="5" -%}-{%-include roulette-spot.html number="6" -%}.
</p>

