---
layout: roulette-system
title: In a Clint Eastwood Accent - Roulette System Review
---
<p>
    There was so much needless confusion at the end of this video.
</p>
<p>
    They were going off of the system author's calculation when
    Alex said the
    {% include roulette-spot.html number="17" %} paid $1440.
</p>
<p>
    It does not pay $1440. It pays $1360 and the $1440 amount includes the $80 in split bets.
    The overall win for the 
    {% include roulette-spot.html number="17" %} is $1010.
</p>
<p>
    They'd know this if they had used the
    <a href="{{site.baseurl}}/gambling/roulette/bet-analyzer/">Roulette Bet Analyzer</a>.
</p>