---
layout: roulette-system
title: Spread them Cheeks - Roulette System Review
---
<p>
    This is a goofy
    {% include roulette-system-type.html type="Martingale" %}
    system where you're beting on 12 numbers.
</p>
<p>
    You're supposed to double your bets when you lose, but David
    4x'ed his bet going from $48 to $192.
</p>
<p>
    This is a 
    {% include roulette-system-type.html type="Martingale" %}
    system, but Martingale does best with even money bets. Here, you're 
    winning 2 to 1. This is not good.
</p>
