---
layout: roulette-system
title: Martingale Jackpot - Roulette System Review
---
<p>
    I'm giving this system a 
    {% include ceg-system-rating.html rating="D" showRatingLetter=true showRatingName=false -%},
    because it's just too many bets, and a lot of them can be consolidated without
    affecting the overall win/losses.
</p>
<p>
    Here's a much simpler betting pattern with similar results that is a lot easier to bet:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-08-29/01-rba-IMPROVED-800x440.png" alt="Similar betting pattern" />
    <figcaption>
        This betting pattern is a lot easier to make.
    </figcaption>
</figure>
<ul>
    <li>
        You still push on 21 numbers.
    </li>
    <li>
        You still lose
        {% include win-loss-amount.html amount=-12 %}
        on 9 numbers.
    </li>
    <li>
        You still win
        {% include win-loss-amount.html amount=6 %}
        on 6 numbers.
    </li>
    <li>
        You still win
        {% include win-loss-amount.html amount=24 %}
        on 2 numbers.
    </li>
</ul>
<p>
    This betting pattern is a lot easier to make AND it will be easier to remember which numbers
    win, which ones lose, and which ones push.
</p>
