---
layout: roulette-system
title: No F's Given - Roulette System Review
---
<p>
    They really messed up in the calculation of payouts for this system. All the straight-up bet payouts are being
    under paid in the video because the system author didn't remember to include the bet amount.
</p>    
<p>
    Hitting the
    {% include roulette-spot.html number="17" %} should have paid
    {% include win-loss-amount.html amount=520 %}
    instead of $500.
</p>
<p>
    Hitting the
    {% include roulette-spot.html number="6" %} should have paid
    {% include win-loss-amount.html amount=124 %}
    instead of $115.
</p>
<p>
    Hitting the
    {% include roulette-spot.html number="9" %} should have paid
    {% include win-loss-amount.html amount=52 %}
    instead of $45.
</p>
<p>
    Hitting the
    {% include roulette-spot.html number="14" %} should have paid
    {% include win-loss-amount.html amount=52 %}
    instead of $45.
</p>
<p>
    Hitting the
    {% include roulette-spot.html number="8" %} should have paid
    {% include win-loss-amount.html amount=52 %}
    instead of $45.
</p>

