---
layout: roulette-system
title: All the Bases - Roulette System Review
math: true
---

<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    Here is a superior betting pattern with identical payouts, but you save $30 when
    {% include roulette-spot.html number="0" %} and {% include roulette-spot.html number="00" %}
    hit:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-10-27/01-rba-improved-800x662.png" alt="Bet nullifications removed" />
    <figcaption>
        This betting pattern has identical payouts, but you save $30 when
        {% include roulette-spot.html number="0" %} and {% include roulette-spot.html number="00" %}
        hit.
    </figcaption>
</figure>