---
layout: roulette-system
title: Who Do We Appreciate? - Roulette System Review
---

<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
    There's $1.67 in bets that can be removed
    on the 36 numbers: all numbers besides
    {% include roulette-spot.html number="25" %} and
    {% include roulette-spot.html number="27" -%}.
</p>


<p>
    You can get the same payouts by betting the following way:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-04-30/01-rba-IMPROVED-800x440.png" alt="Bet $79.90 instead of $140." />
    <figcaption>
        This revised system will save you $60 when the
        {% include roulette-spot.html number="25" %} or
        {% include roulette-spot.html number="27" %} hit. All other payouts are nearly identical.
    </figcaption>
</figure>
