---
layout: roulette-system
title: All the Bases - Roulette System Review
math: true
---
{% include roulette-bet-nullification.html %}

<p>
    Here is a superior betting pattern with identical payouts, but you save $30 when
    {% include roulette-spot.html number="0" %} and {% include roulette-spot.html number="00" %}
    hit:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-10-27/01-rba-improved-800x662.png" alt="Bet nullifications removed" />
    <figcaption>
        This betting pattern has identical payouts, but you save $30 when
        {% include roulette-spot.html number="0" %} and {% include roulette-spot.html number="00" %}
        hit.
    </figcaption>
</figure>