---
layout: roulette-system
title: The King's Castle - Roulette System Review
math: true
---
<p>
    Too many bets. There's a statistically congruent system that you can make with just 3 bets. That's
    why I give this sytem a
    {% include ceg-system-rating.html rating="D" showRatingLetter=true showRatingName=true -%}.
</p>
<p>
    You can achieve a Congruent system by betting $50 on the
    {% include roulette-spot.html number="1" -%}-{%- include roulette-spot.html number="4" %}
    Split, $14 on the
    {% include roulette-spot.html number="2" -%}-{%- include roulette-spot.html number="3" -%}-
    {%- include roulette-spot.html number="5" -%}-{%- include roulette-spot.html number="6" %}
    Corner, and $60 on the 
    {% include roulette-spot.html number="7" -%}-{%- include roulette-spot.html number="12" %}
    Double Street.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2022-10-26/01-rba-congruent-800x662.png" alt="Congruent betting pattern" />
    <figcaption>
        This system still has 26 whacks, 2 $776 jackpots, 6 $236 wins, and 4 $2 wins.
    </figcaption>
</figure>
<p>
    If you're not familiar with what <i>Congruent</i> betting patterns are, please watch this video:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8YOLcGW_5u4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>