---
layout: roulette-system
title: Probability Fool - Roulette System Review
---
<p>
    You're supposed to Martingale when you lose, but Alex won all 7 bets.
</p>
<p>
    The video incorrectly stated the wins for the numbers 
    {% include roulette-spot.html number="4" %} through {% include roulette-spot.html number="9" %}
    and
    {% include roulette-spot.html number="16" %} through {% include roulette-spot.html number="21" %},
</p>
<p>
    The video said they won 
    {% include win-loss-amount.html amount=20 -%},
    but they won 
    {% include win-loss-amount.html amount=22 -%}.
</p>
<p>
    All of the Straight-up bets besides the {% include roulette-spot.html number="00" %}
    can be consolidated.
</p>
<p>
    {% include roulette-spot.html number="4" %} through {% include roulette-spot.html number="9" %}
    can be changed to a $7 Double-street bet.
</p>
<p>
    {% include roulette-spot.html number="16" %} through {% include roulette-spot.html number="21" %}
    can be changed to a $7 Double-street bet.
</p>
<p>
    The {% include roulette-spot.html number="29" -%}, {% include roulette-spot.html number="30" -%},
    {% include roulette-spot.html number="32" -%}, and {% include roulette-spot.html number="33" %} bets
    can be changed to a $5 Corner bet.
</p>
