---
layout: roulette-system
title: Falcon's Revenge - Roulette System Review
---

<p>
    $16,000 buy in and only 2 bullets? Automatic 
    {% include ceg-system-rating.html rating="F" showRatingLetter=true showRatingName=false -%}!
</p>
<p>
    This system is ridiculously high stakes for really no reason. And then Alex goes balls to the wall and
    adds a 4x
    {% include roulette-system-type.html type="Martingale" %}
    to it!
</p>
<p>
    I'm not adding the betting pattern image for the 4x tier because it literally broke the formatting
    of the Roulette Bet Analyzer... The numbers were too wide and it broke my template that I use
    for cropping and overlaying elements on the image... Just use your imagination and multiply
    everything in the 1st tier by 4.
</p>
