---
layout: roulette-system
title: Keeping It Up 🔷 - Roulette System Review
---

<p>
    Bet $300 across 5 Double Streets ($60 each). When that wins, play the $10/$10/$15/$10/$15 Double Street
    bets with the $60 win (a.k.a. the "casino's money").
</p>
<p>
    Reset to step 1 if you lose.
</p>
<p>
    I don't really like or dislike this system. I think it's pretty hard to recover once you get whacked, though.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating=d showRatingLetter=true %}
    because you really only have one bullet. Starting with $600, I'd upgrade this to a
    {% include ceg-system-rating.html rating=c showRatingLetter=true -%}.
</p>
