---
layout: roulette-system
title: Chamba Slide 🛝 - Roulette System Review
---

<p>
    Start with a blank spin, or just obeserve the previous spin.
</p>
<p>
    Bet $120 on the 2 dozens that didn't hit. Bet $20 on the 0/00 Split, and $10 each on 6 numbers in the
    dozen that just hit. You can choose to avoid the last number that hit if you wish.
</p>
<p>
    When you miss, TEN TIME MARTINGALE!!!
</p>
<p>
    This system is just reckless. It almost got an
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=true -%}, but it is
    definitely a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=true %} minus or
    lower.
</p>
