---
layout: roulette-system
title: Imperial Fortress - Roulette System Review
---

<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-06-23/01-rba-improved.png" alt="Bet $320 instead of $410 and save $90 when 13 and 22 hit." />
    <figcaption>
        This is an IMPROVED betting scheme that pays the same as the original system, but saves
        $90 when
        {% include roulette-spot.html number="13" %} and
        {% include roulette-spot.html number="22" %} hit.
    </figcaption>
</figure>
