---
layout: roulette-system
title: Triplets Passive Income - Roulette System Review
math: true
---

<p>
    I'm only providing graphics for the first $10 tier. The other tiers are just 3x multiples of
    the same bet. You win 
    {% include win-loss-amount.html amount=5 -%},
    {% include win-loss-amount.html amount=15 -%},
    {% include win-loss-amount.html amount=45 -%}, and
    {% include win-loss-amount.html amount=135 -%}.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/144UmacWSkc?clip=UgkxAAAoTodDXvOkmtdbtRCoRED1UgFdJ37f&amp;clipt=EKi6BBigkAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>
    In the video, Alex asked me what the probability is for losing the two double street bets 4 times
    in a row (essentially busting out). Here's the calculation:
</p>
<p>
    \begin{align}
    P_{4\,losses\,in\,a\,row} & = \frac{14}{38}^4 \\
    \\
    & \approx {0.36842}^4 \\
    \\
    & \approx 0.0184237 \\
    \\
    & \approx 1.84237% \\
    \end{align}
</p>
<p>
    Which means that you'd lose 4 in a row once every 54.3 attempts. For every attempt, you'll either win
    $5 or you will lose $400.
</p>
<p>
    For Single-Zero, the probability of losing four bets in a row is...
</p>
<p>
    \begin{align}
    P_{4\,losses\,in\,a\,row} & = \frac{13}{37}^4 \\
    \\
    & \approx {0.351351}^4 \\
    \\
    & \approx 0.0152394 \\
    \\
    & \approx 1.52394% \\
    \end{align}
</p>
<p>
    Which means that you'll lose 4 in a row once every 65.6 attempts.
</p>
<p>
    I'm not sure why the system author made $810 the buy in. It seems like if you wanted to bet another tier
    after betting $270, the next tier would be $810, but the way this system stands, you don't have enough to
    make this bet. You'd bet better off buying in for $400 or for $1210 depending on whether or not you wanted
    to try a 5th tier.
</p>
