---
layout: roulette-system
title: Follow the Wheel for the Comp - Roulette System Review
---

<p>
    No need to bet 15x$10 bets. Bet $120 on a Dozen and bet $30 on an uncovered Street.
</p>
<p>
    Here's a congruent version of the 4th tier bet that only uses 4 bets instead of <b>SIXTEEN</b>:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-05-17/01-rba-alternate-800x572.png" alt="Make 4 bets instead of 16" />
    <figcaption>
        You still have 10
        {% include win-loss-amount.html amount=260 %}
        Jackpots, 5
        {% include win-loss-amount.html amount=110 %}
        wins, 14
        {% include win-loss-amount.html amount=-100 %}
        losses, and 9 WHACKS.
    </figcaption>
</figure>