---
layout: roulette-system
title: Banana Single Splits 🍌 - Roulette System Review
---

<p>
    {% include roulette-system-type.html type="Flat Bet" %} or
    {% include roulette-system-type.html type="Martingale" -%}.
</p>
<p>
    You're supposed to put $10 on the "same color (vertical) splits" which are
    the 8/11, 9/12, 10/13, 16/19, 17/20, 18/21, 26/29, 27/30, and 28/31 (9 total bets).
    Why do we pick these numbers? No one knows.
</p>
<p>
    After that, pick 8 numbers straight up and put $5 on each. I picked numbers that are in
    the same row as the chosen splits to make consolidation easier. The Straight-up bets I chose
    are different than what Alex picked.
</p>
<p>
    You're essentially betting $5 on 26 different numbers. Picking the
    same color splits is just a waste of time.
</p>
<p>
    Here's a congruent version of this system that only uses 2 bets:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-07-14/01-rba-alternate.png" alt="Make 3 bets instead of 17" />
    <figcaption>
        You still have 26 $50 wins, and 12 Whacks.
    </figcaption>
</figure>
