---
layout: roulette-system
title: Good vs. Evil 👼👿 - Roulette System Review
---

<p>
    Betting pattern is supposed to look like a crucifix and an inverted crucifix.
</p>
<p>
    Flip back and forth between the two patterns when you hit one of your 7 whacks.
</p>
<p>
    Alex was down 
    {% include win-loss-amount.html amount=-215 %}
    at the end, but he miscounted. He thought he had an extra Green chip, so he thought
    he was only down
    {% include win-loss-amount.html amount=-190 -%}.
</p>
<p>
    Alex should have been down 
    {% include win-loss-amount.html amount=-210 -%},
    but he was short changed $5 on spin number 4, when Dennis only paid him $25 instead of $30.
</p>
