---
layout: roulette-system
title: Lust Enhancer ❤️‍🔥❤️‍🔥 - Roulette System Review
math: true
---

<p>
    Betting system where you move the even money bets around and
    {% include roulette-system-type.html type="Martingale" %}
    when you lose.
</p>
<p>
    Betting pattern:
    <ul>
        <li>
            Low (1-18)
        </li>
        <li>
            Black
        </li>
        <li>
            Even
        </li>
        <li>
            High (19-36)
        </li>
        <li>
            Red
        </li>
        <li>
            Odd
        </li>
    </ul>
</p>
<p>
    Keeping track of the even money bets is a waste of time, just pick one and be done with it.
</p>
<p>
    I'm only providing a betting graphic for the first tier, because they're all just doubled up
    Martingale even money bets.
</p>
<p>
    If you just picked an Even money bet or if you just picked a random one, I'd give this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true %}
    or a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true -%}.
</p>
<p>
    In the video, <a href="https://www.youtube.com/watch?v=IHCKOrHkCCw&t=360" >Alex asked me to calculate the probability of going bust using this system.</a>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IHCKOrHkCCw?clip=UgkxBmDKy_Yqh6V7JuCWL1bw0ZWIh1vliu2j&amp;clipt=EKiEFhi40hY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>
    So here's my response:
</p>
<blockquote>
    With this system, you have 212 units... which is bizarre for a Martingale system.<br/>
    You can only lose 7 in a row. You won't be able to make an 8th bet.<br/>
    Losing 7 in a row, means you'll be down 127 units or $1270. You won't have enough money to bet $1280 after that.<br/>
    <br/>
    So, losing 7 in a row, the probability is \( {\frac{20}{38}} ^7 \) which is 0.0112 or 1.12% or 1 out of every 89 attempts.<br/>
    <br/>
    It makes absolutely no difference that you're moving the bet around. It's statistically the same as if you just bet Black.
</blockquote>
