---
layout: roulette-system
title: Nightingale 🌙 - Roulette System Review
---

<p>
    This is a <i>twist</i> on the system
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" -%}.
</p>
<p>
    This system doesn't really make sense.
</p>
<p>
    Progression is $10, $20, $30 (?)... Alex was all over the map with the bets
    and I don't really understand why the bets seem to increase at different rates.
</p>
<p>
    The point of
    {% include roulette-system-type.html type="Martingale" %}
    is to prevent getting wiped out, not to springboard a win, so I don't see why
    this system would be attractive to anyone. You're increasing your starting bet
    and betting <i>way</i> more than you might be down, which adds a ton of risk
    to a system that is meant to be low risk.
</p>
