---
layout: roulette-system
title: Step-Sister's Secret System - Roulette System Review
---

<p>
    This is a 4 Step system
</p>
<ul>
    <li>
        Bet $25 on any Even Money bet
    </li>
    <li>
        When you win, bet $5 on 10 non-overlapping Splits across 2 Dozens (They can really be any 10 non-overlapping Splits)
    </li>
    <li>
        When that hits, "pocket" $20 and bet $35 on two Dozens or Columns (non-overalpping)
    </li>
    <li>
        When that hits, YOLO the $100 on a wacky wacky betting pattern... 
    </li>
</ul>

<p>
    Here's a congruent version of the 4th tier bet that only uses 4 bets instead of <b>EIGHTEEN</b>:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-04-12/01-rba-alternate-800x662.png" alt="Make 4 bets instead of 18" />
    <figcaption>
        You still have 4
        {% include win-loss-amount.html amount=140 %}
        Jackpots, 8
        {% include win-loss-amount.html amount=80 %}
        wins, 8
        {% include win-loss-amount.html amount=50 %}
        wins, and 18 WHACKS.
    </figcaption>
</figure>
