---
layout: roulette-system
title: Modified Tie Fighter turn to the Dark Side - Roulette System Review
---

<p>
    After winning 4 x $50 from the first tier (Modified Tie Fighter), then proceed to tier 2 and up on wins.
    When you lose, revert to tier 1.
</p>
<p>
    I like this system, but the sector betting tier makes me drop the score from a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=true %}
    to a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=true -%}.
</p>
