---
layout: roulette-system
title: King of the Streets 2.0 - Roulette System Review
---

<p>
    Ugh...They're betting on 36 numbers again.
</p>
<p>
    This is a <i>twist</i> on the system <a href="{{site.baseurl}}/gambling/roulette/systems/2023-01-26-King-of-the-Streets/">King of the Streets</a>.
</p>

{% include roulette-bet-nullification.html %}

<p>
    Here's a better way to achieve these payouts. You win the EXACT SAME AMOUNT for all numbers, but SAVE $30 when
    {% include roulette-spot.html number="0" %} and
    {% include roulette-spot.html number="00" %}
    hit.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-03-01/01-rba-modified-system-800x662.png" alt="Bet $110 instead of $140 and save $30 when 0 and 00 hit." />
    <figcaption>
        Here's a superior betting pattern that will achieve the same results or better.
    </figcaption>
</figure>
