---
layout: roulette-system
title: Imperial Fortress 👑 - Roulette System Review
---

{% include roulette-bet-nullification.html %}

<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2023-06-23/01-rba-improved.png" alt="Bet $320 instead of $410 and save $90 when 13 and 22 hit." />
    <figcaption>
        This is an IMPROVED betting scheme that pays the same as the original system, but saves
        $90 when
        {% include roulette-spot.html number="13" %} and
        {% include roulette-spot.html number="22" %} hit.
    </figcaption>
</figure>
