---
layout: roulette-system
title: Fuck Around and Find Out 🖕🖕 - Roulette System Review
---
<p>
    When you lose, your next bet is to bet the 3 splits that touch the losing number,
    but do NOT cross over into the first column ("the X Axis"). Win or lose, go back to
    step 1 after that bet.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-50 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-200 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

