---
layout: roulette-system
title: 5 Split Street 🛣️🛣️🛣️🛣️🛣️ - Roulette System Review
---
<p>
    Tier 1: Bet $1 each on five Streets, and $1 each on five Splits, not overlapping with the Street bets.
    If you lose, then D'Alembert by adding another $1 on all ten bets. When you hit a Street, then remove
    $1 from every bet (until there's just $1 left). When you hit a Split bet, always reset to tier 1.
</p>
<p>
    Walk when you're up $100 or more.
</p>
<p>
    This is a good low level system.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being up {% include win-loss-amount.html amount=26 -%}.
</p>
