---
layout: roulette-system
title: Slot Machine Roulette 🎰🎰 - Roulette System Review
---

<p>
    Flat bet high roller, high coverage, low payout system.
</p>
<p>
    Alex flipped between the 3 different bets for this system.
    I don't think he realized the payouts were different with
    the changed versions.
</p>

<!-- 
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
-->
