---
layout: roulette-system
title: C in my C - Roulette System Review
---
<p>
    A.K.A. "Color in my Column"
</p>
<p>
    This is a Positive Progression system. When you win the small bet, press your
    winnings for the next tier. If you push, stay on the same level.
    {% include win-loss-amount.html amount=35 %} or push, stay on tier 2.
</p>
<p>
    On every tier, you're betting 2 units. You either get whacked, you push, you
    win 1 unit, or you win 3 units.
</p>
<p>
    If you hit a big jackpot, you can either reset to tier 1 or press the
    winnings.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
