---
layout: roulette-system
title: It's my B-day 🎂 - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Martingale" %}
    system, but you wait for 3x losses before you double up.
</p>
<p>
    When you win/recover, reset to the first tier.
</p>
<p>
    I don't like Martingaling with such a high amount with SO many whacks. There's
    not a high potential for winning a lot, and there isn't enough coverage to ensure
    a small win, either. It's the WORST of two worlds.
</p>
<p>
    Alex said he was down {% include win-loss-amount.html amount=-560 -%},
    but his math was wrong. He was only down
    {% include win-loss-amount.html amount=-460 -%}.
</p>
