---
layout: roulette-system
title: Five Alive 👋 - Roulette System Review
---

<p> 
    A flat betting system where they're betting on 37 numbers. For some reason, there was a $25 discrepancy
    between my total and Alex's total. He said he was up $325, but I have him being up only $300.
</p>
<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    You can have the same exact results and save $225 when 
    {% include roulette-spot.html number="0" %} and
    {% include roulette-spot.html number="00" %} hit by just putting $25 on the 1st Dozen and removing the corner bets.
</p>

<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2024-01-29/01-rba-alternate.png" alt="Save $225 when 0 or 00 hit" />
    <figcaption>
        You can save $225 when
        {% include roulette-spot.html number="0" %} and
        {% include roulette-spot.html number="00" %}
        hit.
    </figcaption>
</figure>


