---
layout: roulette-system
title: EDM - Roulette System Review
---

<p>
    EDM stands for "Each Dozen Middle". This is a Flat Bet system that
    is supposed to be a good "comp system".
</p>
<p>
    Bet 3 Double Streets: $30, $30, and $50. And bet 7 Split bets. You can
    move these all around however you want, just make sure there are no
    overlaps.
</p>
<p>
    There are 6 wins of 
    {% include win-loss-amount.html amount=120 %} and 6 losses of
    {% include win-loss-amount.html amount=-180 %}. The rest are just
    pushes.
</p>
<p>
    I'm not really a fan of "comp systems".
</p>
