---
layout: roulette-system
title: $5 Baked Potato 🥔 - Roulette System Review
---
<p>
    This is a very good low limit system! I would only change some of the bets to make
    them easier to bet. For example for the first bet, I'd probably bet a Double Street and a Corner bet,
    instead of making 5 bets.
</p>
<p>
    Love the progressions here, but again, I'd make the bets simpler.
</p>
<p>
    Quite the discrepancy with this video. 
    Alex said he was up {% include win-loss-amount.html amount=208 -%},
    but I have him being up {% include win-loss-amount.html amount=209 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
