---
layout: roulette-system
title: Moca - Roulette System Review
---
<p>
    2 Step positive progression system.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-145 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-120 %} (my calculation).
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

