---
layout: roulette-system
title: Dynamic Recover Approach - Roulette System Review
---
<p>
    This is a Negative Progression system. They originally had all 3 small bets in
    the 2nd Dozen, but later they moved one of the small bets into the 1st Dozen,
    to help create a mega Jackpot. You can see the giant payout on Tier 3.
</p>
<p>
    When you get whacked, go to the next tier. On any win, reset to tier 1.
</p>
<p>
    You can walk when you hit a Jackpot.    
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=2105 -%},
    but I have him being up {% include win-loss-amount.html amount=2160 -%}.
</p>
