---
layout: roulette-system
title: Spin Off 3.0 - Roulette System Review
---
<p>
    Positive Progression (Spectrum) system. If you only win $25 on the first tier, go to tier 2.
    If you win $200, then go to tier 3. If you win on tier 2, also go to tier 3.
</p>
<p>
    On tier 1, you can bet on any Dozen and any Column.
</p>
<p>
    On tier 2, you can press either the Dozen or the Column.
</p>
<p>
    On tier 3, bet $10 on any 10 Splits.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
