---
layout: roulette-system
title: Double Barrel Shotgun 🛢️🛢️ - Roulette System Review
---

<p>
    When you win, proceed to the next step. When you lose, reset to tier 1. If you push
    stay at the current level.
</p>
<p>
    
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-395 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-360 %} (my calculation).
</p>
<!-- 
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->