---
layout: roulette-system
title: Robe System 👘 - Roulette System Review
---
<p>
    Positive Progression where you double up when you win. After you win both bets on the 3rd tier, reset.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=50 %} (Alex's total) versus
    {% include win-loss-amount.html amount=70 %} (my calculation).
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

