---
layout: roulette-system
title: Tiny Dancer 💃 - Roulette System Review
---
<p>
    Negative Progression system. When you lose 3x on a level, proceed to the next
    tier. Reset when you win.
</p>
<p>
    Not really sure what is going on with this sytem. At 9:41, it says Alex won
    {% include win-loss-amount.html amount=231 -%}, but I think that's the number
    of UNITS won. He was betting $5 units, so 5x231 is
    {% include win-loss-amount.html amount=1155 -%}.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
