---
layout: roulette-system
title: Spin Off 🎡 - Roulette System Review
---

<p>
    This system is a combo of 
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" %}
    and
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" -%}.
</p>
<p>
    A simple positive progression system. The only way I'd improve it is by just betting a single
    dozen on tier 3 or otherwise consolidate the 10 bets.
</p>

<!-- 
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
-->
