---
layout: roulette-system
title: 5Ds Climax - Roulette System Review
---

<p>
    Advance to the next tier when you win, reset to tier 1 when you lose.
</p>
<p>
    You can pick any 10 numbers for tier 3. You can slide around the bets on
    tiers 1 and 2. For tier 2, make sure you the corner bets overlap with the
    dozen bets.
</p>
<p>
    The editing is <b>REALLY</b> bad with this video. They uploaded it before they
    finished. There may have been missed spins...not sure. My total of Alex being down
    {% include win-loss-amount.html amount=-445 %} is way off of Alex's final loss of
    {% include win-loss-amount.html amount=-720 -%}.
</p>
<p>
    I <i>really</i> hate mixing
    {% include chip-amount.html chipAmount=25 %} chips and
    {% include chip-amount.html chipAmount=5 %} chips. I also don't like 
    risking so much on the first 2 tiers to just go for it on tier 3. Just
    cut out the first two steps.
</p>
