---
layout: roulette-system
title: Triple Kim Special - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Positive Progression" %}
    system that starts out as 
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" %}
    and launches into 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" -%}.
</p>
<p>
    Tier 1: Start out with three $50 even money bets.
</p>
<p>
    Win 0/3: Repeat tier 1.
</p>
<p>
    Win 1/3: Go to tier 2 (first step of Nolley Molley).
</p>
<p>
    Win 2/3: Go to tier 3 (?)
</p>
<p>
    Win 3/3: Go to tier 4: Spread $150 into 
</p>
