---
layout: roulette-system
title: Double Trouble 👯‍♂️ - Roulette System Review
---
<p>
    Martingale System. You make two bets on two dozens. One of the bets is the "constant", the other
    is a "floater". When you miss, move the floater to the most recent dozen. When 0/00 hit, then
    wait a spin. When you miss, you 4x Martingale. Walk when you're up $100.
</p>
<p>
    There is too much risk for such a small reward with this system. Not enough chance for a large
    payout with this system. Hence the poor score.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=410 %} (Alex's total) versus
    {% include win-loss-amount.html amount=230 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

