---
layout: roulette-system
title: Tiny Dancer 💃 - Roulette System Review
---
<p>
    Negative Progression system. When you lose 3x on a level, proceed to the next
    tier. Reset when you win.
</p>
<p>
    Not really sure what is going on with this sytem. at 9:41, it says Alex won
    {% include win-loss-amount.html amount=231 -%}, but he only bet nickles. Makes
    no sense. Lots of the bets and wins were really off.
</p>
<!--
<p>
    Quite the discrepancy with this video. 
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
