---
layout: roulette-system
title: $15 Fun - Roulette System Review
---
<p>
    Bet $15 on an even money bet. If that wins, bet $5 on 5 double streets. If you can win $5 x 2,
    then bet $25 on an even money bet.
</p>
<p>
    This seems like a huge waste of time. No opportunity to win big. Just a bunch of small bets.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

