---
layout: roulette-system
title: Unbreakable 7 ⛔⛓️‍💥 - Roulette System Review
---
<p>
    Negative Progression system. Just pick any 7 numbers and bet them straight-up.
    </p>
<p>
    Start with $1 per number, then $3, $5, $7, $13, $21, $35, $60, and $100.
</p>
<p>
    I don't like betting so many
    numbers straight-up. I'd probably bet at least a double-street, or I might just bet
    two Corners instead (changing the base bet size).
</p>
<p>
    I also think the progression is too long. I would only do 4 or 5 levels instead.
    9 levels is way too much.
</p>
<p>
    Alex just kept buying in for more trying to chase his losses.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
