---
layout: roulette-system
title: Comp Crusher ⚒️ - Roulette System Review
---
<p>
    After winning $30 on the first tier, bet the 2nd tier. After the 2nd tier wins 3 times, prorgress
    to the 3rd tier. After winning the 3rd tier, go to the 4th tier. If you win on step 4 (+60), go
    to step 5 or just pocket the winnings and start over. Go to step 1 on any loss.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

