---
layout: roulette-system
title: Roman Ladder 🇮🇹 - Roulette System Review
---

<p>
    Add a new $10 split until you're betting $170. Then ladder back down. I believe you're supposed to
    reset to the $140 bet after a whack.
</p>
<p>
    Alex modified this strategy on spin #13 to just bet $140/150/160/170 then start over again.
</p>
<p>
    Alex's
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=true %}
    rating is based on the "altered" system.
    I give both versions a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=true -%}.
</p>
<p>
    Not enough opportunity to make a jackpot.
</p>
