---
layout: roulette-system
title: 6.9 ☯️ - Roulette System Review
---

<p>
    Bet $10 on any corner. If you lose add $5 to your bet and bet an addtional corner.
</p>
<p>
    When you win, decrease one step down the ladder.
</p>
<p>
    It doesn't matter which corners you cover. They just can't overlap.
</p>
<p>
    You're supposed to walk when you're up $500 or more.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
<p>
    Most progression systems have you hover around the smallest unit bet. With this system, you're
    probably going to hover around the 3rd or 4th tier most of the time. From there, it's bound
    to spiral out of control.
</p>

