---
layout: roulette-system
title: Boo Ca Key 💦💦💦 - Roulette System Review
---
<p>
    This system was advertised as a "Thruple's System", which means that
    a team of 3 people can play this strategy.
</p>
<p>
    This is a positive progression system where you move to the next tier
    when you win.
</p>
<p>
    We're only tracking Alex's bets.
</p>
<p>
    Just ignore the "couple's system" aspect of this system. Just play this
    as a one-player system. If you play this as a couple's system or even a
    "thruple's system", you might end up betting on all 36 numbers at a time.
</p>
<p>
    As a single-player system, this isn't bad. I definitely wouldn't use a $30
    base bet. I'd either go with $25 or $50. And for the 3rd tier, I'd just put
    it all on a Dozen or a Column. They payout is going to be the same.
</p>

{% include roulette-bet-nullification.html %}

<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being up {% include win-loss-amount.html amount=26 -%}.
</p>
<p>
    This system is similar to 
    {% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" %}
    {% include roulette-system-link.html reviewUrl="2020-08-13-Romanovsky" %}
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
