---
layout: roulette-system
title: Plasma Payday 🩸🩸 - Roulette System Review
---

<p>
    This is a flat betting system with a max payout on the Double Street bet.
</p>
<p>
    The win for the Basket bet was quoted incorrectly in the video. Alex said it would win 
    {% include win-loss-amount.html amount=120 -%}, but it only wins 
    {% include win-loss-amount.html amount=50 -%}.
</p>
<p>
    You're supposed to walk when you're up
    {% include win-loss-amount.html amount=500 %}
    or more.
</p>
<p>
    On spin 15, Alex changed the flat bet system to the 'tier 2' version. I really like
    this alternate way of playing this. It results in 6 more donks, but the wins on the
    {% include roulette-spot.html number="1" %} -
    {% include roulette-spot.html number="6" %} are much, much better.
</p>
