---
layout: roulette-system
title: Elephant Walk 🐘 - Roulette System Review
---
<p>
    This is a Positive Progression. After two
    {% include win-loss-amount.html amount=5 %} wins, press $5 each
    on both bets.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=100 -%},
    but I have him being up {% include win-loss-amount.html amount=90 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
