---
layout: roulette-system
title: Double D 2.0 🍈🍈 - Roulette System Review
---
<p>
    When you win, proceed to the next step.
</p>
<p>
    At the top tier, just stay on that level when you win $5. Walk when you're up
    {% include win-loss-amount.html amount=100 -%}.
</p>
<p>
    After Alex clears the goal, he decided to double his bets.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-50 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-200 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

