---
layout: roulette-system
title: Line 'em up to get 'em up - Roulette System Review
---
<p>
    Positive progression system that starts off like Hopscotch.
</p>
<p>
    If you win 75 on the 3th tier, stay at the same $75 bet. If you hit the jackpot
    on tier 3, go to tier 4.
</p>
<p>
    If you hit on the 4th tier, keep betting that same bet until you get whacked.
    Walk whenever you feel like it.
</p>
<p>
    David gave this system an 
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=true -%}.
</p>
<!--
<p>
    Alex said he was down {% include win-loss-amount.html amount=-560 -%},
    but his math was wrong. He was only down
    {% include win-loss-amount.html amount=-460 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

