---
layout: roulette-system
title: D'Alembert Triple Dozens - Roulette System Review
---

<p>
    Multi-Leg system for D'Alembert using 3 bets: 2 Dozens and 1 Column.
</p>
<p>
    Actually, it's not true D'Alembert because when you win, you're supposed to halve your bet.
</p>
<p>
    Each leg is incremented and decremented independently of the other two bets.
</p>
<p>
    Alex said he was down
    {% include win-loss-amount.html amount=-290 %}    
    at the end, but I have him clocked at
    {% include win-loss-amount.html amount=-210 -%}. Sometimes the displayed win/loss
    values are way off. I'm not sure what caused this discrepancy.
</p>
