---
layout: roulette-system
title: CEG Punch - Roulette System Review
---
<p>
    This is an easy two step system.
</p>
<p>
    Bet $50 on a Dozen and $50 on a Double Street not touching the dozen. If you lose or only hit the
    dozen ({%- include win-loss-amount.html amount=50 -%}), then bet this tier again. If you hit the
    Double Street ({%- include win-loss-amount.html amount=200 -%}), then proceed to tier 2.
</p>
<p>
    For tier 2, bet $25 on every inside bet touching a number in the 2nd column. It shouldn't be in the
    first or third row. Win or Lose, go back to tier 1 after one spin.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=576 %} (Alex's total) versus
    {% include win-loss-amount.html amount=577 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

