---
layout: roulette-system
title: Tripps - Roulette System Review
---
<p>
    This is a variant of Triple Entry Max Climax.
</p>
<p>
    Start with two $10 bets on two Dozens. If that wins, then bet $10 on three even money bets
    (non-overlapping). This is tier 2.
</p>
<p>
    If you lose, reset to step 1. 
</p>
<p>
    If you win 2/3 of the even money bets, then bet tier 3 - two $20 bets on 2 dozens.
</p>
<p>
    If you win 3/3 of the even money bets, then bet tier 4 - $10 on Low, $10 on Red, $10 on
    the 1st and 3rd columns.
</p>
<!--
<p>
    Alex said he was down {% include win-loss-amount.html amount=-560 -%},
    but his math was wrong. He was only down
    {% include win-loss-amount.html amount=-460 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

