---
layout: roulette-system
title: Dozens of Opportunity - Roulette System Review
---
<p>
    Positive Progression system. When you win, go to the next bet. Quit when you
    hit a jackpot.
</p>
<p>
    This system is really good, but Alex just got completely hammered by the wheel.
    This system is at least a 
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=576 %} (Alex's total) versus
    {% include win-loss-amount.html amount=577 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

