---
layout: roulette-system
title: Why Not 2.0 - Roulette System Review
---
<p>
    You bet High and 2nd and 3rd Dozens with $5 each. Both Dozens have to overlap with
    the Even Money bet.
</p>
<p>
    When you win $10 on the first tier, you move to tier 2.
</p>
<p>
    On the other tiers, you can press your winnings on the winning bets.
</p>
<p>
    Alex and David were changing the system on the fly. It's hard to figure out
    which parts were part of the original system they ended up rating.
</p>
<p>
    The original system called for betting Low + 2nd and 3rd Dozens. That combo
    results in betting on all 36 numbers, which is a no-no. I'm glad they changed
    the system.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being down 
    {% include win-loss-amount.html amount=-5 -%}.
</p>
