---
layout: roulette-system
title: Load the Hole - Roulette System Review
---
<p>
    This is a "couple's system", but I'm going to combine the two bets into one.
</p>
<p>
    Of course, by doing this they end up betting on all 38 numbers on the wheel.
</p>

{% include roulette-bet-nullification.html %}

<p>
    But anyway, each person is responsible for two bets. Player 1 is responsible for the
    1st and 2nd column. Player 2 is responsible for the the 3rd column and the
    {% include roulette-spot.html number="0" -%}/
    {%- include roulette-spot.html number="00" %} Split. When each player loses both
    their bets, they press the bets by 1 $5 unit. When a player wins, they remove $5
    from each of their bets until they only have $5 left on each bet. This is just
    D'Alembert.
</p>
<p>
    You're also supposed to swap? Like when someone who is deep in the hole wins, they're
    supposed to change the bets they're responsible for? I dunno. This system is just a
    hot mess.
</p>