---
layout: roulette-system
title: Dealer's Signature - Roulette System Review
---
<p>
    You're supposed to bet the opposite sector of the last number that
    hit. Bet 7 numbers on the opposite side and two double-streets. The two
    Double Street bets always stay on at $20. The 7 straight-up bets will
    change according to the last spin. If one of the numbers is already covered
    by the Double-Street bets then pick the next number in its proximity.
</p>
<p>
    So you always bet the same two Double-Streets and the 7 numbers will
    float. When you lose 3x, press an additional $5 on each straight-up bet.
</p>
<p>
    There's absolutely NO reason to bet the opposite side of the wheel from
    the previous hit. There's no reason to believe that your dealer can target
    specific sectors of the wheel, and if the wheel were biased, it would hit
    the same sector. Betting sectors is just a waste of time.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=35 -%},
    but I have him being up {% include win-loss-amount.html amount=70 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
