---
layout: roulette-system
title: Super Spreader - Roulette System Review
---
<p>
    This is another exhausting combo system. This is a combination of 
    {% include roulette-system-link.html reviewUrl="2023-12-17-36DD" %} and
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" -%}.
</p>
<p>
    Start off with a one unit bet on a single dozen.
</p>
<p>
    When you lose, increase the bet by the starting unit.
</p>
<p>
    When you win, "spread" the unit bet into two Dozen bets
</p>

<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being up {% include win-loss-amount.html amount=26 -%}.
</p>
<p>
    This system is similar to 
    {% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" %}
    {% include roulette-system-link.html reviewUrl="2020-08-13-Romanovsky" %}
    {% include roulette-system-link.html reviewUrl="2023-12-17-36DD" %}
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" %}
    
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
