---
layout: roulette-system
title: Obey the Columns - Roulette System Review
---

<p>
    $1500 buy in and the starting bet is $20...
</p>
<p>
    Bet the first dozen and then the column should match the last spin.
</p>
<p>
    When you lose, add two chips per bet (?). That should be $10. D'Alembert? 
</p>
<p>
    Walk when you're up 200-300.
</p>
<p>
    The video editing on this video is hard to follow. I think there were many mistakes and
    also Alex didn't appear to stick to the rules of the system.
</p>
<p>
    Alex was up
    {% include win-loss-amount.html amount=410 -%},
    but I have
    him clocked at
    {% include win-loss-amount.html amount=320 -%}.
</p>
