---
layout: roulette-system
title: Press Your Luck 🔘 - Roulette System Review
---

<p>
    When you win the big bet, proceed to the next step.
</p>
<p>
    If you win the big bet on the 3rd tier, reset.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>

