---
layout: roulette-system
title: 3 Corner Fibonacci - Roulette System Review
---
<p>
    Start with a $5 bet on a Corner. If that loses, bet $7 on two (non-overlapping) Corners.
    If that loses, bet $10 on 3 (non-overlapping) Corners. After that, proceed with the
    Fibonacci sequence (multiplied by 10) on each of the 3 bets.
</p>
<p>
    This appears to be a prefix to Fibonacci. Once you hit the 3rd tier, you're essentially
    using the Fibonacci system. I really don't like betting $7 x 2. I'd rather just play
    {% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" -%}.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=576 %} (Alex's total) versus
    {% include win-loss-amount.html amount=577 %} (my calculation).
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

