---
layout: roulette-system
title: Smack that Dolly 👋 - Roulette System Review
---
<p>
    STD - This is a positive progression system. When you hit your dozen, make the $90 bet.
    You have 10 bullets to try to hit a jackpot. If you hit on the 2nd tier, you can keep
    betting it or bounce.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
