---
layout: roulette-system
title: Follow the Pattern 👀 - Roulette System Review
---
<p>
    You will constantly bet $120, but you're betting $65 on the last color and 
    $55 on the opposite color (11x$5 straight-up). You can also bet the other
    even money bets.
</p>
<p>
    I don't really care for following or betting the opposite. It's really just
    a waste of time. I really hate betting so many straight-up bets. I give it a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->

