---
layout: roulette-system
title: The Drake 🦆 - Roulette System Review
---
<p>
    This is a Positive Progression system. Move from tier 1 to tier 2 if you hit the
    {% include win-loss-amount.html amount=100 %} win. Otherwise, stay on tier 1.
</p>
<p>
    If you have the small win on tier 2, go to tier 3. If you have the big win on
    tier 2, go to tier 4.
</p>
<p>
    On tier 3, you can advance to tier 4 on a win, or you can reset to tier 1.
</p>
<p>
    Stay on tier 4 until you win
    {% include win-loss-amount.html amount=900 %} or more and reset to tier 1 if you lose.
</p>
<p>
    This is a pretty good system, but I think I'd keep the progression simpler.
</p>
<p>
    Alex said he was down {% include win-loss-amount.html amount=-675 -%},
    but I have him being down 
    {% include win-loss-amount.html amount=-450 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

