---
layout: roulette-system
title: R U Nuts? - Roulette System Review
---
<p>
    This is a slow-moving, low-limit Negative Progression. You start out with a
    $2 Split bet. After losing 5x, increase to $3. After every 5 losses, increaase
    to the next tier. Reset to tier 1 on a win.
</p>
<p>
    This system isn't bad. I think I might just Martingale with every 5th bet instead
    of the slow uptick this system is doing.
</p>
<!--
<p>
    Alex said he was down {% include win-loss-amount.html amount=-122 -%},
    but I have him being down {% include win-loss-amount.html amount=70 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
