---
layout: roulette-system
title: KISS 😘 - Roulette System Review
---
<p>
    When you lose, progress to the next step.
</p>
<p>
    When you win, reset to step 1 if you are up. If you are down, move down a step.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-50 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-200 %} (my calculation).
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

