---
layout: roulette-system
title: Colored Double Street Degen 3.0 - Roulette System Review
---
<p>
    Positive Progression system. On the second tier, revert to the first tier if you hit the
    Double Street or if you lose. Don't change your bet if you win $20.
</p>
<p>
    When you choose which Double Street to bet on, make sure it has 4 of your color in it, not
    3 of each.
</p>
<p>
    This is CEG's third iteration of this system, just tweaking the Double Street you're betting on
    based on how many of your color is in it.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=50 %} (Alex's total) versus
    {% include win-loss-amount.html amount=70 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

