---
layout: roulette-system
title: Paddle Boat - Roulette System Review
---
<p>
    This is just a simple flat bet system. BUT, they're betting on all 36 non-zero numbers.
</p>
<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->




