---
layout: roulette-system
title: Jackpot Nolley - Roulette System Review
---
<p>
    Positive Progression system. When you win, progress to the next step. When
    you lose, reset to step 1. You can put the 3 corner bets in any config you
    want, covering any 2 dozens. You can press which ever dozen you want on
    each tier.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
