---
layout: roulette-system
title: Nolly Progression 📈📈📈 - Roulette System Review
---
<p>
    This system is similar to 
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" -%}. It's a
    low buy-in system that goes back and forth between two bets and tries to snowball
    into big wins.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=0 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-20 %} (my calculation).
</p>
