---
layout: roulette-system
title: Bet away from the Winner - Roulette System Review
---
<p>
    This is a Positive Progression system. After winning the first tier,
    you will bet all 3 OPPOSITE even money bets. So if you hit 
    {% include roulette-spot.html number="21" %} (Red, Odd, High), then you
    would bet on Black, Even, Low.
</p>
<p>
    After that you want to hit ALL THREEE bets then reset to step 1. If you
    only win 2/3, then you take your 4 units and bet 2 units each on two dozens.
</p>
<p>
    If you only win 1/3, you take your 2 units and go back to step 1.
</p>
<p>
    This is another overly and needlessly complicated system.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=100 -%},
    but I have him being up {% include win-loss-amount.html amount=90 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
