---
layout: roulette-system
title: Triple Nut - Roulette System Review
---
<p>
    A variant of Triple Entry Max Climax.
</p>
<p>
    This is also a Spectrum Progression system, where the next betting tier might be
    one of several options, depending on the size of the win or loss. The first bet has 4
    possible outcomes:
    {% include win-loss-amount.html amount=-30 -%},
    {% include win-loss-amount.html amount=-10 -%},
    {% include win-loss-amount.html amount=10 -%}, and
    {% include win-loss-amount.html amount=30 -%}.
</p>
<p>
    This system is kinda all over the place. There are just too many ways your last win can turn
    into a bet that you've never bet before. Sometimes you split it back into 3 bets, sometimes
    you bet two dozens. Sometimes you bet a single dozen.
</p>
<p>
    I don't really understand this system, so I'm giving it an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->

