---
layout: roulette-system
title: Grapefruit Pie - Roulette System Review
---
<p>
    This is a ladder system that starts out with 
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" -%},
    and then goes into 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" -%}.
</p>
<p>
    Tier 1: Bet $15 each on 3 even money bets (not both sides of the same coin).
</p>
<p>
    Result 1: Win 0/3 
    ({%- include win-loss-amount.html amount=-45 -%}): Stay on tier 1
</p>
<p>
    Result 2: Win 1/3 
    ({%- include win-loss-amount.html amount=-15 -%}): Go to tier 2 (2x$15 Dozen bets).
</p>
<p>
    Result 3: Win 2/3 
    ({%- include win-loss-amount.html amount=15 -%}): Go to tier 3 (2x$30 Dozen bets).
</p>
<p>
    Result 4: Win 3/3 
    ({%- include win-loss-amount.html amount=45 -%}): Go to tier 4 (2x$45 Dozen bets).
</p>
<p>
    When you win on a two Dozen bet (where the bets are equal), then you press with a
    Nolley bet on the dozens. So if you bet 2x$15 and you win 
    {% include win-loss-amount.html amount=15 -%}, then you bet $15 and $30 on two
    dozens on the next bet.
</p>
<p>
    When you win the big bet on the uneven double dozen bet, then press $5 on the small
    bet and bet two of them. So if you win {% include win-loss-amount.html amount=45 %}
    on the $30 + $15 bet, then you'd bet two dozens of $20 each.
</p>
<p>
    For some reason, CEG loves these Nolley based systems, but I really don't see
    the appeal and the betting progression doesn't have any clear definition. It's
    unclear to me how the bets are supposed to grow and when you're supposed to
    stop increasing your bets. This is why this gets a 
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false %}
    from me.
</p>
<p>
    Ugh...after watching this video for <b>3 FRICKIN' DAYS</b>, I still haven't figured
    it out. There is apparently some way you're supposed to integrate the system 
    {% include roulette-system-link.html reviewUrl="2023-05-12-BBC" %}
    as well? This is just a mess. If there's anyone out there who really understands
    this system, please hit me up on <a href="https://discord.gg/R6nTPzcpma">Discord</a>
    and explain it to me.
</p>
