---
layout: roulette-system
title: Top Hat 🎩 - Roulette System Review
---

<p>

</p>
<!-- 
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
-->
