---
layout: roulette-system
title: Daddy D New Strat - Roulette System Review
---
<p>
    Positive Progression system. When you win, press your winnings. After the first tier,
    one bet should be $10 more than the other.
</p>
<p>
    You can bet any two Dozens or any two Columns. You can flip back and forth if you desire.
</p>
<p>
    I really don't like these imbalanced dozen bets. There's just too much of a hedge and
    there's not really a good opportunity to win big.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
