---
layout: roulette-system
title: The Hoarding Dragon D'Alembert 🐲🐲 - Roulette System Review
---
<p>
    If you lose the cycle of 4 bets, then press $10 on each bet for the next go through.
</p>
<p>
    This seems like you dig yourself a hole and it's nearly impossible to climb out. That's
    a huge problem with D'Alembert.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

