---
layout: roulette-system
title: Lock Stock Reverse Hopscotch - Roulette System Review
---

<p>
    When you win the top tier bet, reset to the first step.
</p>
<p>
    This is a multi-path postitive progression. I really didn't like this system. It
    was kinda all over the place.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-30 %} (Alex's total) versus
    {% include win-loss-amount.html amount=0 %} (my calculation).
</p>
<p>
    <!--
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
    -->
</p>

