---
layout: roulette-system
title: Double Street Cleaner 🧹 - Roulette System Review
---
<p>
    This starts out as Nolley Molley...You can bet Dozens or Columns for the first two tiers.
    For the 2nd tier, you can double up whatever Dozen or Column you want. For the third tier,
    you can bet any 3 OVERLAPPING double streets.
</p>
<p>
    You can stay on the top tier if you hit the mini or the mega jackpot, or you can reset, or
    you can walk.
</p>
<p>
     This is not a bad system. The A&D had some bad luck, but I'm really not a fan of Nolley Molley.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
