---
layout: roulette-system
title: That's a Stupid Name - Roulette System Review
---
<p>
    When you lose, go to the next tier. When you win go down a tier towards tier 1.
</p>
<p>

</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=95 %} (Alex's total) versus
    {% include win-loss-amount.html amount=90 %} (my calculation).
</p>
<p>
    <!--
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
    -->
</p>

