---
layout: roulette-system
title: Best of all Worlds 🌎 - Roulette System Review
---
<p>
    This is a Positive Progression system. When you win, proceed to the next step.
    When you lose, revert to tier 1. If you push on tier 2, stay on tier 2.
</p>
<p>
    On Tier 3, if you hit the {% include win-loss-amount.html amount=65 %} jackpot
    win, you can reset to tier 1. You can also just keep betting $85 if you want to.
    Stay on tier 3 if you only win {% include win-loss-amount.html amount=5 -%}.
</p>
<p>
    You can walk when you feel like you've won enough.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false %}
    because of the mixture of $5 and $25 chips and the low jackpot probability.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

