---
layout: roulette-system
title: Split the Hole 🖖🕳️ - Roulette System Review
---
<p>
    A simple flat betting system with 4 nice bumps on 
    {% include roulette-spot.html number="0" -%},
    {% include roulette-spot.html number="00" -%},
    {% include roulette-spot.html number="17" -%}, and
    {% include roulette-spot.html number="21" -%}.
</p>
<p>
    Walk when you're up $500 or so.
</p>
<p>
    Alex changed the system a bit to add pressing wins. I am not reviewing
    the altered system. I'm just rating the flat bet system.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
