---
layout: roulette-system
title: Chasing that Tail 🍑 - Roulette System Review
---

<p>
    Positive Progression.
</p>
<p>
    If you hit on step 1, go to step 2.
</p>
<p>
    If you hit both bets
    ({%- include win-loss-amount.html amount=80 -%})
    on step 2, go to step 3. Go to step 1 if you lose. Stay
    here if you only win
    {% include win-loss-amount.html amount=35 -%}.
</p>
<p>
    Win or Lose on step 3, go back to step 1.
</p>
<p>
    If you win all 3 steps, you'll be up 
    {% include win-loss-amount.html amount=215 -%}.
</p>
<p>
    I really don't like that this system says it uses "bullets", but you have to bet more
    than your winnings on the 2nd step. So if you start with 10 bullets and you win the first bet, 
    then lose the second bet, you don't have 9 bullets, you have 8.
</p>
<p>
    Overall, I don't think there's enough jackpot potential with this.
</p>
