---
layout: roulette-system
title: Easy as 1, 2, 3 - Roulette System Review
---
<p>
    This is a Positive Progression system. When you win $10 3x in a row, you press the $30 in
    winnings into the $80 bet.
</p>
<p>
    The base tier pays
    {% include win-loss-amount.html amount=10 %}
    per win, and {% include win-loss-amount.html amount=70 %} for the hits on the first row.
    The second tier STILL pays $10 for most bets, but increases the winnings on the first row
    ({-% include win-loss-amount.html amount=130 -%}/{-% include win-loss-amount.html amount=160 -%}/{-% include win-loss-amount.html amount=130 -%}).
</p>
<p>
    If you win $10 on the 2nd tier, you are suposed to continue pressing $10 on the first row.
</p>
<p>
    I think Alex just got bored or frustrated around spin #16 and he started pressing the $10
    with $5 and $5 on the two column bets (tiers 3 and up)
</p>
<p>
    This system was meant to be a positive progression system that mostly pays you out lots of
    small wins with the occasional JACKPOT. But the problem is that there are too many whacks
    and you will eventually suffer too many loses. It's very rare that you will come out a big
    winner.
</p>
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-600 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-575 %} (my calculation).
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

