---
layout: roulette-system
title: ATS 2.0 - Roulette System Review
---
<p>
    This system is a 
    {% include roulette-system-type.html type="Multi-Leg" %}
    system and a variant of 
    {% include roulette-system-link.html reviewUrl="2024-12-24-ATS" -%}.
</p>
<p>
    This assumes a $5 unit bet, but you start with 2 units on 2 even
    money bets. When you win, increase your bet by 1 unit ($5). When you
    lose, increase your bet by 2 units ($10).
</p>
<p>
    I really hate Multi-Leg Negative Progression systems. I can't give
    it anything but a 
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
</p>

