---
layout: roulette-system
title: Nolley Molley - Roulette System Review
---
<p>
    Ladder system where you press $10 when you lose and you press the single Dozen/Column bet when
    you win.
</p>
<p>
    When you bet two dozens and one hits, you make the same bet, but press the win on the winning bet
    (making the bet lobsided). When you make a lobsided bet and the big bet wins, you even the bets
    out for the next spin. If you win $60 on a lobsided bet, then reset to step 1.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=-145 %} (Alex's total) versus
    {% include win-loss-amount.html amount=-120 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

