---
layout: roulette-system
title: Spin Off 2.0 🎡 - Roulette System Review
---
<p>
    This is a Positive Progression system that is a variant of the Spin Off system.
    If you hit on step 1, go to step 2. If you win $75 on step 2, go to step 3. You can
    stay on step 3 until you double your money. Reset to step 1 when you lose.
</p>
<p>
    You can choose which dozens you want to bet on for the first 2 tiers. For tier 3, you
    can pick whatever 10 splits you want to bet so long as they don't overlap.
</p>
<!--
<p>
    Alex said he was down {% include win-loss-amount.html amount=-675 -%},
    but I have him being down 
    {% include win-loss-amount.html amount=-450 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

