---
layout: roulette-system
title: Degen Fib Hop - Roulette System Review
---

<p>
    Short for "Degenerate Fibonacci Hopscotch", this system is a cross between 
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" -%},
    {% include roulette-system-link.html reviewUrl="2023-12-17-36DD" -%}, and
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" -%}.
</p>
<p>
    On tier 1 - If you win all 3 bets, then just rebet the $150.
</p>
<p>
    If you win 2/3 bets, then Hopscotch the $200 into two $100 dozen bets.
</p>
<p>
    If you win 1 or 0 of 3 the bets, then Fibonacci all 3 bets until you win(?)
</p>
<p>
    It's a bit unclear to me when do you reset to tier 1 after a Fibonacci bet.
</p>
<p>
    There's a $175 discrepancy at the end... Not sure where data entry went awry.
</p>
