---
layout: roulette-system
title: High Must Ride - Roulette System Review
---
<p>
    They modified this system without ever playing it. It started out
    as a {% include roulette-system-type.html type="Flat Bet" %} system,
    but they added a few
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %}
    steps.
</p>
<p>
    Start off with a two $10 bets on two dozens.
</p>
<p>
    When that wins, bet $20 and $10 in 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %}
    fashion on two dozens.
</p>
<p>
    When that wins, spread $60 across the bets making up tier 3. $20 on High, $10
    on an overlapping dozen, and $5 on 6 corner bets. in High. You can also bet Low
    with the first dozen for this tier.
</p>
<p>
    If you win {% include win-loss-amount.html amount=100 %} on tier 3, then reset
    to tier 1. If you get whacked, go to tier 1. Stay on tier 3 for the smaller wins
    ({%- include win-loss-amount.html amount=25 -%},
    {% include win-loss-amount.html amount=55 -%}, and
    {% include win-loss-amount.html amount=70 -%}).
</p>
