---
layout: roulette-system
title: Super Spreader - Roulette System Review
---
<p>
    This is another exhausting combo system. This is a combination of 
    {% include roulette-system-link.html reviewUrl="2023-12-17-36DD" %} and
    {% include roulette-system-link.html reviewUrl="2022-06-14-Hopscotch" -%}.
</p>
<p>
    Start off with a one unit bet on a single dozen.
</p>
<p>
    When you lose, increase the bet by the starting unit.
</p>
<p>
    When you win, "spread" the unit bet into two Dozen bets
</p>
