---
layout: roulette-system
title: Bert and Ernie 🟨🟧 - Roulette System Review
---
<p>
    Positive Progression system. Go to the next tier when you win. Reset to tier 1 
    when you lose.
</p>
<p>
    This system is similar to Hopscotch, where your wins keep getting pressed as you
    inch forward in bet size. But I'm really not a fan of this one. The bets don't seem
    to continually grow in winnings. Sometimes they get larger, sometimes they get smaller.
    I don't like that.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    but it would probably be an
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if the payouts weren't so low. I also don't like the continual press. I think it'e better to
    just go for larger hits with a smaller number of spots covered.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
