---
layout: roulette-system
title: Fibonacci BBC Wombo Combo - Roulette System Review
---
<p>
    This is a ladder system where you Fibonacci on a loss, and you go into a complicated
    positive progression when you win. For the Fibonacci sequence, it's 1, 1, 2, 3, 5, 8, 
    etc. where you add the last two bets. The base unit is $25 for this, so the sequence is
    25, 25, 50, 75, 125, 200, etc.
</p>
<p>
    For the Fibonacci sequence, I'm not going to provide the system bet images. You should
    just recognize that you're going to win 2x your bet.
</p>
<p>
    For the positive progression part, you bet $20 each on two overlapping Even money bets.
</p>
<p>
    And after that...you start adding column bets??? This system sucks.
</p>
<p>
    Alex said he was up {% include win-loss-amount.html amount=390 -%},
    but I have him being up {% include win-loss-amount.html amount=325 -%}.
</p>
<p>
    This system is too complex for anyone to realistically follow. And whatever it is
    trying to get you to do is just spreading your bets too thin.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
