---
layout: roulette-system
title: Hit it and Split it - Roulette System Review
---
<p>
    After hitting the 1st tier, take the winnings and bet any 10 Splits with $5 each. Make sure
    they don't overlap. If the 2nd tier hits, split the winnings and bet two Dozens of $45 each.
    If the 3rd tier hits, bet $10 each on 13 Splits. If that tier hits, bet $10 on 18 numbers
    Straight-up.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

