---
layout: roulette-system
title: Vertigo - Roulette System Review
---
<p>
    A variant of Ride or Die.
</p>
<p>
    If you win, go to the next step. If you win on tier 3, stay on tier 3.
</p>
<p>
    Walk when you've hit the jackpot or if you're happy with your profits.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=510 -%},
    but I have him being up {% include win-loss-amount.html amount=530 -%}.
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->

