---
layout: roulette-system
title: 3 Shots G Spot - Roulette System Review
---

<p>
    This is mostly a positive progression system. Go to the next step
    when you win. On the top tier, you go down one step if you lose,
    but don't get whacked.
</p>
<p>
    The $150 top tier bet is betting on 36 numbers.
</p>
<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<figure>
    <img src="{{site.baseurl}}/assets/img/systems/2024-04-11/01-rba-alternate.png" alt="Bet $60 instead of $150 and save $90 when 0 and 00 hit." />
    <figcaption>
        Here's a superior betting pattern that will achieve the same results or better.
    </figcaption>
</figure>
<p>
    You can have the same exact results and save $90 when 
    {% include roulette-spot.html number="0" %} and
    {% include roulette-spot.html number="00" %} hit by just putting $30 on the 2nd Dozen and removing the corner bets.
</p>
