---
layout: roulette-system
title: 5 and Dime 🪙 - Roulette System Review
---
<p>
    Bet $10 on an even money bet, and bet $1 each on 5 numbers not covered.
</p>
<p>
    If you're up $50, or down $50, or after 15 spins, you're supposed to
    increase your bet(?)...I think?
</p>
<p>
    Alex mentioned some rules for when you increase your bet, but he didn't
    really follow through with it. After he hit a number straight-up at
    14:20, he upped his bet... He didn't do that earlier even though he hit
    a number straight-up at 3:06 and 8:51.
</p>
<p>
    I don't like the betting pattern and the progression is confusing... I have
    to give this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
</p>

<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being up {% include win-loss-amount.html amount=26 -%}.
</p>
<p>
    This system is similar to 
    {% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" %}
    {% include roulette-system-link.html reviewUrl="2020-08-13-Romanovsky" %}
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
