---
layout: roulette-system
title: Dirty Done Cheap - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system that starts out with the uneven double column bet kinda like
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" -%}.
</p>
<p>
    Tier 1: If you only win {% include win-loss-amount.html amount=5 %} or lose
    {% include win-loss-amount.html amount=-25 -%}, then stay on tier 1.
</p>
<p>
    If you win {% include win-loss-amount.html amount=20 -%}, then go
    to the next tier ($25 + $20).
</p>
<p>
    Tier 2: If you win {% include win-loss-amount.html amount=15 -%}, then go
    to tier 3. If you win {% include win-loss-amount.html amount=30 -%}, then
    to to tier 4. If you lose, restart at tier 1.
</p>
<p>
    Tier 3: If you win, go to tier 4. If you lose, then restart.
</p>
<p>
    Tier 4: Keep betting here until you lose. Then reset to tier 1.
</p>
<p>
    The editing was really bad for CEG's video. Lots of mistakes and some results
    not shown on screen. It was difficult to tell where the discrepancies are. And
    for some reason, the sound effects were <b>SUPER LOUD</b> for this video.
</p>

