---
layout: roulette-system
title: Eggs in a Basket - Roulette System Review
---
<p>
    This is a goofy Positive Progression system where you press $10 wins on additional
    straight-up bets on black numbers.
</p>
<p>
    Alex never got on a winning streak, so he never bet the higher tiers. I'm not going
    to provide them for this system.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=576 %} (Alex's total) versus
    {% include win-loss-amount.html amount=577 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

