---
layout: roulette-system
title: Golden Basket - Roulette System Review
---
<p>
    This is a simple Flat Bet system.
</p>
<p>
    Walk when you're up $400.
</p>
<p>
    Even though you buy in for $1000, you're supposed to quit when you're down
    $500. That. doesn't. make. sense.
</p>
<p>
    I'd give this system a much higher rating if there weren't so many pushes.
    I'd rather have more losses and bigger wins than a bunch of pushes.
</p>
<!--
<p>
    Alex said he was up {% include win-loss-amount.html amount=20 -%},
    but I have him being up {% include win-loss-amount.html amount=26 -%}.
</p>
<p>
    This system is similar to 
    {% include roulette-system-link.html reviewUrl="2023-09-05-Golden-Entry" %}
    {% include roulette-system-link.html reviewUrl="2020-08-13-Romanovsky" %}
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
