---
layout: roulette-system
title: Stairway to Heaven 👼 - Roulette System Review
---

<p>
    This betting pattern is idiotic.
</p>
<p>
    You should never bet on more than 35 numbers at a time, because you end up in a <b>Bet Nullification</b>
    situation. Watch this video to learn more about it:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/q6QurhEumCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
    Alex was down
    {% include win-loss-amount.html amount=-281 -%}.
    at the end, but I have him being down
    {% include win-loss-amount.html amount=-291 -%}.
</p>
