---
layout: roulette-system
title: Monopoly Money 2.0 💸💸 - Roulette System Review
---

<p>
    This system review is just a redo of
    {% include roulette-system-link.html reviewUrl="2024-07-12-Monopoly-Money" -%}.
</p>
<p>
    This is a D'Alembert system. Press 1 unit on a loss, pop off one unit on a
    win. When you win, switch the betting pattern from tier 1 to tier 2 and back.
</p>
<p>
    Walk when you're up $500 or more.
</p>

<!-- 
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
-->
