---
layout: roulette-system
title: Fibonacci Corners YT - Roulette System Review
---
<p>
    This is a Multi-Leg version of Fibonacci Corners. The 3 corner bets and the
    column bet work independently on their own Fibonacci sequence.
</p>
<p>
    I don't like Multi-Leg systems and I don't like weird Fibonacci variants.
</p>
<p>
    I'm showing the betting payoffs for the Fibonacci sequence if you lose both
    sets of bets...but most of the time, you'll hit them at different times.
</p>
<p>
    Quite the discrepancy with this video. 
    Alex said he was up {% include win-loss-amount.html amount=430 -%},
    but I have him being up {% include win-loss-amount.html amount=250 -%}.
</p>
<!--
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%}.
    It would be an {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    if there were more opportunity to win big.
</p>
-->
