---
layout: roulette-system
title: Colored Double Street 🟥⬛ - Roulette System Review
---
<p>
    Start off on the Red (tier 1) or Black (tier 2) betting pattern. Pick your favorite.
</p>
<p>
    When you win/lose, D'Alembert on the losing bet(s).
</p>
<p>
    There are too many combinations of bets that you can make with this system because you're
    D'Alembert-ing two bets. I'm just providing RBA images for the first tier bet.
</p>
<!--
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=576 %} (Alex's total) versus
    {% include win-loss-amount.html amount=577 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="c" showRatingLetter=true showRatingName=false -%}.
    I would give it a
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    if the progression were easier.
</p>
-->

