---
layout: roulette-system
title: Heaven's Door - Roulette System Review
---

<p>
    This is a shit flat betting system. The bets make no sense. 
</p>
<p>
    I came to the same conclusions as Alex. Too many chip denominations, too many bets,
    too small of a payout. Everything is crazy. And the dealer is going to hate you. I
    can't even give this system a Comp Value of 5 because the pit will hate you and
    probabaly punish you by under reporting your average bet.
</p>
<p>
    There are better ways to make a congruent bet, but I'm not going to fucking bother.
</p>
<p>
    There were some discrepancies in the payouts, but why should I bother correcting them?
    This system is fucking shit.
</p>
<!-- 
<p>
    There was a discrepancy at the end:
    {% include win-loss-amount.html amount=200 %} (Alex's total) versus
    {% include win-loss-amount.html amount=265 %} (my calculation).
</p>
<p>
    I gave this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
    It's almost an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}. 
</p>
-->
