---
layout: roulette-system
title: A Life Changing Strategy ☠️☠️ - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Multi-Leg" %}
    where you double plus 1 unit on a loss.
</p>
<p>
    On a single leg, you bet $20 on an Even Money bet. If that
    loses, double up plus another $20. That's a $60 bet. If that
    loses, double up plus another $20. That's a $140 bet. If that
    loses, double up plus another $20. That's a $300 bet.
</p>
<p>
    A 
    {% include roulette-system-type.html type="Multi-Leg" %}
    system with 
    {% include roulette-system-type.html type="Negative Progression" %}
    legs are always a recipe for disaster. It's like having two 
    ticking time bombs instead of just one.
</p>
<p>
    This system is a multi-leg version of the "Mitchellgale" BS system.
</p>

