---
layout: roulette-system
title: EDGSPP 5.0 📈 - Roulette System Review
---
<p>
    This is supposed to be a  
    {% include roulette-system-type.html type="Positive Progression" %} system,
    but the progression is a bit of a mystery to me. They seem to reset to tier 1
    even though they win at times.
</p>
<p>
    Walk when you're up 20%, or around
    {% include win-loss-amount.html amount=100 -%}.
</p>
<p>
    There's not much of a jackpot potential here. Even at the $175 tier, you're
    only going to win
    {% include win-loss-amount.html amount=35 -%}.
</p>
