---
layout: roulette-system
title: Itza Couple System - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Multi-Leg" %} system
    with both legs being Fibonacci Ladders. When you lose, increase
    in the Fibonacci sequence.
</p>
<p>
    Bet $10 each on two dozens. If one hits, pull go back down 2
    levels for that bet. If it misses, increase by one level in
    the Fibonacci sequence.
</p>
<p>
    Since this is a Multi-Leg (mostly) Negative Progresion system,
    I'm already skeptical that it will do well. You just have too
    many single points of failure for this to be a reliable system.
    Most of the time one or the other leg will take you out.
</p>
<p>
    If you <b>MUST</b> play this system, I'd at least bet 1 leg as
    a dozen and the other as a column. That way it's possible for
    both bets to win, and winning one bet guarantee the loss of the
    other. Having that correlation is just horrible when you're
    trying to avoid an unlikely event.
</p>
<p>
    As for "playing as a couple", that shit is for the birds. If
    you're pooling your wins and losses, you have to look at all
    the bets as a whole. That means if you're betting on 3 different
    dozens, then you're betting on 36 or more numbers at a time.
</p>
<p>
    That's a no-no.
</p>
{% include roulette-bet-nullification.html %}

