---
layout: roulette-system
title: German 10 Shooter 🇩🇪 - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system where you just keep pressing your winnings on the Even Money
    bets for the first 4 tiers.
</p>
<p>
    For the 5th tier, you bet the Even Money bet plus the Dozen bet for
    a total $160 bet. Keep betting that top tier until it wins big
    ({%- include win-loss-amount.html amount=220 -%}) or gets whacked.
    Don't change if you only win 
    {% include win-loss-amount.html amount=20 %} or 
    {% include win-loss-amount.html amount=40 -%}.
</p>
<p>
    Alex deviated from the system by peeling off $100 back for his $60
    bet. The 5th tier was supposed to be $100 on Black and $60 on the
    2nd Dozen.
</p>
