---
layout: roulette-system
title: D1C 5th Ave - Roulette System Review
---
<p>
    This is a complicated 
    {% include roulette-system-type.html type="Positive Progression" %}
    system where you try to build up some firepower and then
    graduate to 
    {% include roulette-system-link.html reviewUrl="2024-04-15-D1C" %}
    with your winnings.
</p>
<p>
    On the 5th tier, you're going to reset to tier 1 whether you
    win or lose.
</p>
<p>
    There are better ways to build up your bankroll and then go for a
    big score. I don't like mixing all the different red chips needed
    for this system. The saving grace is the 5th tier bet where you can
    make a good score.
</p>
