---
layout: roulette-system
title: Oscar's Dance - Roulette System Review
---
<p>
    This is a simple 
    {% include roulette-system-type.html type="Positive Progression" %}
    system. Just move up a tier when you hit. Reset to tier 1 when you 
    lose.
</p>
<p>
    I agree with Alex and David that this system is pretty vanilla.
    There's not a lot of jackpot opportunities here. Even when you
    hit the cycle, you won't be up a ton of money. You'll be up
    {% include win-loss-amount.html amount=160 -%}.
</p>