---
layout: roulette-system
title: Same Same 🟰 - Roulette System Review
---
<p>
    This system was labeled as a "couple's system", which usually means it's
    complete garbage. If you played this system with two people, you're going
    to be betting on 36 numbers at a time. Don't do that.
</p>
{% include roulette-bet-nullification.html %}
<p>
    It seems pretty unclear as to when you press and when you reset. They
    kinda just decided to press whenever they felt like it.
</p>
<p>
    As a couple's system, this system gets an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}.
    As a standalone system, this system gets a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=false -%}.
</p>
<p>
    They cashed out their two $500 bankrolls and were down
    {% include win-loss-amount.html amount=-495 %}
    at the end (together) as a couple.
</p>
