---
layout: roulette-system
title: Doomsday - Roulette System Review
---
<p>
    This a
    {% include roulette-system-type.html type="Negative Progression" %}
    system with 3 chances before you go kaput.
</p>
<p>
    Your goal is to win $100 or more. That's when you walk.
</p>
<p>
    This isn't a bad system. I think the betting is pretty simple. For a
    {% include roulette-system-type.html type="Negative Progression" -%},
    it's great that there's not a potential for a <b>huge</b> loss.
</p>
<p>
    Alex didn't stick to the
    {% include win-loss-amount.html amount=100 %}
    goal. He just powered through, but I kept track of how many times he would have
    hit the goal.
</p>
