---
layout: roulette-system
title: Trench Run 🪖 - Roulette System Review
---
<p>
    This is an interesting system where you mostly win the same amount with every
    hit, but there's one jackpot on both tiers.
</p>
<p>
    I think the jackpot is just too unlikely and the small wins are too small.
    You're very likely to get whacked and then you're just playing catch up,
    recovering {% include win-loss-amount.html amount=5 %} or
    {% include win-loss-amount.html amount=10 %} at a time.
</p>
<p>
    You mostly
    {% include roulette-system-type.html type="Flat Bet" %}
    this system, but if you hit the 
    {% include win-loss-amount.html amount=95 %} jackpot twice, then you're
    supposed to double up to the 2nd tier bet. Stay there until you get
    whacked.
</p>

