---
layout: roulette-system
title: DP Dozens 🍆🍆 - Roulette System Review
---
<p>
    This is neither a 
    {% include roulette-system-type.html type="Positive Progression" %}
    nor a
    {% include roulette-system-type.html type="Negative Progression" %}
    system. It's a 
    {% include roulette-system-type.html type="Ladder" %}
    system, where you keep adding $10 to your bet no matter what.
</p>
<p>
    You're supposed to reset to your inital bet when you're up $100.
</p>
<p>
    Systems like this are the case of the tail wagging the dog. You're just
    going to keep increasing your bets to the point where the first few bets
    never matter. Everything just hinges on the big bets. Not really much of
    a system at all.
</p>
