---
layout: roulette-system
title: Skipped The Fib - Roulette System Review
---
<p>
    A weird implementation of Fibonacci. You don't repeat the first one
    unit bet. It's a
    {% include roulette-system-type.html type="Positive Progression" -%},
    but there are rules for when you reset.
</p>
<p>
    Both bets act together, so this isn't a
    {% include roulette-system-type.html type="Multi-Leg" %}
    system.
</p>
<p>
    When you're on a losing streak, you don't reset to step 1 until
    you've won 2x in a row.
</p>

