---
layout: roulette-system
title: UGF - Roulette System Review
---
<p>
    UGF stands for "Ultimate Gambler's Fallacy", so you're supposed to
    bet against a streak. You do that by betting the losing Even
    Money bets from the last number that hit.
</p>
<p>
    Bet the three opposite Even Money bets of the number that just hit.
    Sit out after a 
    {% include roulette-spot.html number="0" %} or
    {% include roulette-spot.html number="00" %} and wait for a 
    field number.
</p>
<p>
    It's really a waste of time to try to bet the opposite number. But
    it's not really harmful. But...ok. You're basically just betting
    3 even money bets.
</p>
