---
layout: roulette-system
title: Long Shot - Roulette System Review
---
<p>
    Progress to the next step on a win.
</p>
<p>
    The fifth (final) tier is...I really hate the idea of making 15 different
    bets, especially if the small bet uses 
    {% include chip-amount.html chipAmount=5 %} chips when the previous
    four tiers all use
    {% include chip-amount.html chipAmount=25 %} chips.
</p>
<p>
    Also, this system has a 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %}
    step, so you have to drop down the score some more.
</p>
<p>
    Alex changed the system about half-way through the trial. Instead of betting
    50 on an even money bet, he started betting $50 on a Dozen. So he started
    with a different bet, and he skipped the 2nd tier.
</p>
<p>
    Apparently 
    {% include win-loss-amount.html amount=-700 %} gets an
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false %}
    rating?
</p>
<p>
    Even with Alex's modified system...it retains the two shitty elements
    of this system: Too many pushes,  and a shit ton of bets (15 bets on
    the top tier). I don't like the modified version.
</p>

