---
layout: roulette-system
title: Flip Flopping Nolley - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system that is a variant of the 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %}
    system.
</p>
<p>
    Move to the next tier on a win. Stay on the same tier on a push. Reset to
    tier 1 when you lose. On the 4th tier, just stay at that tier when you
    win (or you can choose to continue the Nolley bets).
</p>
<p>
    You're supposed to walk when you're up $200.
</p>