---
layout: roulette-system
title: Spin Off 4.0 🎡🎡🎡🎡 - Roulette System Review
---
<p>
    This is a spectrum type
    {% include roulette-system-type.html type="Positive Progression" %}
    system.
</p>
<p>
    On tier 2, if you win
    {% include win-loss-amount.html amount=75 -%},
    go to tier 3.
    On tier 2, if you win
    {% include win-loss-amount.html amount=150 -%},
    go to tier 4.
</p>
<p>
    When on the 4th tier, always reset to tier 1, whether you
    win or lose.
</p>
<p>
    This would get a better rating if you consolidated the upper
    tier bets. Tier 3, you can just bet two dozens. Tier 4, you can
    bet $270 on an even money bet and $15 on a Split.
</p>
