---
layout: roulette-system
title: 4.2.2 - Roulette System Review
---
<p>
    This is a simple
    {% include roulette-system-type.html type="Negative Progression" %}
    system. When you lose, press a nickel on each bet.
</p>
<p>
    You bet 4 Corners, 2 Streets, and 2 Splits. You can move them all
    over the place so long as you don't overlap.
</p>
<p>
    You could consolidate the 2 Street bets into a Double Street. You could
    consolidate 3 Corner bets into a single Dozen bet. You can consolidate 
    the two remaining Splits into another Corner bet. The simplest betting
    pattern would be 1 $30 Dozen + 1 $10 Corner + 1 $20 Corner + 1 $20 Double
    Street (26 numbers covered).
</p>
<p>
    I don't like these systems where you spread yourself really thin AND
    add a
    {% include roulette-system-type.html type="Negative Progression" %}
    on top of that. It doesn't take much to wipe you out, even with this
    slow increasing progression.
</p>
