---
layout: roulette-system
title: 3 Wizards 🧙🧙‍♂️🧙 - Roulette System Review
---
<p>
    This system is a tweak of
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" %}
    and is a 
    {% include roulette-system-type.html type="Ladder" %} system.
</p>
<p>
    On tier 1, if you win 1/3 
    ({%- include win-loss-amount.html amount=25 -%}), then go to step 2.
</p>
<p>
    On tier 1, if you win 2/3 
    ({%- include win-loss-amount.html amount=25 -%}), then go to step 3.
</p>
<p>
    On tier 1, if you win 3/3 
    ({%- include win-loss-amount.html amount=75 -%}), then go to step 4.
</p>
<p>
    On tier 1, if you lose all 3
    ({%- include win-loss-amount.html amount=-75 -%}), then stay on tier 1.
</p>
<p>
    On tier 4, always reset to tier 1.
</p>
<p>
    There's not a lot of opportunity here.
</p>