---
layout: roulette-system
title: Rat Race 🐀🏁 - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Positive Progression" %}
    system where you bet 4 Corners, and 2 Splits across 2 Dozens. When you win,
    press the Corner bets. Leave the Split bets the same.
</p>
<p>
    That was the system as originally planned. Alex changed it up later where
    the 2nd tier only presses up $10 of the
    {% include win-loss-amount.html amount=15 %}
    win instead of doing a $20
    power press. I think you only do this on the 2nd tier. You press $10 for tiers 2
    and 3, but then press $20 on the rest. 
</p>
<p>
    Author suggests walking away when you're up $100, but it can be $200 or even
    $400. Alex more than doubled up with this.
</p>
<p>
    Not a bad system. It has good jackpot potential. 
</p>
