---
layout: roulette-system
title: Split Street Triple Lux - Roulette System Review
---
<p>
    A simple 
    {% include roulette-system-type.html type="Positive Progression" %}
    system. This system is very similar to
    {% include roulette-system-link.html reviewUrl="2024-12-09-5-Split-Street" -%},
    which received an 
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false -%}.
</p>
<p>
    When you hit a Split bet on tier 1
    ({%- include win-loss-amount.html amount=40 -%}),
    then you press the bets
    and go to tier 2. If you lose or hit the Street bet, then stay on
    tier 1.
</p>
<p>
    You can bet any of the 5 Splits or 5 Streets that you want.
</p>
