---
layout: roulette-system
title: 24 - 8 - Roulette System Review
---
<p>
    This is supposed to be a derivation of the classic 
    {% include roulette-system-link.html reviewUrl="2020-04-07-24+8" -%},
    originally reviewed by CEG in 2020(!).
</p>
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system where you start out with a $60 bet on a Dozen, and $5 each
    on 12 numbers Straight-Up in another Dozen. In reality, they don't
    need to be  in the other dozen. You can just sprinkle them around
    the felt where ever you want, so long as they don't overlap with the 
    Dozen bet.
</p>
<p>
    When you hit, remove one of the Straight-Up bets. Keep removing them
    until you only have 4 Straight-Up bets left.
</p>