---
layout: roulette-system
title: RGB 🟥🟩⬛ - Roulette System Review
---
<p>
    This is a
    {% include roulette-system-type.html type="Positive Progression" %}
    system with two steps, but with two variations on both of the steps.
</p>
<p>
    Bet $50 on a Color (Red or Black). If that hits, then bet all the
    Splits and Straight Up numbers on the 1st and 3rd columns of that color.
    This is a $50 bet with 4 jackpots of
    {% include win-loss-amount.html amount=130 %} on the Straight-Up bets.
</p>
<p>
    If you lose, then bet the other color. Images displayed are for the Red
    bets.
</p>

