---
layout: roulette-system
title: Texas Two Step Nolley 🤠 - Roulette System Review
---
<p>
    Oh, boy.
</p>
<p>
    This system is just a mess. It was originally meant to be this 
    really complicated system, but CEG decided to break this up
    into a "Couple's System".
</p>
<p>
    This system is a
    {% include roulette-system-type.html type="Multi-Leg" %} system
    of two 
    {% include roulette-system-type.html type="Ladder" %} systems.
</p>
<p>
    What a mess.
</p>
<p>
    Start out with two $10 Dozen bets and two $10 Column bets.
</p>
<p>
    If the Dozen bets win, then parlay the win into a 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %}
    uneven set of Dozen bets. Do the same thing with the Column bets (hence the
    {% include roulette-system-type.html type="Multi-Leg" -%}).
</p>
<p>
    I'm just going to track Alex's bets. The way CEG
    broke this apart, Alex bet the Columns, David bet the Dozens.
</p>
<p>
    As a general rule, 
    {% include roulette-system-type.html type="Multi-Leg" %} systems are going
    to be bad. They are especially bad if you are meant to "play as a couple".
</p>
<p>
    On top of being confusing, this system is simply <i>horrible</i>.
</p>
