---
layout: roulette-system
title: Dangerous System 🧨 - Roulette System Review
---
<p>
    Here, we're just going to track David's system. There is already
    a review of 
    {% include roulette-system-link.html reviewUrl="2024-11-06-Vertigo" -%},
    which is the system Alex was playing for this session. This system is
    a system presented by another unnamed YouTuber.
</p>
<p>
    They wanted to present this system because they thought the other
    YouTuber was being irresponsible by saying that this was a great
    money making system. The CEG guys thought the system was just plain
    dangerous.
</p>
<p>
    To play this system, bet $25 each on two Dozens. Also bet $5 each on
    two numbers Straight-Up <i>WITHIN</i> those Dozens. If you miss the
    Straight-Up bets, then Martingale ALL bets AND add two more
    Straight-Up bets at the elevated levels.
</p>
<p>
    So 2x$25 + 2x$5 becomes 2x$50 + 4x$10. And that becomes 2x$100 + 6x$20.
</p>
<p>
    Even though the buy-in is $5,000, David ended up dipping in for a total
    of $6,600 before finally hitting his jackpot. David ended up over
    {% include win-loss-amount.html amount=9000 %} at the end.
</p>
<p>
    I don't have the same disdain for this system as CEG, but then again I
    don't know how hard the other YouTuber was pushing this system. This
    system isn't the <b>WORST</b> I've seen, but I agree that you're risking
    a lot of money on a system that is likely to miss those Straight-Up bets.
    Things can spiral out of control pretty quickly.
</p>
<p>
    I've only shown the first few tiers of this system, but I think you can
    figure out the rest based on my description above.
</p>
