---
layout: roulette-system
title: Owed Win - Roulette System Review
---
<p>
    Start off with a blank spin. Based on what hits, you're going to bet every
    number that shares the same last number. Their starting blank spin was
    {% include roulette-spot.html number="31" -%}, so they bet 
    {% include roulette-spot.html number="1" -%},
    {% include roulette-spot.html number="21" -%}, and
    {% include roulette-spot.html number="31" -%}, AND you bet the adjoining
    numbers on the physicial wheel.
</p>
<p>
    I'm not going to provide graphics for all of the bets. This system is
    just ridiculous. The guys literally had to bust out mouse pads with 
    a roulette wheel on it so they could play. You won't play this on a casino
    table game or even an ETG. Just stupid and just waste of time.
</p>