---
layout: roulette-system
title: Overlap Dance 💃 - Roulette System Review
---
<p>
    This is a simple two-step 
    {% include roulette-system-type.html type="Positive Progression" %}
    system.
</p>
<p>
    In the original 2nd tier bet, you bet $30 on a Column and
    $5 on the
    {% include roulette-spot.html number="0" -%}/{%- include roulette-spot.html number="00" %}
    Split (no overlaps) to a pattern where you overlap
    the $5 Split bet on 
    {% include roulette-spot.html number="17" -%}/{%- include roulette-spot.html number="20" -%}.
</p>
<p>
    This is a pretty good system. There's not a lot of glory to it, but it's
    good for playing with a low budget and there's opportunity for a good
    win with the "DEGEN" version of the 2nd tier (with the overlap).
</p>