---
layout: roulette-system
title: Sad Chicken Dinner 😥🍗 - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %} that has some
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %} to
    it, and then the top tier bet has a monster bet with the potential to hit a major
    jackpot.
</p>
<p>
    This system gives you 7 chances to try to hit this major jackpot on tier 4.
</p>
<p>
    I mostly like this system, except I don't like the 
    {% include roulette-system-link.html reviewUrl="2024-10-14-Nolley-Molley" %} steps.
    And I don't like the complicated bet on tier 4. I'd rather just bet the dozen and
    maybe just add 4 corner bets on top.
</p>
<p>
    Big discrepancy at the end.
</p>

