---
layout: roulette-system
title: Night Lizard 🌙🦎 - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system. When you win 3x, go to the next step. At least that was the
    original idea. Alex ended up modifying the system quite a bit.
</p>
<p>
    This system is spread a bit too thin and the it's a bit too difficult
    to track the 3x wins all the time. I like that the wins are variable 
    within each tier, but overall, just a so-so system.
</p>
<p>
    Alex gave this system a 
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false -%},
    and David gave it a
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false -%}.
</p>
