---
layout: roulette-system
title: High and Tight - Roulette System Review
---
<p>
    This system is a combination of 
    {% include roulette-system-link.html reviewUrl="2023-12-18-EGDSPP" %} and 
    {% include roulette-system-link.html reviewUrl="2021-09-03-Double-Street-Martingale" -%},
    or so says the system author... I don't know that I agree.
</p>
<p>
    This is supposed to be a 
    {% include roulette-system-type.html type="Positive Progression" %}
    system, but there's just two tiers.
</p>
<p>
    For me, the wins are way too small, the gaps (whacks) are too numerous and you're very
    likely to get clapped.
</p>
