---
layout: roulette-system
title: Safe 6 🔒 - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Negative Progression" -%},
    but reset when you win 2x in a row.
</p>
<p>
    You're basically betting 14 numbers (evenly distributed), and adding to
    the bets when you lose.
</p>
<p>
    Walk away when you're up after winning 2x in a row.
</p>
<p>
    Not a bad system for a 
    {% include roulette-system-type.html type="Negative Progression" -%},
    but you're not going to win with this very often.
</p>