---
layout: roulette-system
title: Victory Rush - Roulette System Review
---
<p>
    You won't get much of a Rush playing this system.
</p>
<p>
    Go to the next tier on a win. Stay on the same tier on a push.
</p>
<p>
    CEG gave this a 
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=false %}
    even though they lost
    {% include win-loss-amount.html amount=-825 -%}? Okay...
</p>
<p>
    For me, there are just <i>WAAAAAAAY</i> too many pushes for me
    to like this system.
</p>

