---
layout: roulette-system
title: Roman Secret - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Ladder" %}
    system that is a mixture of 
    {% include roulette-system-link.html reviewUrl="2020-08-13-Romanovsky" %}
    and 
    {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" -%}.
</p>
<p>
    After you win 3 times on tier 1, you go to tier 2, which is the 3 Even Money bets, which
    is similar to {% include roulette-system-link.html reviewUrl="2024-02-08-Triple-Entry-Max-Climax" -%}.
    If you lose all 3, reset to tier 1. If you lose 2/3, bet $30 using tier 3. If you win 2 or 3 out
    of 3, then go to tier 4.
</p>
<p>
    Walk when you're up
    {% include win-loss-amount.html amount=200 %} or more.
</p>