---
layout: roulette-system
title: The Little Split - Roulette System Review
---
<p>
    This is a 
    {% include roulette-system-type.html type="Flat Bet" %}
    system. Plan and simple.
</p>
<p>
    I really don't know why they'd give this system an 
    {% include ceg-system-rating.html rating="f" showRatingLetter=true showRatingName=false -%}.
    It's really nothing special compared to most other betting patterns.
    I personally don't like all the pushes, but that's another story.
</p>
<p>
    There's a pretty huge discrepancy at the end...but it's because Alex
    modified the system and was paying the dealer out of pocket instead
    of having thd dealer sweep the chips off the felt. Because of this, I
    think there were a lot of bad payments.
</p>
<p>
    But, besides the PUSHES, there's nothing really bad about the system.
</p>