---
layout: roulette-system
title: Quarter and Dimes 🪙🪙 - Roulette System Review
---
<p>
    This is a goofy ass 
    {% include roulette-system-type.html type="Positive Progression" %}
    system. You basically bet on two Dozens and juice the bets with two
    Street bets. If you hit the jackpot, then you YOLO the winnings on
    a bunch of Straight-Up bets.
</p>
<p>
    What makes this system "goofy" is that I am pretty sure Alex just
    slapped a bunch of bets on the table after hitting those jackpot
    wins. I don't think there was any rhyme or reason for picking the
    numbers and the amounts that he bet. The only stipulation is that
    they all added up to the most recent win.
</p>
<p>
    Since there's no real definition to those higher tier "house money"
    bets, there's no real way I can evaluate this system accurately.
    I can't tell you how successful you will be with a system like this
    because it all depends on the strict definition of those big bets.
</p>
<p>
    For that reason, I am rating this system a
    {% include ceg-system-rating.html rating="d" showRatingLetter=true showRatingName=true -%}.
    It's a shame, because this system has a lot of potential. With just
    a few tweaks, it could be a 
    {% include ceg-system-rating.html rating="b" showRatingLetter=true showRatingName=true %}
    or a
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=true -%}.
</p>


