---
title: Roulette System Error Check Page
layout: page
---

{%- assign systems2019 = site.data.roulette-systems-2019 -%}
{%- assign systems2020 = site.data.roulette-systems-2020 -%}
{%- assign systems2021 = site.data.roulette-systems-2021 -%}
{%- assign systems2022 = site.data.roulette-systems-2022 -%}
{%- assign systems2023 = site.data.roulette-systems-2023 -%}
{%- assign systems2024 = site.data.roulette-systems-2024 -%}

{%- assign systemsAllYears = systems2019 -%}
{%- assign systemsAllYears = systemsAllYears | concat: systems2020 -%}
{%- assign systemsAllYears = systemsAllYears | concat: systems2021 -%}
{%- assign systemsAllYears = systemsAllYears | concat: systems2022 -%}
{%- assign systemsAllYears = systemsAllYears | concat: systems2023 -%}
{%- assign systemsAllYears = systemsAllYears | concat: systems2024 -%}

{%- assign filteredSystems = systemsAllYears | where: "isJackAceReview", false -%}
{%- assign filteredSystems = filteredSystems | sort: "name" -%}

{%- assign urlsUsed = "" -%}

<p>
    BEGIN
</p>

<h3>Checking Reused URLs</h3>
{%- for row in filteredSystems -%}
    {%- assign currentReviewUrl = row["reviewUrl"] -%}
    {%- assign currentYouTubeUrl = row["youtubeUrl"] -%}

    {%- if urlsUsed contains row["youtubeUrl"] -%}
        <span class="amt-bad">
            ERROR: DUPE URL FOUND IN
            {% include roulette-system-link.html reviewUrl=currentReviewUrl %}
            [[ {{ currentYouTubeUrl }} ]]
        </span> <br/>
    {%- else -%}
        {%- assign urlsUsed = urlsUsed | append: "|" | append: row["youtubeUrl"] -%}
    {%- endif -%}

{%- endfor -%}

<h3>Checking for Semicolons in Timestamps</h3>
{%- for row in filteredSystems -%}
    {%- assign currentReviewUrl = row["reviewUrl"] -%}

    {%- for spinRow in row.spins -%}
        {%- assign currentTime = spinRow["time"] -%}
        {%- if currentTime contains ";" -%}
            <span class="amt-bad">
                ERROR: SEMICOLON FOUND IN TIME
                {% include roulette-system-link.html reviewUrl=currentReviewUrl %}
                [[ {{ currentTime }} ]]
            </span> <br/>
        {%- endif -%}
    {%- endfor -%}

{%- endfor -%}

<h3>Checking for invalid Losses</h3>
{%- for row in filteredSystems -%}
    {%- assign currentReviewUrl = row["reviewUrl"] -%}

    {%- for spinRow in row.spins -%}
        {%- assign currentAmountBet = spinRow["amountBet"] -%}
        {%- assign currentResult = spinRow["result"] -%}
        {%- assign currentLoss = currentResult | times: -1 -%}
        {%- if currentLoss > currentAmountBet -%}
            <span class="amt-bad">
                ERROR: INVALID LOSS AMOUNT
                {% include roulette-system-link.html reviewUrl=currentReviewUrl %}
                [[ {{ currentLoss }} ]]
            </span> <br/>
        {%- endif -%}
    {%- endfor -%}

{%- endfor -%}

<h3>Checking for invalid Wins</h3>
{%- for row in filteredSystems -%}
    {%- assign currentReviewUrl = row["reviewUrl"] -%}

    {%- for spinRow in row.spins -%}
        {%- assign currentAmountBet = spinRow["amountBet"] -%}
        {%- assign maxPossibleWin = currentAmountBet | times: 35 -%}
        {%- assign currentResult = spinRow["result"] -%}
        {%- if currentResult > maxPossibleWin -%}
            <span class="amt-bad">
                ERROR: INVALID WIN AMOUNT
                {% include roulette-system-link.html reviewUrl=currentReviewUrl %}
                [[ {{ currentResult }} ]]
            </span> <br/>
        {%- endif -%}
    {%- endfor -%}


{%- endfor -%}

<p>
    <br/>
    END
</p>
