---
layout: roulette-system
title: Rail Grinder - Roulette System Review
---

<p>
    You're supposed to stop when you get 7 wins in the first two columns
    ({%- include win-loss-amount.html amount=14 %}
    win). Alex just kept playing.
</p>
<p>
    I gave this system a D because it could just bet on Dozens instead with a $24 bet on the
    {% include roulette-spot.html number="7" %} to {% include roulette-spot.html number="12" -%},
    Double Street and an $12 Street bet on
    {% include roulette-spot.html number="4" -%}-{%-include roulette-spot.html number="6" -%}.
</p>

<p>
    Here's an easier betting pattern with congruent payouts:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/systems/ja-2022-11-01/01-rba-congruent-800x662.png" alt="Easier betting pattern with same payouts (congruent)" />
    <figcaption>
        This betting pattern has congruent payouts and is easier to figure out how much you've won.
    </figcaption>
</figure>
