// Custom CSS for site
h1 {
    font-size: 28px;
}
li {
    list-style-type: none;
}
th {
    font-size: 12px;
    padding: 0px;
}
td {
    font-size: 12px;
    padding: 0px;
}

.copyright {
    font-size: 10px;
}
.amt-pos {
    color: #0c0;
  }
.amt-neg {
    color: #c00;
}
.amt-0 {
    color: #ccc;
    font-style: italic;
}
.blog-list-title {
    font-size: 30px;
    font-weight: bold;
}
.blog-list-date {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}
.blog-list-excerpt {
    font-size: 16px;
}
.more-link {
    font-size: 12px;
    background: none;
    border: solid 1px #2d3339;
    padding: 6px 10px;
}
.strategy-table {
    font-size: 16px;
    th {
        padding: 0px;
    }
    td {
        padding: 0px 2px 2px 2px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}
