// Custom CSS for site
h1 {
    font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
    color: #2da5b8;
}
th {
    color: #2da5b8;
    font-size: 12px;
    padding: 0px;
}
td {
    font-size: 12px;
    padding: 0px;
}
b, i {
    color: #aaedf8;
}
figcaption {
    margin-top: 2px;
    color: #666;
    font-style: italic;
    .roulette-spot {
        width: 28px;
        height: 18px;
    }
}
blockquote {
    footer {
        text-align: right;
    }
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
    }
}
.post-title {
    font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
}

.copyright {
    font-size: 10px;
}
.excerpt-image {
    padding-bottom: 20px;
}

.small {
    font-size: 10px;
}
.amt-pos {
    color: #0f0;
}
.amt-neg {
    color: #f00;
}
.amt-0 {
    color: #ccc;
    font-style: italic;
}
.amt-bad {
    color: #f00;
    font-weight: bold;
    font-size: larger;
}
.p-center {
    text-align: center;
}
.cell-center {
    text-align: center;
    white-space: nowrap;
}
.cell-stats {
    background-color: #333;
    font-weight: bold;
    font-size: 20px !important;
}
.blog-list-title {
    font-size: 30px;
    font-weight: bold;
}
.blog-list-date {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}
.blog-list-excerpt {
    font-size: 16px;
}
.more-link {
    font-size: 12px;
    background: none;
    border: solid 1px #2d3339;
    padding: 6px 10px;
}
.glossary-term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #aaedf8;
    color: #aaedf8;
}
.glossary-term .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #ff0;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.glossary-term .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.glossary-term:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.roulette-spot {
    width: 42px;
    height: 27px;
}
.card-md {
    width: 35px;
    height: 49px;
    padding-left: 2px;
    padding-right: 2px;
}
.card-lg {
    width: 70px;
    height: 98px;
    padding-left: 4px;
    padding-right: 4px;
}
.card {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
}
.card-suit-s {
    color: #333;
}
.card-suit-h {
    color: #f00;
}
.card-suit-d {
    color: #00f;
}
.card-suit-c {
    color: #393;
}

.poker-felt {
    color: #fff;
    background-color: #0c0;
    min-width: 600px;
    padding: 10px;
    margin: 5px;
}
.poker-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.poker-hand {
    background-color: rgba(256, 256, 256, 0.5);
    padding: 10px;
    margin: 2px;
}
.poker-hand-title {
    color: #333;
    width: 100%;
    text-align: center;
}

.chip-xs {
    width: 24px;
    height: 24px;
    margin: 2px;
}
.chip-s {
    width: 48px;
    height: 48px;
    margin: 2px;
}
.chip-m {
    width: 128px;
    height: 128px;
    margin: 2px;
}

.strategy-table {
    font-size: 16px;
    th {
        padding: 0px;
    }
    td {
        padding: 0px 2px 2px 2px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

.betting-system-table {
    width: 80%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
        text-align: center;
    }
    // TODO: FIX THIS GARBAGE
    // img {
    //     margin: 0px;
    //     min-width: 20px;
    //     min-height: 20px;
    // }
}

.roulette-system-table {
    width: 100%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 2px;
        font-size: 16px;
        text-align: center;
    }
}

.key-value-table {
    width: 70%;
    th {
        text-align: left;
        font-size: 18px;
    }
    td {
        font-size: 17px;
    }
}

.condensed-table {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

// Used for pages with no side navigation bar
.site-wide {
    width: 100%;
}

.airDate {
    font-size: 12px;
}

// Used for roulette bet analyzer (TODO: Move to separate CSS file)
.roulette {
    background-color: #939;
    table {
        //border-collapse: collapse;
        border: 0px;
        padding: 0px;
    }
    td, th {
        font-family: Arial;
        font-size: 10px;
        text-align: center;
        border: 0px;
        padding: 0px;
    }
    input {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        border: hidden;
    }
    ::placeholder {
        color: #fff;
        font-size: 20px;
        opacity: 0.6;
    }
        
    .hiddenRow {
        display: none;
    }
    .borderRow {
        height: 2px;
        max-height: 2px;
    }
    .amt-neg {
        color: #fcc;
        font-weight: bold;
        font-size: 13px;
    }
    .amt-pos {
        font-weight: bold;
        font-size: 13px;
    }
    .expected-loss {
        color: #f00;
        font-weight: bold;
        font-size: 18px;
    }
    .warningDiv {
        color: #f00;
        font-size: 30px;
        background-color: #fff;
        padding: 20px;
    }

    .clear-all-link {
        font-size: 12px;
        background-color: #ccc;
        border: solid 1px #2d3339;
        padding: 6px 10px;
        text-decoration: none;
    }
    .clear-all-link:hover {
        color: #00f;
        text-decoration: underline;
    }
        
    .x1 {
        width: 30px;
        height: 30px;
    }
    .x2 {
        width: 18px;
        height: 18px;
    }
    .x3 {
        width: 30px;
        height: 18px;
    }
    .x4 {
        width: 18px;
        height: 18px;
    }
    .x12 {
        width: 80px;
        height: 30px;
    }
    .x18 {
        width: 75px;
        height: 30px;
    }
        
    .roulette-felt {
        background-color: #939;
    }
        
    input:focus {
        outline: none;
    }
    .spot-green {
        background-color: #0c0;
        font-size: 11px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-green input {
        background-color: #1d1;
        height: 30px;
        width: 30px;
    }
    .spot-red {
        background-color: #c00;
        font-size: 11px;
        height: 35px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-red input {
        background-color: #e11;
        color: #fff;
    }
    .spot-black {
        background-color: #000;
        font-size: 11px;
        height: 35px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-black input {
        background-color: #222;
        color: #fff;
    }
    
    .spot-purple {
        background-color: #c0c;
        height: 35px;
        color: #fff;
    }
    .spot-purple input {
        background-color: #f0f;
        color: #fff;
    }
    .spot-orange {
        background-color: #fa6c16;
        height: 35px;
        color: #fff;
    }
    .spot-orange input {
        background-color: #f97730;
        height: 30px;
        width: 75px;
        color: #fff;
    }
    .spot-split {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-split input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-corner {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-corner input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-street {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-street input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-double-street {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-double-street input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-basket {
        background-color: #f8ecc1;
    }
    .spot-basket input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    
    .win-green {
        width: 35px;
        max-width: 35px;
        background-color: #242;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    .win-red {
        width: 35px;
        max-width: 35px;
        background-color: #622;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    .win-black {
        width: 35px;
        max-width: 35px;
        background-color: #222;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    
    .col-spot {
        width: 35px;
        max-width: 35px;
        background-color: #939;
    }
    .col-gap {
        width: 20px;
        max-width: 20px;
        background-color: #939;
    }
    .col-margin {
        width: 20px;
        max-width: 20px;
        background-color: #939;
    }
    .cell-blank {
        background-color: #939;
    }
    
    .section-title {
        background-color: #000;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
    }
    .warningCopy {
        font-size: 16px;
    }
    .divHidden {
        display: none;
    }
}
  
  