// Custom CSS for site
.copyright {
    font-size: 10px;
}
.amt-pos {
    color: #0c0;
}
.amt-neg {
    color: #c00;
}
.strategy-table {
    th {
        font-size: 16px;
        padding: 2px;
    }
    td {
        font-size: 16px;
        padding: 2px;
    }
    img {
        padding: 0px;
        margin: 0px;
        width: 40px;
        min-width: 40px;
        height: 20px;
        min-height: 20px;
    }
}
