// Custom CSS for site
.copyright {
    font-size: 10px;
}
.amt-pos {
    color: #0c0;
}
.amt-neg {
    color: #c00;
}
.more-link {
    font-size: 12px;
    text-align: center;
}
.strategy-table {
    font-size: 16px;
    th {
        padding: 0px;
    }
    td {
        padding: 0px 2px 2px 2px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}
