// Custom CSS for site
h1 {
    font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
    color: #2da5b8;
}
th {
    color: #2da5b8;
    font-size: 12px;
    padding: 0px;
}
td {
    font-size: 12px;
    padding: 0px;
}
b, i {
    color: #aaedf8;
}
figure {
    img {
        -webkit-filter: drop-shadow(3px 3px 6px #69c);
        filter: drop-shadow(3px 3px 6px #69c);
        padding: 5px;
    }
    figcaption {
        margin-top: 2px;
        color: #666;
        font-style: italic;
        .roulette-spot {
            width: 28px;
            height: 18px;
        }
    }
}

blockquote {
    footer {
        font-size: 14px;
        color: #999;
        text-align: right;
    }
}

// --------------------------------------------------
// Hamilton theme overrides

.post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
    }
}
.post-title {
    font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
}
.copyright {
    font-size: 10px;
}
.excerpt-image {
    padding-bottom: 20px;
}

// --------------------------------------------------
// Generic site-wide classes

.small {
    font-size: 10px;
}
.amt-pos {
    color: #0f0;
}
.amt-neg {
    color: #f00;
}
.amt-0 {
    color: #ccc;
    font-style: italic;
}
.amt-bad {
    color: #f00;
    font-weight: bold;
    font-size: larger;
}
.amt-good {
    color: #0f0;
    font-weight: bold;
    font-size: larger;
}

.rating-legacy {
    font-weight: bold;
    white-space: nowrap;
}
.rating {
    margin: 0px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    font-weight: bold;
    display: inline-block;
}
.rating-a {
    background-image: url('/assets/img/systems/ratings/a-30x30.png');
}
.rating-b {
    background-image: url('/assets/img/systems/ratings/b-30x30.png');
}
.rating-c {
    background-image: url('/assets/img/systems/ratings/c-30x30.png');
}
.rating-d {
    background-image: url('/assets/img/systems/ratings/d-30x30.png');
}
.rating-f {
    background-image: url('/assets/img/systems/ratings/f-30x30.png');
}

.chip {
    margin: 0px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.chip-1 {
    background-image: url('/assets/img/chips/chip-1-blank-30x30.png');
}
.chip-5 {
    background-image: url('/assets/img/chips/chip-5-blank-30x30.png');
}
.chip-25 {
    background-image: url('/assets/img/chips/chip-25-blank-30x30.png');
}
.chip-100 {
    background-image: url('/assets/img/chips/chip-100-blank-30x30.png');
}
.chip-500 {
    background-image: url('/assets/img/chips/chip-500-blank-30x30.png');
}
.chip-1000 {
    background-image: url('/assets/img/chips/chip-1000-blank-30x30.png');
}

// For system data table
#systemTable_wrapper {
    select {
        background-color: #ccc;
        font-size: 12px;
    }
    input {
        background-color: #ccc;
        font-size: 12px;
    }
    tr:nth-child(even) {
        background-color: #222;
    }

    td {
        font-size: 16px;
        text-align: center;
    }
    th {
        font-size: 16px;
    }
    a.airDate {
        color: #aaedf8;
        font-size: 12px;
        text-decoration: italic;
    }
}

.p-center {
    text-align: center;
}
.cell-center {
    text-align: center;
    white-space: nowrap;
}
.cell-stats {
    background-color: #333;
    font-weight: bold;
    font-size: 20px !important;
}
.blog-list-title {
    font-size: 30px;
    font-weight: bold;
}
.blog-list-date {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}
.blog-list-excerpt {
    font-size: 16px;
}

figure.figure-condensed {
    img {
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .roulette-spot {
            width: 28px;
            height: 18px;
        }
    }
}

// --------------------------------------------------
// Infobox classes (WIP)

div.infobox-info, div.infobox-success, div.infobox-warning, div.infobox-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px;
    border-radius: 10px;
}
 
div.infobox-info {
    color: #00529b;
    background-color: #bde5f8;
    i {
        color: #0099ff;
    }
}
 
div.infobox-success {
    color: #4f8a10;
    background-color: #dff2bf;
}
 
div.info-warning {
    color: #9f6000;
    background-color: #FEEFB3;
}
 
div.infobox-error {
    color: #D8000C;
    background-color: #FFBABA;
}

// --------------------------------------------------

.more-link {
    font-size: 12px;
    background: none;
    border: solid 1px #2d3339;
    padding: 6px 10px;
}

// --------------------------------------------------
// Glossary tool tip classes

.glossary-term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #aaedf8;
    color: #aaedf8;
}
.glossary-term .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(17, 91, 104);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.glossary-term .tooltiptext::after {
    content: "";
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(17, 91, 104) transparent transparent transparent;
}
.glossary-term:hover .tooltiptext {
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

// --------------------------------------------------
// JackAce gambling classes

.table-header-system-name {
    width: 200px;
}

.roulette-spot {
    width: 42px;
    height: 27px;
}
.card-sm {
    width: 17px;
    height: 25px;
    padding-left: 1px;
    padding-right: 1px;
}
.card-md {
    width: 35px;
    height: 49px;
    padding-left: 2px;
    padding-right: 2px;
}
.card-lg {
    width: 70px;
    height: 98px;
    padding-left: 4px;
    padding-right: 4px;
}
.card {
    background-color: #fff;
    font-size: 12px;
    letter-spacing: -0.25px;
    margin: 2px;
    padding: 3px;
    border-radius: 4px;
}
.card-suit-s {
    color: #333;
}
.card-suit-h {
    color: #f00;
}
.card-suit-d {
    color: #00f;
}
.card-suit-c {
    color: #393;
}

.poker-felt {
    color: #fff;
    background-color: #0c0;
    min-width: 600px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.poker-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.poker-hand {
    background-color: rgba(256, 256, 256, 0.5);
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
.poker-hand-title {
    color: #333;
    width: 100%;
    text-align: center;
}

.chip-xs {
    width: 24px;
    height: 24px;
    margin: 2px;
}
.chip-s {
    width: 48px;
    height: 48px;
    margin: 2px;
}
.chip-m {
    width: 128px;
    height: 128px;
    margin: 2px;
}

// --------------------------------------------------
// Table classes

.strategy-table {
    font-size: 16px;
    th {
        padding: 0px;
    }
    td {
        padding: 0px 2px 2px 2px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

.bare-bones-table {
    width: 100%;
    th {
        padding: 0px;
        font-size: 12px;
    }
    td {
        padding: 0px;
        font-size: 12px;
        text-align: center;
    }

}

.betting-system-table {
    width: 80%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
        text-align: center;
    }
}

.roulette-system-table {
    width: 100%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 2px;
        font-size: 16px;
        text-align: center;
    }
}

.key-value-table {
    width: 70%;
    th {
        text-align: left;
        font-size: 18px;
    }
    td {
        font-size: 17px;
    }
}

.condensed-table {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

.pull-right-image {
    float: right;
    margin-left: 10px;
}

.pull-left-image {
    float: left;
    margin-right: 10px;
}

// Used for pages with no side navigation bar
.site-wide {
    width: 100%;
}

.airDate {
    font-size: 12px;
}

.blackjack-strategy {
    .strategy-table {
        width: 60%;
    }
    .hand-total {
        width: 130px;
        padding: 3px;
    }
    .strategy-table>td {
        width: 34px;
        height: 24px;
        padding: 2px;
        margin: 0px;
    }
    .legend-table {
        width: 40%;
        .symbol {
            width: 34px;
            height: 24px;
            padding: 4px;
            margin: 0px;
            text-align: center;
        }
        .hand {
            text-align: center;
            padding: 2px;
            margin: 0px;
        }
    }
}

.wordle {
    background-color: #000;
    .hidden {
        display: none;
    }
    .message {
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #ccc;
    }
    .message-error {
        color: #f00;
    }
    .full-layout {
        display: flex;
        justify-content: center;
    }
    .copy {
        width: 300px;
        margin: 0 auto;
        font-size: 12px;
    }
    #instructions-div {
        font-size: 24px;
    }
    .layout {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .layout-row {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        padding: 2px;
        margin: 0 auto;
    }
    .letter-input {
        background-color: #333;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        width: 60px;
        height: 60px;
        margin: 4px;
    }
    .guess-letter {
        float: left;
        color: #fff;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        line-height: 30px;
        margin: 2px;
        padding: 2px;
        border-radius: 3px;
        border: 1px #333 solid;
        text-align: center;
        font-weight: bold;
    }
    .guess-official {
        border: 1px #fff solid;
    }
    .guess-whiff {
        background-color: #333;
    }
    .guess-hit {
        background-color: #558c51;
    }
    .guess-near-miss {
        background-color: #b49e43;
    }
    .guess-disabled {
        background-color: #000;
        border: 2px #333 solid;
        margin: 2px;
    }
    .keyboard {
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 400px;
        justify-content: center;
        flex-flow: column;
    }
    .keyboard-row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: center;
        padding: 1px;
        margin: 0 auto;
    }
    .keyboard-letter {
        align-items: center;
        background-color: #818384;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 25px;
        height: 30px;
        line-height: 30px;
        padding: 2px;
        margin: 2px;
        border-radius: 3px;
        font-weight: bold;
    }
    .keyboard-button {
        align-items: center;
        background-color: #818384;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 50px;
        min-width: 50px;
        height: 30px;
        line-height: 30px;
        padding: 2px;
        margin: 2px;
        border-radius: 3px;
        font-weight: bold;
    }
    .keyboard-backspace {
        width: 20px;
        padding-top: 5px;
    }
    .keyboard-2 {
        background-color: #558c51;
    }
    .keyboard-1 {
        background-color: #b49e43;
    }
    .keyboard-0 {
        background-color: #333;
    }
    .spacer {
        height: 40px;
    }
    .set-word-link {
        color: #cc0;
    }
    a.set-word-link {
        color: #cc0;
        text-decoration: none;
    }
    a.set-word-link:hover {
        text-decoration: underline;
    }
    .set-word-link-official {
        color: #ff0;
        font-weight: bold;
    }
    a.set-word-link-official {
        color: #ff0;
        font-weight: bold;
        text-decoration: none;
    }
    a.set-word-link-official:hover {
        text-decoration: underline;
    }
}

// Used for roulette bet analyzer (TODO: Move to separate CSS file)
.roulette {
    background-color: #939;
    table {
        //border-collapse: collapse;
        border: 0px;
        padding: 0px;
    }
    td, th {
        font-family: Arial;
        font-size: 10px;
        text-align: center;
        border: 0px;
        padding: 0px;
    }
    input {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        border: hidden;
    }
    button {
        height: 30px;
        font-size: 12px;
    }
    ::placeholder {
        color: #fff;
        font-size: 20px;
        opacity: 0.6;
    }
    #wheelTypeToggleButton {
        width: 35px;
    }
    .hiddenRow {
        display: none;
    }
    .borderRow {
        height: 2px;
        max-height: 2px;
    }
    .watermark {
        font-size: 13px;
    }
    .amt-neg {
        color: #fcc;
        font-weight: bold;
        font-size: 13px;
    }
    .amt-pos {
        font-weight: bold;
        font-size: 13px;
    }
    .expected-loss {
        color: #f00;
        font-weight: bold;
        font-size: 18px;
    }
    .warningDiv {
        color: #f00;
        font-size: 30px;
        background-color: #fff;
        padding: 20px;
    }

    .single-zero-hidden {
        visibility: hidden;
    }

    .single-zero-removed {
        display: none;
    }

    .double-zero-removed {
        display: none;
    }

    .action-link {
        font-size: 12px;
        background-color: #ccc;
        border: solid 1px #2d3339;
        padding: 6px 10px;
        text-decoration: none;
    }
    .action-link:hover {
        color: #00f;
        text-decoration: underline;
    }
        
    .x1 {
        width: 30px;
        height: 30px;
    }
    .x2 {
        width: 18px;
        height: 18px;
    }
    .x3 {
        width: 30px;
        height: 18px;
    }
    .x4 {
        width: 18px;
        height: 18px;
    }
    .x12 {
        width: 80px;
        height: 30px;
    }
    .x18 {
        width: 75px;
        height: 30px;
    }
        
    .roulette-felt {
        background-color: #939;
    }
        
    input:focus {
        outline: none;
    }
    .spot-disabled {
        background-color: #939;
    }
    .spot-green {
        background-color: #0c0;
        font-size: 11px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-green input {
        background-color: #1d1;
        height: 30px;
        width: 30px;
    }
    .spot-red {
        background-color: #c00;
        font-size: 11px;
        height: 35px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-red input {
        background-color: #e11;
        color: #fff;
    }
    .spot-black {
        background-color: #000;
        font-size: 11px;
        height: 35px;
        color: #fff;
        border: 1px #999 solid;
    }
    .spot-black input {
        background-color: #222;
        color: #fff;
    }
    
    .spot-purple {
        background-color: #c0c;
        height: 35px;
        color: #fff;
    }
    .spot-purple input {
        background-color: #f0f;
        color: #fff;
    }
    .spot-orange {
        background-color: #fa6c16;
        height: 35px;
        color: #fff;
    }
    .spot-orange input {
        background-color: #f97730;
        height: 30px;
        width: 75px;
        color: #fff;
    }
    .spot-split {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-split input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-corner {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-corner input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-street {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-street input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-double-street {
        background-color: #f8ecc1;
        height: 20px;
    }
    .spot-double-street input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    .spot-top-line {
        background-color: #f8ecc1;
    }
    .spot-top-line input {
        background-color: #fff5d3;
        height: 18px;
        width: 18px;
    }
    
    .win-disabled {
        background-color: #939;
    }
    .win-green {
        width: 35px;
        max-width: 35px;
        background-color: #242;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    .win-red {
        width: 35px;
        max-width: 35px;
        background-color: #622;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    .win-black {
        width: 35px;
        max-width: 35px;
        background-color: #222;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px #999 solid;
    }
    
    .col-spot {
        width: 35px;
        max-width: 35px;
        background-color: #939;
    }
    .col-gap {
        width: 20px;
        max-width: 20px;
        background-color: #939;
    }
    .col-margin {
        width: 20px;
        max-width: 20px;
        background-color: #939;
    }
    .cell-blank {
        background-color: #939;
    }
    
    .section-title {
        background-color: #000;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
    }
    .warningCopy {
        background-color: #222;
        font-size: 16px;
    }
    .divHidden {
        display: none;
    }
}
  
  