// Custom CSS for site
h1 {
    font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
    color: #2da5b8;
}
th {
    color: #2da5b8;
    font-size: 12px;
    padding: 0px;
}
td {
    font-size: 12px;
    padding: 0px;
}
b, i {
    color: #aaedf8;
}
figure {
    img {
        -webkit-filter: drop-shadow(3px 3px 6px #69c);
        filter: drop-shadow(3px 3px 6px #69c);
        padding: 5px;
    }
    figcaption {
        margin-top: 2px;
        color: #666;
        font-style: italic;
        .roulette-spot {
            width: 28px;
            height: 18px;
        }
    }
}

blockquote {
    footer {
        font-size: 14px;
        color: #999;
        text-align: right;
    }
}

// --------------------------------------------------
// Hamilton theme overrides

.post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
    }
}
.post-title {
    font-family: 'Roboto Slab', 'Noto Serif SC', 'Noto Serif TC';
}
.copyright {
    font-size: 10px;
}
.excerpt-image {
    padding-bottom: 20px;
}

.pre {
    font-family: courier;
}
.currency {
    margin: 2px;
}

// --------------------------------------------------
// Generic site-wide classes

.small {
    font-size: 10px;
}
.amt-pos {
    color: #0f0;
}
.amt-neg {
    color: #f00;
}
.amt-med {
    color: #fb0;
}
.amt-0 {
    color: #ccc;
    font-style: italic;
}
.amt-bad {
    color: #f00;
    font-weight: bold;
    font-size: larger;
}
.amt-good {
    color: #0f0;
    font-weight: bold;
    font-size: larger;
}

.rating-legacy {
    font-weight: bold;
    white-space: nowrap;
}
.rating {
    margin: 0px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    font-weight: bold;
    display: inline-block;
    a {
        color: #fff;
    }
    a:hover {
        color: #ff0;
    }
}
.rating-a {
    background-image: url('/assets/img/systems/ratings/a-30x30.png');
}
.rating-b {
    background-image: url('/assets/img/systems/ratings/b-30x30.png');
}
.rating-c {
    background-image: url('/assets/img/systems/ratings/c-30x30.png');
}
.rating-d {
    background-image: url('/assets/img/systems/ratings/d-30x30.png');
}
.rating-f {
    background-image: url('/assets/img/systems/ratings/f-30x30.png');
}
.rating-cell {
    font-size: 20px;
}
.rating-link {
    color: #000;
}
.rating-link:hover{
    color: #666;
}
.rating-link:visited{
    color: #333;
}
.rating-cell-a {
    background-color: #d95a6a;
}
.rating-cell-b {
    background-color: #df9b7b;
}
.rating-cell-c {
    background-color: #ad657a;
}
.rating-cell-d {
    background-color: #a056a8;
}
.rating-cell-f {
    background-color: #9b9a27;
}

.system-type {
    font-size: 14px;
    color: #999;
    white-space: nowrap;
}

.chip {
    margin: 0px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.chip-1 {
    background-image: url('/assets/img/chips/chip-1-blank-30x30.png');
}
.chip-5 {
    background-image: url('/assets/img/chips/chip-5-blank-30x30.png');
}
.chip-25 {
    background-image: url('/assets/img/chips/chip-25-blank-30x30.png');
}
.chip-100 {
    background-image: url('/assets/img/chips/chip-100-blank-30x30.png');
}
.chip-500 {
    background-image: url('/assets/img/chips/chip-500-blank-30x30.png');
}
.chip-1000 {
    background-image: url('/assets/img/chips/chip-1000-blank-30x30.png');
}

// For system data table
#systemTable_wrapper {
    select {
        background-color: #ccc;
        font-size: 12px;
    }
    input {
        background-color: #ccc;
        font-size: 12px;
    }
    tr:nth-child(even) {
        background-color: #222;
    }

    td {
        font-size: 16px;
        text-align: center;
    }
    th {
        font-size: 16px;
    }
    a.airDate {
        color: #aaedf8;
        font-size: 12px;
        text-decoration: italic;
    }
}

.p-center {
    text-align: center;
}
.cell-center {
    text-align: center;
    white-space: nowrap;
}
.cell-stats {
    background-color: #333;
    font-weight: bold;
    font-size: 20px !important;
}
.blog-list-title {
    font-size: 30px;
    font-weight: bold;
}
.blog-list-date {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}
.blog-list-excerpt {
    font-size: 16px;
}

figure.figure-condensed {
    img {
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .roulette-spot {
            width: 28px;
            height: 18px;
        }
    }
}

// --------------------------------------------------
// Infobox classes (WIP)

div.infobox-info, div.infobox-success, div.infobox-warning, div.infobox-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px;
    border-radius: 10px;
}
 
div.infobox-info {
    color: #00529b;
    background-color: #bde5f8;
    i {
        color: #0099ff;
    }
    a:hover {
        color: #0099ff;
    }
}
 
div.infobox-success {
    color: #4f8a10;
    background-color: #dff2bf;
}
 
div.infobox-warning {
    color: #9f6000;
    background-color: #FEEFB3;
}
 
div.infobox-error {
    color: #D8000C;
    background-color: #FFBABA;
}

// --------------------------------------------------

.more-link {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #009baf;
    border: solid 1px #2d3339;
    padding: 6px 10px;
    a {
        color: #fff;
    }
}

// --------------------------------------------------
// Glossary tool tip classes

.glossary-term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #aaedf8;
    color: #aaedf8;
}
.glossary-term .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(17, 91, 104);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.glossary-term .tooltiptext::after {
    content: "";
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(17, 91, 104) transparent transparent transparent;
}
.glossary-term:hover .tooltiptext {
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

// --------------------------------------------------
// JackAce gambling classes

.table-header-system-name {
    width: 200px;
}

.roulette-spot {
    width: 42px;
    height: 27px;
}
.card-sm {
    width: 17px;
    height: 25px;
    padding-left: 1px;
    padding-right: 1px;
}
.card-md {
    width: 35px;
    height: 49px;
    padding-left: 2px;
    padding-right: 2px;
}
.card-lg {
    width: 70px;
    height: 98px;
    padding-left: 4px;
    padding-right: 4px;
}
.card {
    background-color: #fff;
    font-size: 12px;
    letter-spacing: -0.25px;
    margin: 2px;
    padding: 3px;
    border-radius: 4px;
}
.card-suit-s {
    color: #333;
}
.card-suit-h {
    color: #f00;
}
.card-suit-d {
    color: #00f;
}
.card-suit-c {
    color: #393;
}

.poker-felt {
    color: #fff;
    background-color: #0c0;
    min-width: 600px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.poker-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.poker-hand {
    background-color: rgba(256, 256, 256, 0.5);
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}
.poker-hand-title {
    color: #333;
    width: 100%;
    text-align: center;
}

.chip-xs {
    width: 24px;
    height: 24px;
    margin: 2px;
}
.chip-s {
    width: 48px;
    height: 48px;
    margin: 2px;
}
.chip-m {
    width: 128px;
    height: 128px;
    margin: 2px;
}

// --------------------------------------------------
// Simulator classes
.simulator-table {
    max-width: 600px;
    th {
        font-size: 15px;
        text-align: center;
    }
    td {
        font-size: 15px;
        text-align: center;
    }

    .stats-0 {
        color: #333;
    }
    .stats-00 {
        color: #333;
    }
    .stats-000 {
        color: #333;
    }

    th.stats-0 {
        background-color: #eab38b;
    }
    th.stats-00 {
        background-color: #a3c1e3;
    }
    th.stats-000 {
        background-color: #b1cf95;
    }
    
    tr:nth-child(odd) td.stats-0 {
        background-color: #f8cbad;
    }
    tr:nth-child(odd) td.stats-00 {
        background-color: #bdd7ee;
    }
    tr:nth-child(odd) td.stats-000 {
        background-color: #c6e0b4;
    }
    tr:nth-child(even) td.stats-0 {
        background-color: #f8e5d8;
    }
    tr:nth-child(even) td.stats-00 {
        background-color: #e0ebf6;
    }
    tr:nth-child(even) td.stats-000 {
        background-color: #e4efdc;
    }
}

// --------------------------------------------------
// Table classes

.strategy-table {
    font-size: 16px;
    th {
        padding: 0px;
    }
    td {
        padding: 0px 2px 2px 2px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

.bare-bones-table {
    width: 100%;
    th {
        padding: 0px;
        font-size: 12px;
    }
    td {
        padding: 0px;
        font-size: 12px;
        text-align: center;
    }
}

.betting-system-table {
    width: 80%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
        text-align: center;
    }
}

.roulette-system-table {
    width: 100%;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 2px;
        font-size: 16px;
        text-align: center;
    }
}

.borderless {
    td {
        border: 0px;
    }
    th {
        border: 0px;
    }
    border: 0px;
}

.key-value-table {
    width: 70%;
    th {
        text-align: left;
        font-size: 18px;
    }
    td {
        font-size: 17px;
    }
}

.condensed-table {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    th {
        padding: 4px;
        font-size: 16px;
    }
    td {
        padding: 4px;
        font-size: 16px;
    }
    img {
        margin: 0px;
        min-width: 40px;
        min-height: 20px;
    }
}

.pull-right-image {
    float: right;
    margin-left: 10px;
}

.pull-left-image {
    float: left;
    margin-right: 10px;
}

// Used for pages with no side navigation bar
.site-wide {
    width: 100%;
}

.airDate {
    font-size: 12px;
}

.blackjack-strategy {
    .strategy-table {
        width: 60%;
    }
    .hand-total {
        width: 130px;
        padding: 3px;
    }
    .strategy-table>td {
        width: 34px;
        height: 24px;
        padding: 2px;
        margin: 0px;
    }
    .legend-table {
        width: 40%;
        .symbol {
            width: 34px;
            height: 24px;
            padding: 4px;
            margin: 0px;
            text-align: center;
        }
        .hand {
            text-align: center;
            padding: 2px;
            margin: 0px;
        }
    }
}

.wordle {
    background-color: #000;
    .hidden {
        display: none;
    }
    .message {
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #ccc;
    }
    .message-error {
        color: #f00;
    }
    .full-layout {
        display: flex;
        justify-content: center;
    }
    .copy {
        width: 300px;
        margin: 0 auto;
        font-size: 12px;
    }
    #instructions-div {
        font-size: 24px;
    }
    .layout {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .layout-row {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        padding: 2px;
        margin: 0 auto;
    }
    .letter-input {
        background-color: #333;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        width: 60px;
        height: 60px;
        margin: 4px;
    }
    .guess-letter {
        float: left;
        color: #fff;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        line-height: 30px;
        margin: 2px;
        padding: 2px;
        border-radius: 3px;
        border: 1px #333 solid;
        text-align: center;
        font-weight: bold;
    }
    .guess-official {
        border: 1px #fff solid;
    }
    .guess-whiff {
        background-color: #333;
    }
    .guess-hit {
        background-color: #558c51;
    }
    .guess-near-miss {
        background-color: #b49e43;
    }
    .guess-disabled {
        background-color: #000;
        border: 2px #333 solid;
        margin: 2px;
    }
    .keyboard {
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 400px;
        justify-content: center;
        flex-flow: column;
    }
    .keyboard-row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: center;
        padding: 1px;
        margin: 0 auto;
    }
    .keyboard-letter {
        align-items: center;
        background-color: #818384;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 25px;
        height: 30px;
        line-height: 30px;
        padding: 2px;
        margin: 2px;
        border-radius: 3px;
        font-weight: bold;
    }
    .keyboard-button {
        align-items: center;
        background-color: #818384;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 50px;
        min-width: 50px;
        height: 30px;
        line-height: 30px;
        padding: 2px;
        margin: 2px;
        border-radius: 3px;
        font-weight: bold;
    }
    .keyboard-backspace {
        width: 20px;
        padding-top: 5px;
    }
    .keyboard-2 {
        background-color: #558c51;
    }
    .keyboard-1 {
        background-color: #b49e43;
    }
    .keyboard-0 {
        background-color: #333;
    }
    .spacer {
        height: 40px;
    }
    .set-word-link {
        color: #cc0;
    }
    a.set-word-link {
        color: #cc0;
        text-decoration: none;
    }
    a.set-word-link:hover {
        text-decoration: underline;
    }
    .set-word-link-official {
        color: #ff0;
        font-weight: bold;
    }
    a.set-word-link-official {
        color: #ff0;
        font-weight: bold;
        text-decoration: none;
    }
    a.set-word-link-official:hover {
        text-decoration: underline;
    }
}

#mastodon-div a {
    color: #131313;
    font-size: 5px;
}