---
layout: post
title: "Analyze your Roulette System using the Roulette Bet Analyzer!"
date: 2022-01-21 00:01:01 -0800
author: Jack Hayes
tags: [roulette,roulette bet analyzer,tools,ceg dealer school,software]
excerpt_image: /assets/img/posts/2022-01-21/00-title-800x743.png
summary: "Are you making bad bets in Roulette? Analyze your system using the Roulette Bet Analyzer!"
comments: true
---

<img src="{{site.baseurl}}{{page.excerpt_image}}" class="excerpt-image" />
<br/>
<p>
    I've been watching a lot of videos of Roulette betting systems by the 
    <a href="https://www.youtube.com/c/CEGDealerSchool" target="_blank">CEG Dealer School</a>
    and I often find myself <i>shouting</i> at the screen.
</p>
<p>
    Some of these systems waste your time by making lots of small bets instead of a
    larger multi-number bet with the same payout.
</p>
<p>
    Some of these systems waste your money by betting on more than 35 numbers at a time,
    resulting in bets being
    <a href="{{site.baseurl}}/blog/2022/01/22/Bet-Nullification-in-Roulette/">"nullified"</a>.
</p>
<p>
    But worst of all, some of these systems have incorrectly calculated payouts, resulting
    in an inaccurate assessment of the system.
</p>

<h2>Introducing the Roulette Bet Analyzer</h2>
<p>
    I've built a tool that will help you analyze your Roulette system and find any potential
    flaws. You can find this tool at
</p>
<blockquote>
    <a href="{{site.baseurl}}/gambling/roulette/bet-analyzer/">https://www.jackace.com/gambling/roulette/bet-analyzer/</a>
</blockquote>
<p>
    It's also available in the Roulette section of the navigation bar above.
</p>
<p>
    This tool does the following:
    <ul>
        <li>
            Shows the total amount bet
        </li>
        <li>
            Displays the <span class="amt-pos">Win</span> and <span class="amt-neg">Loss</span>
            results for each number
        </li>
        <li>
            Displays the equity per number.
        </li>
        <li>
            Displays a warning if you bet the 5-number "Top Line" bet
        </li>
        <li>
            Displays a warning if you bet on more than 35 numbers.
        </li>
    </ul>
</p>

<h2>Tool Sections</h2>
<p>
    There are 4 sections to this tool:
    <ul>
        <li>
            The Betting Layout
        </li>
        <li>
            Total Amount Bet
        </li>
        <li>
            Win/Loss per spot
        </li>
        <li>
            Equity per spot
        </li>
    </ul>
</p>

<h3>The Betting Layout</h3>
<p>
    To enter most bets in the tool, just click on the betting area where you want to bet and
    type in the amount.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/01-180-red-800x252.png" alt="$180 on Red" />
    <figcaption>
        Making a $180 bet on Red
    </figcaption>
</figure>
<p>
    If you want to make Split, Corner, Street, Double-Street, or even the 5-number
    <i>Top Line</i> bet, you have to click in the area between the numbers. So if you want to bet on
    the
    {% include roulette-spot.html number="4" %}
    to
    {% include roulette-spot.html number="6" %}
    Street bet, you'd enter your bet between the 
    {% include roulette-spot.html number="4" %}
    and the <i>1st Dozen</i> betting areas.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/02-30-street-800x252.png" alt="$30 Street bet" />
    <figcaption>
        $30 bet on the 
        {% include roulette-spot.html number="4" %}
        to
        {% include roulette-spot.html number="6" %}
        Street
    </figcaption>
</figure>

<h3>Total Amount Bet</h3>
<p>
    This section is self-explanatory. It's the sum of all bets you've made.
</p>
<figure class="figure-condensed">
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/03-total-amount-bet-344x136.png" alt="$180 Bet" />
    <figcaption>
        This area shows the total amount bet
    </figcaption>
</figure>

<h3>Win/Loss per Spot</h3>
<p>
    This area shows how much you will win when the ball lands on a specific number. Checking this
    will prevent incorrect payouts when you're relying on the system's author's math skills.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/04-winloss-800x188.png" alt="Win/Loss per spot for the $180 bet on Red" />
    <figcaption>
        Win/Loss per spot for the $180 Red bet. Hitting Red results in a
        {% include win-loss-amount.html amount=180 %}
        win. Black/Green results in a
        {% include win-loss-amount.html amount=-180 %}
        loss.
    </figcaption>
</figure>
<p>
    If you're trying to 
    <a href="{{site.baseurl}}/blog/2022/01/11/Distributative-Bets-in-Roulette/">consolidate bets or spread out multi-number bets</a>.
    it's good to check whether the payouts are the same for both betting schemes using these numbers.
</p>
<p>
    If your original system tells you to bet $10 Straight-up on the numbers
    {% include roulette-spot.html number="1" -%},
    {% include roulette-spot.html number="2" -%}, and
    {% include roulette-spot.html number="3" -%},
    you might consider betting $30 on the 
    {% include roulette-spot.html number="1" %} to
    {% include roulette-spot.html number="3" %},
    Street bet using the
    <a href="{{site.baseurl}}/blog/2022/01/11/Distributative-Bets-in-Roulette/">Distributive Property of Roulette Betting</a>.
    Checking the Win/Loss per spot with this tool will give you some reassurance that
    your net result will be the same.
</p>

<h3>Equity per Spot</h3>
<p>
    This area shows how much you could potentially bet on each number straight-up, ignoring all
    multi-number bets. This helps identify bets that you might be able to roll up.
</p>
<p>
    If you have adjacent numbers with equity, you can figure out if there is a multi-number bet
    that achieves the same equity per spot after you consolidate the bets.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/05-equity-800x188.png" alt="Equity per spot for the $180 bet on Red" />
    <figcaption>
        Equity per spot for the $180 Red bet. This is equivalent to betting $10 on each of the red
        numbers Straight-up, according to the 
        <a href="{{site.baseurl}}/blog/2022/01/11/Distributative-Bets-in-Roulette/">Distributive Property of Roulette Betting</a>.
    </figcaption>
</figure>

<h2>Warnings</h2>
<p>
    The tool will also warn you if you do either of the two big <i>Roulette no-nos</i>.
</p>
<p>
    If you avoid these two faux pas, you will be the <i>BEST ROULETTE PLAYER AT YOUR TABLE</i>.
    If you engage in either of these two practices, you are making bets that can be improved
    with a different configuration of bets, reducing the amount of money you've bet and reducing
    the house advantage.
</p>

<h3>Never bet the 5-number bet!</h3>
<p>
    The 5-number bet is the <i>WORST</i> bet on the Roulette layout. We've proven this in my post on
    <a href="{{site.baseurl}}/blog/2021/12/29/The-Basics-of-Roulette-Math/">the Basics of Roulette Math</a>.
</p>
<p>
    The 5-number bet is the only bet that pays off at a worse rate than the already horrendous 5.26%
    house advantage. For the Double-zero Roulette wheel, the house advantage of the 5-number bet is
    <span class="amt-bad">7.89%</span>. For the Triple-zero Roulette wheel (Why on Earth are you
    playing triple-zero? If you are, stop right now!), the house advantage is
    <span class="amt-bad">10.26%</span>!
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/06-5-number-bet-800x110.png" alt="Never bet the 5-number Top Line bet" />
    <figcaption>
        The house advantage for Roulette is already shitty. Don't make things worse by betting the 5-number bet.
    </figcaption>
</figure>
<p>
    The Roulette Bet Analyzer will let you know if you've made this costly mistake.
</p>
<p>
    If you <i>really</i> want to bet on these 5 numbers, you're better off betting on each of the
    numbers individually. For example, if you wanted to bet $36 on the 5-number bet, you could bet
    $7 on each of the numbers Straight-up instead. When you hit, you win
    {% include win-loss-amount.html amount=217 %}
    instead of the $216 that you'd win for the 5-number bet. When
    you miss, you lose
    {% include win-loss-amount.html amount=35 %}
    instead of $36. You'd be $1 ahead on every
    spin, win or lose. Want to check the math? Use this tool!
</p>

<h3>Never bet on more than 35 numbers at the same time!</h3>
<p>
    If you <i>ever</i> find yourself in a position where you have money riding on 36 or more
    numbers in a single spin, then you've created a situation where your bets are working against
    each other.
</p>
<p>
    Imagine betting $100 on Red and $100 on Black at the same time. When you hit Red or Black, your
    losing bet will pay off your winning bet and you will have a net result of $0. But if the ball
    lands on
    <img src="{{site.baseurl}}/assets/img/roulette/0_g.svg" alt="0 Green" width="40"/> or
    <img src="{{site.baseurl}}/assets/img/roulette/00_g.svg" alt="00 Green" width="40"/>, 
    you'll lose the entire <span class="amt-neg">$200</span>.
</p>
<figure class="figure-condensed">
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/07-surprised-pikachu-500x500.jpg" alt="Surprised Pikachu" />
    <figcaption>If you cover 36 numbers you might not have <b>ANY</b> way to win.</figcaption>
</figure>
<p>
    Sometimes this situation is not as obvious. Believe it or not, there have been <i>MANY</i>
    systems reviewed by the CEG Dealer School that do exactly this. In a system named
    <a href="https://www.youtube.com/watch?v=eZgHu0fdWTo&t=301s">"Diamond Heist"</a>, $45 was
    locked up bets that 
    <a href="{{site.baseurl}}/blog/2022/01/22/Bet-Nullification-in-Roulette/">cancelled out each other</a>
    when they hit, and lost when
    <img src="{{site.baseurl}}/assets/img/roulette/0_g.svg" alt="0 Green" width="40"/> or
    <img src="{{site.baseurl}}/assets/img/roulette/00_g.svg" alt="00 Green" width="40"/> hit.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-01-21/08-36-numbers-800x154.png" alt="Never bet on 36 numbers or more" />
    <figcaption>
        If you bet on 36 or more numbers at a time, you're betting against yourself to the extreme
        point where you can never win and only lose money.
    </figcaption>
</figure>
<p>
    The Roulette Bet Analyzer will let you know if you've made this bone-headed mistake. 
</p>

<h2>Congratulations! You've Created the Best Roulette System!</h2>
<p>
    If you heed the warnings of this tool, you will have created the best Roulette system
    that isn't simply <i>"Never Play Roulette"</i>. Just like every other Roulette system, your
    system will lose <span class="amt-neg">$5.26</span> for every $100 you bet!
</p>
<p>
    You can also rest assured that your payouts are accurate.
</p>
<p>
    In the future, I may add more features to this tool, such as showing exactly how to
    optimize your bets into multi-number bets, and more tooltips to show stats on each
    betting spot.
</p>
<p>
    Found a bug? Have a suggestion? Add a comment below!
</p>

{%- include venn-badge.html isGambling=true isMath=true -%}
