---
layout: post
title: "Drake's $250,000+ Roulette Spin!"
date: 2022-02-27 00:01:00 -0800
author: Jack Hayes
tags: [roulette,drake,ceg dealer school]
excerpt_image: "/assets/img/posts/2022-02-27/00-title-v2-800x800.jpg"
summary: "Ever see someone bet a quarter of a million dollars in a single spin of Roulette? Drake just did at the Aria Casino in Las Vegas."
comments: true
math: true
---

<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/01-drake-spin-800x800.jpg" alt="Drake makes a $250,000+ Roulette bet" />
    <figcaption>
        Rap Artist Drake lays down <b>$250,000+</b> on the Roulette Table
    </figcaption>
</figure>
<p>
    Yeah, so this happened.
</p>
<p>
    Social Media blew up after rap artist Drake posted a picture of himself on Instagram betting what appears
    to be over <i>a quater million dollars</i> on a Roulette spin at the Aria Hotel and Casino in Las Vegas.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/01b-social-media-800x267.jpg" alt="Social Media posts about Drake and Roulette" />
    <figcaption>
        Lots of people on social media had things to say about Drake's Roulette bet and his addiction to
        Roulette in general.
    </figcaption>
</figure>

<h2>Estimating the Bet</h2>

<h3>Aria's Chips</h3>
<p>
    In order to estimate Drake's bet you have to be familiar with Aria's high limit chips.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/02-aria-chips-800x592.jpg" alt="Aria's higher limit chips" />
    <figcaption>
        Aria's $25, $100, $500, $1000, $5000, $25,000 chips. Not pictured: their $100,000 chip <b>(Yes, they have them!)</b>
    </figcaption>
</figure>
<p>
    Aria has the standard yellow $1000 chip, but they also have a $25,000 chip that happens to be red, the same
    color of most casino's $5 chips.
</p>
<p>
    If you've never seen their $25,000 chip, you might erroneously assume that the red chips at the
    base of the
    {% include roulette-spot.html number="11" %} and 
    {% include roulette-spot.html number="23" %} are $5 chips.
</p>

<h3>Drake's Bet</h3>
<p>
    By my account, Drake bet <i>at least</i> $255,000 on this spin. It's probably a bit more because those
    <b>GINORMOUS</b> stacks obscure the bets that are likely behind them.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/03-estimated-bets-800x127.png" alt="We can definitely see $255k in $1000 and $25,000 chips" />
    <figcaption>
        We can definitely see $255k in $1000 and $25,000 chips. There may be another $8k-$10k on
        straight-up and split bets we can't see that cover the
        {% include roulette-spot.html number="6" -%},
        {% include roulette-spot.html number="9" -%},
        {% include roulette-spot.html number="18" -%}, and
        {% include roulette-spot.html number="28" -%}.
    </figcaption>
</figure>
<p>
    If you extrapolate some of his other bets and apply them to bets he might likely make, you can add another
    $8k to $10k on top. Since he's already hit a quarter million, we won't include the unknown bets in
    our analysis.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/04-estimated-bets-800x630.png" alt="A closer look at the center column bets" />
    <figcaption>
        Drake's Bets in the center column. There are two $25,000 chips on the 
        {% include roulette-spot.html number="11" %} and there is a single $25,000 at the base of the
        {% include roulette-spot.html number="23" -%}.
    </figcaption>
</figure>
<p>
    I also think the $24,000 and $39,000 stacks on the 
    {% include roulette-spot.html number="20" %} and
    {% include roulette-spot.html number="23" %} might actually contain a chip that we can't see, adding another
    $1000 each and making these two bets much nicer round numbers that align with the other big bets in
    the center column.
</p>


<h2>The House Advantage</h2>
<p>
    I applaud Drake for finding a Single-Zero Roulette wheel. There are several of them in Las Vegas and playing 
    at one cuts the house edge almost in half from 5.26% to just 2.7%.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/05-double-vs-single-800x800.jpg" alt="Drake wisely chooses the Single Zero Roulette wheel" />
    <figcaption>
        Single Zero Roulette reduces the house advantage to just 2.7% compared to the 5.26% house edge of Double Zero Roulette.
    </figcaption>
</figure>
<p>
    Going by our original $255,000 bet estimate, that's an Expected Value
    (EV) of {% include win-loss-amount.html amount=-6885 %} for this single spin.
</p>

<h2>The "COMPLETE" Bet in Roulette</h2>
<p>
    But there's more to this bet than people probably realize. One thing that really sticks out is
    the discs on top of 6 of his center column bets that say <i>"COMPLETE"</i> on them.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/06-complete-lammer-300x200.jpg" alt="There's a plastic cisc with the word 'COMPLETE' on top of 6 of the center column bets" />
    <figcaption>
        6 of the center column bets have a plastic lammer with the word "COMPELTE" on them.
    </figcaption>
</figure>
<p>
    I had never heard of the
    <a href="https://www.roulette17.com/bets/complete/" target="_blank">"Complete Bet"</a>
    before so I did some internet sleuthing to find out what it was.
</p>
<p>
    The <i>Complete Bet</i> (also known as the <b>Maximum Bet</b>) is a bet that is offered to high-rollers
    who want to make multiple bets involving a single number at a time. I think it's only offered to
    high-rollers because it's complicated to pay out and it usually only involved at a table where a
    single person is playing.
</p>
<p>
    When you make a Complete Bet, your large bet is divided by 40 equal units and spread amongst the following
    bets:
</p>
<table class="betting-system-table">
    <thead>
        <tr>
            <th>
                Bet
            </th>
            <th>
                Amount
            </th>
            <th>
                Number of bets
            </th>
            <th>
                Payout
            </th>
            <th>
                Total Units Bet
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Straight-up
            </td>
            <td class="cell-center">
                1 unit
            </td>
            <td class="cell-center">
                1
            </td>
            <td class="cell-center">
                35 to 1
            </td>
            <td class="cell-center">
                1
            </td>
        </tr>
        <tr>
            <td>
                Split
            </td>
            <td class="cell-center">
                2 units
            </td>
            <td class="cell-center">
                4
            </td>
            <td class="cell-center">
                17 to 1
            </td>
            <td class="cell-center">
                8
            </td>
        </tr>
        <tr>
            <td>
                Street
            </td>
            <td class="cell-center">
                3 units
            </td>
            <td class="cell-center">
                1
            </td>
            <td class="cell-center">
                11 to 1
            </td>
            <td class="cell-center">
                3
            </td>
        </tr>
        <tr>
            <td>
                Corner
            </td>
            <td class="cell-center">
                4 units
            </td>
            <td class="cell-center">
                4
            </td>
            <td class="cell-center">
                8 to 1
            </td>
            <td class="cell-center">
                16
            </td>
        </tr>
        <tr>
            <td>
                Double-Street
            </td>
            <td class="cell-center">
                6 units
            </td>
            <td class="cell-center">
                2
            </td>
            <td class="cell-center">
                5 to 1
            </td>
            <td class="cell-center">
                12
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
            </th>
            <th>
                Total Bets:
            </th>
            <td>
                12 bets
            </td>
            <th>
                Total Units:
            </th>
            <td>
                40 units
            </td>
        </tr>
    </tfoot>
</table>
<p>
    So here's what a $40 Complete Bet on the 
    {% include roulette-spot.html number="8" %} would look like after being broken down to its 
    component bets:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/07-complete-bet-rba-800x579.png" alt="Breakdown of the Complete Bet and the associated payouts" />
    <figcaption>
        This is how a $40 Complete Bet on the 
        {% include roulette-spot.html number="8" %} would be broken down and payed out. Screenshot taken
        from the 
        <a href="{{site.baseurl}}/gambling/roulette/bet-analyzer/">Roulette Bet Analyzer tool</a>
        available on this site.
    </figcaption>
</figure>
<p>
    If we look at the <i>Equity per Spot</i> section, we can see that a $40 Complete Bet is the same as betting
    $12 Straight-up on the main number, with $2, $4, and $6 bets being distributed to the surrounding numbers
    as "collateral damage".
</p>
<p>
    Each of the 12 bets involved in the Complete Bet spreads 1 unit of equity to each number of the multi-number
    bet. So the 6-unit Double-Street spreads 1 unit of equity to the 6 numbers involved in the 6-number bet.
    You can read my post on
    <a href="{{site.baseurl}}/blog/2022/01/11/Distributive-Bets-in-Roulette/">The Distributive Property of Roulette Bets</a>
    to find out why.
</p>
<p>
    Typically, the bet will be a nice round multiple of 40. This is why I think Drake's bet on the 
    {% include roulette-spot.html number="23" %} is might be $40k, not $39k. Otherwise, the unit size for
    his bet would be $975 and his payouts would involve him getting back Black and Green chips, which are
    nowhere to be seen in the photo.
</p>

<h2>Breaking Down Drake's Complete Bets</h2>
<p>
    Now that we know what a Complete Bet is, we can dissect Drake's bets.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/08-drakes-complete-bets-800x210.png" alt="Drake's Complete Bets" />
    <figcaption>
        The four Complete Bet sizes that Drake made and their distribution amongst neighboring bets.
    </figcaption>
</figure>
<p>
    There are four different bet sizes from what I can tell. $50k, $39k, $25k, and $24k. Even though it is likely
    that the $39k bet is $40k and that $24k bet is $25k, I can't say those higher numbers are accurate with 100%
    certainty, so I'm going to stick with the conservative amounts.
</p>
<p>
    The above table shows how these Complete Bets will break down to their associated bets. Now we just have
    map these values to the 6 Complete Bets made.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/09-drakes-complete-bets-800x205.png" alt="Applying the Complete Bet breakdowns to simple Roulette Bets" />
    <figcaption>
        Applying the Complete Bet breakdowns to simple Roulette Bets. The bottom set of bets is the summed up
        values for the bets covering 
        {%- include roulette-spot.html number="4" -%} through
        {%- include roulette-spot.html number="30" -%}.
    </figcaption>
</figure>
<p>
    Now we can add these numbers to the numerous $2000 Straight-up and Split bets he has sprinkled around the
    table and we get:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/10-final-betting-scheme-800x153.png" alt="The final betting scheme with no Complete Bets" />
    <figcaption>
        This is what Drake's bet would look like if there were no Complete Bets. The numbers between the red
        and black cells represent Split and Corner Bets. The numbers along the bottom represent Street and
        Double-Street bets.
    </figcaption>
</figure>
<p>
   And by using the  
   <a href="{{site.baseurl}}/blog/2022/01/11/Distributive-Bets-in-Roulette/">Distributive Property of Roulette Bets</a>,
   we can recreate this betting scheme using only Straight-up bets:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/11-final-betting-scheme-striaght-up-800x164.png" alt="A betting scheme that matches Drake's bets but with only Straight-up bets" />
    <figcaption>
        Here's a betting scheme that produces the same results, but comprised of only Straight-up bets.
    </figcaption>
</figure>
<h2>Payouts for Each Number</h2>
<p>
    And for our grand finale, we have the payouts below:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2022-02-27/12-payouts-800x146.png" alt="The payouts" />
    <figcaption>
        What the payouts would be for every number
    </figcaption>
</figure>
<h2>Jackpot Hits</h2>
<p>
    The major jackpot number is 
    {% include roulette-spot.html number="11" -%}, which pays
    {% include win-loss-amount.html amount=465000 -%}.
</p>
<p>
    Coming in at second place is 
    {% include roulette-spot.html number="23" -%}, which pays
    {% include win-loss-amount.html amount=342600 -%}.
</p>
<h2>Whacks</h2>
<p>
    There are 10 major WHACKS, which are the 
    {% include roulette-spot.html number="0" -%},
    {% include roulette-spot.html number="1" -%},
    {% include roulette-spot.html number="2" -%},
    {% include roulette-spot.html number="3" -%},
    {% include roulette-spot.html number="31" -%},
    {% include roulette-spot.html number="32" -%},
    {% include roulette-spot.html number="33" -%},
    {% include roulette-spot.html number="34" -%},
    {% include roulette-spot.html number="35" -%}, and
    {% include roulette-spot.html number="36" -%}, which loses the entire
    {% include win-loss-amount.html amount=-255000 %} wagered.
</p>
<p>
    There's also a mini-whack on 
    {% include roulette-spot.html number="6" -%}, which loses
    {% include win-loss-amount.html amount=-210000 -%}.
</p>

<h2>Drake Gonna Drake</h2>
<p>
    Drake's a grown-ass man. Don't hate him because he is betting more money than you
    make in several years. I have no problem with a wealthy person making bets that
    are more than 5 times the average household income, so long as he's playing well
    within his means.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/c5OTsqXo2UE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    This isn't even the first time Drake has posted a nose-bleed level Roulette bet on the internet.
    He also posted a TikTok video of him hitting an
    {% include roulette-spot.html number="8" %} with (reportedly) over $200k on the table
    (although it's difficult to see exactly how much he bet and/or won).
</p>
<p>
    He's playing Single-Zero Roulette.<br/>
    He's not betting on 
    <a href="{{site.baseurl}}/blog/2022/01/22/Bet-Nullification-in-Roulette/">36 or more numbers at a time</a>.<br/>
</p>
<p>
    So Drake is performing much better than the vast majority of systems that I've seen lately on
    <a href="https://www.youtube.com/c/CEGDealerSchool" target="_blank">CEG Dealer School's</a>
    YouTube channel. I'm pretty sure he's betting within his means (although it's pretty scary that
    he would bet so much on an internet casino while just chillin' at home).
</p>
<p>
    Remember to gamble responsibly.
</p>
