---
layout: post
title: "Drake's INSANE $12 Million Stake.com WIN"
date: 2023-01-27 00:00:01 -0800
author: Jack Hayes
tags: [roulette,rouette bet analyzer,drake,stake.com,xposed]
excerpt_image: "/assets/img/posts/2023-01-27/00-thumbnail-1920x1080.png"
summary: "Drake won almost $12 MILLION dollars on a single Roulette spin!"
comments: true
math: true
---

<img src="{{site.baseurl}}{{page.excerpt_image}}" class="excerpt-image" />
<p>
    There are <i>insane</i> bets and then there are <b>DRAKE LEVEL INSANE</b> bets.
</p>

<p>
    Rap artist Drake is known for beting a high-rolling Roulette Player, but his Roulette
    session from mid 2022 was something that even the most experienced gamblers have never seen.
</p>
<p>
    On July 11, Drake played Roulette with fellow high-roller
    <a href="https://www.youtube.com/@XposedLIVE" target="_blank">Xposed</a>
    on Twitch where he
    <a href="https://www.youtube.com/watch?v=Xf4TheUixKw">sat down with over $8 Million</a>.
</p>
<p>
    During this session, Drake was seen betting as much as $1 MILLION per spin and at one point,
    grew his bankroll to up to over $27 MILLION.
</p>
<p>
    His most notable spin was a $1 Million dollar bet made up of 12 bets involving the number
    {% include roulette-spot.html number="11" -%}.
</p>

<h2>The (almost) $12 MILLION WIN</h2>
<p>
    And, wouldn't you know it...the
    {% include roulette-spot.html number="11" %}
    hit.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-01-27/01-drake-hits-12m-800x434.jpg" alt="You WIN $12,960,000" />
    <figcaption>
        Drake bets $1M and wins $11.96M
    </figcaption>
</figure>
<p>
    And if you're looking at the screenshot above and wondering why I'm not saying he won almost
    <i>$13 Million</i>,
    it's because of the way that Stake.com reports wins in Roulette.
</p>
<p>
    They don't show you the net gain. The show you the sum of money you get back in your account balance, so
    the
    {% include win-loss-amount.html amount=12960000 %}
    win <i>includes</i> the original $1,000,000 bet.
</p>
<p>
    And we can see in the stream that Drake is betting $1,000,000 on the spin because that value is displayed
    in the lower left corner of the game. But it's difficult to tell <i>exactly</i> how much was bet on each
    Straight-up, Split, Corner, Street, and Double Street bet that he made, because they only display
    the colored chips on each bet without showing the total value.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-01-27/02-betting-layout-690x340.png" alt="Stake.com Betting Layout" />
    <figcaption>
        Enhanced depiction of Drake's $1M bet. There are 12 different bets that add up to the $1M, but it's not
        possible to tell <i>exactly</i> how much was placed on each wager.
    </figcaption>
</figure>

<h2>The $1,000,000 Winning Bet</h2>
<p>
    So, I hopped over to the 
    <a href="{{site.baseurl}}/gambling/roulette/bet-analyzer/">JackAce Roulette Bet Analyzer</a>
    to see if I could recreate his bets.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OI3F0JfM_To" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>
    The Roulette Bet Analyzer is a tool I created that analyzes Roulette betting patterns and helps you
    eliminate bad bets such as the 5-number Top Line bet or betting patterns that have bets that
    <a href="https://www.youtube.com/watch?v=q6QurhEumCY" target="_blank">cancel each other out</a>.
</p>
<p>
    Using the tool, I entered a few best guesses at his 12 wagers and I was able to find a combination
    that resulted in a 
    {% include win-loss-amount.html amount=11960000 %}
    win.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-01-27/02-bets-1920x1080.png" alt="Drake's $1M Bet" />
    <figcaption>
        My best guess at Drake's famous $1M bet
    </figcaption>
</figure>
<p>
    I figured that the bet was probably symmetrical in relation to the 
    {% include roulette-spot.html number="11" %}
    epicenter. So all 4 Split bets were probably equal in value. All 4 Corner bets were equal. And
    the two Double Street bets were likely equal, too.
</p>
<p>
    And since the graphic showed all purple chips, I figured the bet was a nice and even multiple of
    $5000. If it wasn't, then we'd probably see some yellow 
    {% include chip-amount.html chipAmount=1000 %}
    chips on top.
</p>
<p>
    The betting pattern above results in the net
    {% include win-loss-amount.html amount=11960000 %}
    win when the 
    {% include roulette-spot.html number="11" %}
    hits.
</p>
<p>
    Drake also would have won
    {% include win-loss-amount.html amount=4400000 %}
    if the
    {% include roulette-spot.html number="10" %} or
    {% include roulette-spot.html number="12" %} hit.
</p>
<p>
    And he would have won
    {% include win-loss-amount.html amount=2300000 %}
    if the
    {% include roulette-spot.html number="8" %} or
    {% include roulette-spot.html number="14" %} hit.
</p>
<p>
    Here's a full breakdown of the wins and losses for this betting scheme:
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-01-27/03-rba-in-thousands-800x435.png" alt="Bets and Win/Loss Amounts for Drake's winning bet." />
    <figcaption>
        Win and Loss amounts for each result for Drake's infamous bet (in thousands) as displayed by the
        <a href="{{site.baseurl}}/gambling/roulette/bet-analyzer/">Roulette Bet Analyzer</a>.
    </figcaption>
</figure>

<h2>Expected Value and Comp Value</h2>
<h3>Expected Value</h3>
<p>
    Calculating the Expected Loss for this spin is pretty simple. The
    house edge for Single Zero Roulette is 2.7%, making his expected
    loss
    {% include win-loss-amount.html amount=-27000 -%}.
</p>
<h3>Comp Value</h3>
<p>
    Since Drake was playing on an online casino, there's really no
    opportunity to earn freebies with Comps.
</p>
<p>
    Comps are the rewards that casinos give players in exchange for
    their play. This ususally comes in the form of free Room, Food, and
    Beverage while on their property or sister properties.
</p>
<p>
    And Comps are usually awarded as around 20% of the player's expected
    loss. If Drake had made a similar bet at
    <a href="{{site.baseurl}}/blog/2022/02/27/Drakes-250000-Roulette-Bet/">the Aria</a>,
    he would have received about 
    {% include win-loss-amount.html amount=5400 %} in comps.
</p>

<h2>Other Combinations</h2>
<p>
    It's possible that there are other betting patterns that would
    yield the same 
    {% include win-loss-amount.html amount=11960000 %}
    win, but it's not likely to be much different in terms of the
    other payouts.
</p>

{%- include venn-badge.html isGambling=true isMath=true -%}
