---
layout: post
title: "What Cards should I Use?"
date: 2023-02-20 00:00:01 -0800
author: Jack Haze
tags: [poker,cards,kem,gemaco,copag,bicycle,us playing card co,bees]
excerpt_image: "/assets/img/posts/2023-02-20/00-thumbnail-1920x1080.png"
summary: "How can you pick the best playing cards to use for your next home game?"
comments: true
math: true
---

<img src="{{site.baseurl}}{{page.excerpt_image}}" class="excerpt-image" />
<p>
    What are the best cards to use for your home game?
</p>
<p>
    It depends.
</p>

<p>
    What cards to use can vary greatly based on what type of game you're hosting and
    the level of stakes you're playing.
</p>

<h3>Factors</h3>
<p>
    The type of cards you pick depends on:
</p>
<ul>
    <li>
        What game you're playing
    </li>
    <li>
        The stakes
    </li>
    <li>
        How often you plan on hosting
    </li>
    <li>
        and whether players may have any visual impairments
    </li>
</ul>

<h3>Options</h3>
<p>
    The above factors will determine:
</p>
<ul>
    <li>
        The card width
    </li>
    <li>
        The index type
    </li>
    <li>
        The material
    </li>
    <li>
        The suit colors
    </li>
</ul>

<figure>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VbmecWh_Bpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <figcaption>
        Don't like reading? Watch the video version of this blog post instead!
    </figcaption>
</figure>

<h2>Card Width</h2>
<p>
    The type of game you're playing is a huge factor in what size deck to use.
</p>
<p>
    By default, you should use a <i>Standard Width</i> or <i>Poker Width</i> deck. This
    is the standard size you'd find online and even grocery stores, so if you don't go
    out of your way, this is what you'll probably get.
</p>
<p>
    The <i>only</i> reason for getting something other than Standard Width is if you are
    playing any <b>Trick-Based Games</b> or other <b>13-card Games</b>.
</p>
<p>
    A standard playing card is \(2 \frac{1}{2}\) inches wide by \(3 \frac{1}{2}\) inches
    in height.
</p>

<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/01-standard-width-410x545.png" alt="Dimensions for Standard Sized Card" />
    <figcaption>
        The dimensions of a standard card is \(2 \frac{1}{2}\) inches by \(3 \frac{1}{2}\) inches
    </figcaption>
</figure>

<p>
    Trick-based games would include <i>Bridge</i>, <i>Hearts</i>, <i>Spades</i>, 
    and <i>Pinochle</i>. Of course, if you play Pinochle, you're probably already well
    schooled with what cards to get, because you're probably already buying the 
    48-card Pinochle deck.
</p>
<p>
    But for the other 52-card games listed above, you probably want to get a <i>Narrow Width</i>
    deck. This is also called a <i>Bridge-Sized</i> deck, for obvious reasons.
</p>
<p>
    Narrow sized cards are also best for 13 card games like Chinese Poker and Big 2.
</p>
<p>
    Narrow sized cards are usually 2 1/4" by 3 1/2".
</p>
<p>
    The narrow width of the cards makes them a lot easier to hold, especially if you're trying
    to fan out 13 cards at a time (the starting deal for most trick-based games).
</p>

<h2>Index Size</h2>
<p>
    And for these games, it's always best to use standard index instead of Jumbo index.
    When you use Jumbo index, it becomes nearly <b>IMPOSSIBLE</b> to fan out a 13-card hand.
</p>
<p>
    Jumbo index cards have a larger font in the upper left and lower right corners of each
    card. This makes reading the card easier, especially from a distance.
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/02-standard-vs-jumbo-index-600x338.png" alt="Standard and Jumbo Index Bicycle Cards" />
    <figcaption>
        Sets of Standard (808) and Jumbo Index (88) Bicycle decks made by the US Playing Card Company
    </figcaption>
</figure>
<p>
    Jumbo Index is best for poker, where players might need to see a player's cards or community
    cards from across a long table.
</p>

<h2>Suit Colors</h2>
<p>
    And if you have older players who <i>really</i> have a hard time seeing the cards, you can even
    go for <i>Lo-Vision</i> cards, which eliminate pips altogether and only display the card
    rank in a super large font.
</p>
<p>
    These cards also use suits in 4 different colors as well. The Spades are black, and the Hearts
    are red, but the Clubs are green and the Diamonds are blue.
</p>
<p>
    {% include card.html card="Js" showImage=false %}
    {% include card.html card="Ah" showImage=false %}
    {% include card.html card="Jc" showImage=false %}
    {% include card.html card="Ad" showImage=false %}
</p>
<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/03-lovision-530x530.png" alt="Lovision 4-Color Decks" />
    <figcaption>
        Bicycle Lovision 4 Color Decks are best for players with severe vision impairments
    </figcaption>
</figure>
<p>
    Lovision cards are also the preferred choice for <i>many</i> online casinos that use
    live dealers instead of a digitized deck and Random Number Generated
    (RNG) shuffles.
</p>

<h2>Material</h2>
<p>
    There are really only 2 options for materials used for poker cards: Plastic Coated, and
    100% Plastic.
</p>
<p>
    The 100% Plastic cards are more durable and can last for <b>YEARS</b> without much sign
    of wear and tear.
</p>
<p>
    But this comes at a price. A normal deck of plastic coated cards can cost as little as $2
    when bought in bulk, but a set of 100% plastic cards can be as much as $40 for a 2-deck set.
</p>
<p>
    The 100% Plastic brands I've had the best experience with are Kems, Copag, and now Faded Spade.
</p>

<figure>
    <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/04-faded-spade-600x336.png" alt="Faded Spade 100% Plastic Cards" />
    <figcaption>
        Faded Spade is the newest card manufacturing company that has been catching on in many
        cardrooms, including The Lodge, run by
        <a href="https://www.youtube.com/@BradOwenPoker" target="_blank">Brad Owen</a> and
        <a href="https://www.youtube.com/@DougPolkPoker" target="_blank">Doug Polk</a>.
    </figcaption>
</figure>

<p>
    Since these cards can cost you a pretty penny, it's best to buy them if you plan on hosting
    home games often and/or if you run a higher stakes game where the cost of the cards is
    somewhat negligable compared to the buy-in.
</p>
<p>
    If you play often, the cards will pay for themselves pretty quickly. They're also good for
    upping the level of your game.
</p>

<h2>What Should You Get?</h2>
<p>
    So if you want to know what deck is the best for you, just make sure you have everything you
    need using this handy table!
</p>
<table>
    <tr>
        <th>
            Brand
        </th>
        <th>
            Deck
        </th>
        <th>
            Width
        </th>
        <th>
            Index
        </th>
        <th>
            Plastic?
        </th>
        <th>
            Colors
        </th>
        <th>
            Est. Cost
        </th>
        <th>
            Buy
        </th>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-bicycle-174x100.png" alt="Bicycle" title="Bicycle" />
        </td>
        <td>
            Standard Poker (808)
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $2-5 per deck
        </td>
        <td>
            <a href="https://amzn.to/3SZEJWO" target="_blank" >Buy (12)</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-bicycle-174x100.png" alt="Bicycle" title="Bicycle" />
        </td>
        <td>
            Jumbo Index (88)
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            Jumbo
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $2-5 per deck
        </td>
        <td>
            <a href="https://amzn.to/3webDJK" target="_blank" >Buy (12)</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-bicycle-174x100.png" alt="Bicycle" title="Bicycle" />
        </td>
        <td>
            Bridge Sized Poker
        </td>
        <td>
            Bridge
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $6-8 per deck
        </td>
        <td>
            <a href="https://amzn.to/3pwi4Uw" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-bicycle-174x100.png" alt="Bicycle" title="Bicycle" />
        </td>
        <td>
            Lovision
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            Lovision
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            <span class="card card-suit-s">♠</span>
            <span class="card card-suit-h">♥</span>
            <span class="card card-suit-d">♦</span>
            <span class="card card-suit-c">♣</span>
        </td>
        <td>
            $4-8 per deck
        </td>
        <td>
            <a href="https://amzn.to/3IjYtAd" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-copag-199x100.png" alt="Copag" title="Copag" />
        </td>
        <td>
            Standard Poker
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $20 per set
        </td>
        <td>
            <a href="https://amzn.to/3A4gpuw" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-copag-199x100.png" alt="Copag" title="Copag" />
        </td>
        <td>
            Jumbo Index Poker
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            Jumbo
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $20 per set
        </td>
        <td>
            <a href="https://amzn.to/3dFx2oJ" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-copag-199x100.png" alt="Copag" title="Copag" />
        </td>
        <td>
            Bridge Sized Poker
        </td>
        <td>
            Bridge
        </td>
        <td>
            -
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $20 per set
        </td>
        <td>
            <a href="https://amzn.to/3CeAFvU" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-kem-133x100.png" alt="Kem" title="Kem" />
        </td>
        <td>
            Standard Poker
        </td>
        <td class="amt-0">
            -
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $40-50 per set
        </td>
        <td>
            <a href="https://amzn.to/3QvgYEu" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-kem-133x100.png" alt="Kem" title="Kem" />
        </td>
        <td>
            Jumbo Index
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            Jumbo
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $40-50 per set
        </td>
        <td>
            <a href="https://amzn.to/3K4HRg4" target="_blank" >Buy</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{{site.baseurl}}/assets/img/posts/2023-02-20/card-brand-kem-133x100.png" alt="Kem" title="Kem" />
        </td>
        <td>
            Bridge Size Poker
        </td>
        <td>
            Bridge
        </td>
        <td class="amt-0">
            -
        </td>
        <td>
            <b>100%</b>
        </td>
        <td class="amt-0">
            2 color
        </td>
        <td>
            $40-50 per set
        </td>
        <td>
            <a href="https://amzn.to/3ptiBqp" target="_blank" >Buy</a>
        </td>
    </tr>        
</table>

<p>
    Do you have decks that aren't on this list that <i>you</i> like to use? Let me know!
</p>

{%- include venn-badge.html isGambling=true -%}
