---
layout: page-no-sidebar
---

{% assign systemName = page.url | split: "/" | last %}
{%- assign system = site.data.roulette-systems | where: "reviewUrl", systemName | first -%}
{%- assign title = system.name -%}

{%- assign tierCount = system.bets.size -%}
{%- assign airDate = system.airDate -%}
{%- assign rating = system.rating -%}
{%- assign jackaceRating = system.jackaceRating -%}
{%- assign friendCount = system.friendCount | default: 0 -%}
{%- assign groupLoops = friendCount | at_least: 1 -%}
{%- assign rbaImages = system.rbaImageUrls -%}
{%- assign bettingConfigs = system.bettingTiers -%}
{%- assign containsTimeStamps = false -%}
{%- assign renderErrorsFound = false -%}
{%- assign renderErrorMessage = "" -%}
{%- assign isJackAceReview = system.isJackAceReview -%}

<!-- Calculate totals BEGIN -->
{%- assign totalAmountBet = 0.00 -%}
{%- assign totalEV = 0.00 -%}
{%- assign totalCompValue = 0.00 -%}
{%- assign totalWinLoss = 0 -%}
{%- assign lastTimeInteger = 0 -%}
{%- assign lastSpin = 0 -%}

{% for row in system.spins %}
  {%- assign currentBet = row["amountBet"] | times: 1 -%}
  {%- assign estimatedEV = currentBet | times: -0.0526 -%}
  {%- assign currentEV = row["ev"] | default: estimatedEV | times: 1 -%}
  {%- assign currentResult = row["result"] | times: 1 -%}
  {%- assign totalAmountBet = totalAmountBet | plus: currentBet -%}
  {%- assign totalEV = totalEV | plus: currentEV | times: 1 -%}
  {%- assign totalWinLoss = totalWinLoss | plus: currentResult | times: 1 -%}
  {%- assign currentTime = row["time"] -%}
  {%- assign currentSpin = row["spin"] | times: 1 -%}
  {%- assign expectedSpin = lastSpin | plus: 1 -%}

  {%- if currentTime contains ":" -%}
    {%- assign containsTimeStamps = true -%}
    {%- assign currentTimeInteger = currentTime | replace: ":", "" | times: 1 -%}

    {%- if currentTimeInteger <= lastTimeInteger -%}
      {%- assign renderErrorsFound = true -%}
      {%- assign renderErrorMessage = renderErrorMessage | append: "[TIMESTAMPS OUT OF ORDER]" -%}
    {%- endif -%}

    {%- assign lastTimeInteger = currentTimeInteger -%}
  {%- endif -%}

  {%- if currentSpin != expectedSpin -%}
    {%- assign renderErrorsFound = true -%}
    {%- assign renderErrorMessage = renderErrorMessage | append: "[SPINS OUT OF ORDER]" -%}
  {%- endif -%}

  {%- if currentResult < 0 -%}
    {%- assign currentLoss = currentResult | times: -1 -%}
    {%- if currentLoss > currentBet -%}
      {%- assign renderErrorsFound = true -%}
      {%- assign renderErrorMessage = renderErrorMessage | append: "[LOSS TOO LARGE]" -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign maxPossibleWin = currentBet | times: 35 -%}
  {%- if currentResult > maxPossibleWin -%}
    {%- assign renderErrorsFound = true -%}
    {%- assign renderErrorMessage = renderErrorMessage | append: "[WIN TOO LARGE]" -%}
  {%- endif -%}

  {%- assign lastSpin = currentSpin -%}

{% endfor %}

{%- assign totalAmountBet = totalAmountBet | floor -%}
{%- assign totalCompValue = totalEV | times: -0.20 -%}

<h1>
  <a href="{{site.baseurl}}/gambling/roulette/systems/">Roulette Systems</a>:
  &nbsp;{{- system.name -}}
</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
//<![CDATA[
  function displayRbaImage(imageName, config) {
    $("#rbaImg").attr("src", imageName);
    $("#rbaLink").attr("href", "https://rba.jackace.com/?c=" + config);
  }
//]]>
</script>

{%- if renderErrorsFound -%}

  <div class="amt-bad">
    ERRORS FOUND!!!
  </div>
  <div class="amt-bad">
    {{renderErrorMessage}}
  </div>

{%- endif -%}

{%-  if system.jackaceVideoUrl -%}
  <div>
    For Jack's video review of this system, go here:
  </div>
  {%- include youtube-embed.html url=system.jackaceVideoUrl -%}
{%-  endif -%}

{% assign systemNotesSize = system.notes | size %}

<table class="key-value-table" width="50%">
    <tr>
        <th width="30%">
            Air Date:
        </th>
        <td width="70%">
          <a href="{{ system.youtubeUrl }}" target="cegreview"><img src="{{- site.baseurl -}}/assets/img/icons/youtube-24x24.png" />&nbsp;{% include format-date.html date=system.airDate %}</a>
        </td>
    </tr>
    <tr>
      <th width="30%">
          Buy In:
      </th>
      <td width="70%">
        {% include chip-amount.html chipAmount=system.buyIn %}
      </td>
    </tr>
    <tr>
        <th>
            Bet per Spin:
        </th>
        <td>
          {% include chip-range.html amounts=system.bets showAll=true %}
        </td>
    </tr>
    <tr>
      <th>
          Total Bets:
      </th>
      <td>
        ${%- include format-number.html number=totalAmountBet -%}
      </td>
  </tr>
  <tr>
    <th>
        Total Win/Loss:
    </th>
    <td>
      {% include win-loss-amount.html amount=totalWinLoss %}
    </td>
  </tr>
  <tr>
    <th>
        Total Expected Loss:
    </th>
    <td>
      {% include win-loss-amount.html amount=totalEV places=2 %}
    </td>
  </tr>
  <tr>
    <th>
        Total Comp Value:
    </th>
    <td>
      ${% include format-number.html number=totalCompValue places=2 %}
    </td>
  </tr>
  {%- if isJackAceReview != true -%}
    <tr>
      <th>
          Rating:
      </th>
      <td>
        {% include ceg-system-rating.html rating=rating showRatingLetter=true showRatingName=true %}
      </td>
    </tr>
  {%- endif -%}
  <tr>
    <th>
        JackAce Rating:
    </th>
    <td>
      {% include ceg-system-rating.html rating=jackaceRating showRatingLetter=true showRatingName=true %}
    </td>
  </tr>
  {% if systemNotesSize > 0 %}
    <tr>
      <th>
          Notes:
      </th>
      <td>
          {{- system.notes -}}
      </td>
    </tr>
  {% endif %}
</table>

{%- assign imageLimit = rbaImages.size | minus: 1 -%}
{%- assign bettingConfigLimit = bettingConfigs.size -%}

{%- if imageLimit > 0 -%}
  <h2>Betting Schemes</h2>
{%- else -%}
  <h2>Betting Scheme</h2>
{%- endif -%}

{%- if imageLimit > 0 -%}
  {%- for i in (0..imageLimit) -%}
    {%- assign imageUrl = site.baseurl -%}
    {%- assign imageUrl = imageUrl | append: "/assets/img/systems/" -%}

    {%- if isJackAceReview -%}
      {%- assign imageUrl = imageUrl | append: "ja-" -%}
    {%- endif -%}

    {%- assign imageUrl = imageUrl | append: airDate -%}
    {%- assign imageUrl = imageUrl | append: "/" -%}
    {%- assign imageUrl = imageUrl | append: rbaImages[i] -%}
    {%- assign tierLevel = i | plus: 1 -%}
    {%- assign tierName = "Tier " | append: tierLevel -%}

    {%- assign bettingConfig = "" -%}
    {%- if i < bettingConfigLimit -%}
      <!-- TODO: Turn this string replacement into a common function -->
      {%- assign bettingConfig = bettingConfigs[i] | json | replace: "=>", ":" | replace: '"', '&quot;' -%}
    {%- endif -%}

    {%- if system.bets[i] > 0 -%}
      {%- assign tierName = tierName | append: " ($" -%}
      {%- assign tierName = tierName | append: system.bets[i] -%}
      {%- assign tierName = tierName | append: ")" -%}
    {%- endif -%}
    <a href="javascript:displayRbaImage('{{- imageUrl -}}', '{{- bettingConfig  -}}');">{{- tierName -}}</a>
    {%- if i < imageLimit -%}
      &nbsp;&nbsp;|&nbsp;&nbsp;
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<figure>
  {%- if isJackAceReview -%}
    <img id="rbaImg" src="{{- site.baseurl -}}/assets/img/systems/ja-{{- airDate -}}/{{- rbaImages[0] -}}" alt="Roulette Bet Analyzer bets for {{system.name}}"/>
  {%- else -%}
    <img id="rbaImg" src="{{- site.baseurl -}}/assets/img/systems/{{- airDate -}}/{{- rbaImages[0] -}}" alt="Roulette Bet Analyzer bets for {{system.name}}"/>
  {%- endif -%}
  <figcaption>
    {%- if imageLimit > 0 -%}
      Betting schemes for <i>{{- system.name -}}</i>
    {%- else -%}
      Betting scheme for <i>{{- system.name -}}</i>
    {%- endif -%}

    {%- if bettingConfigLimit > 0 -%}
      {%- assign bettingConfig = bettingConfigs[0] | json | replace: "=>", ":" | replace: '"', '&quot;' -%}
      <br/>
      <a id="rbaLink" href="https://rba.jackace.com/?c={{- bettingConfig -}}" target="_blank">View this bet in the Roulette Bet Analyzer</a>
    {%- endif -%}
    </figcaption>
</figure>
{%- for i in (1..groupLoops) -%}
  <!-- assign loopSpins = system.spins | sort: "spin" -->
  {%- assign loopSpins = system.spins -%}
  {%- assign groupEV = 0 -%}
  {%- assign groupAmountBet = 0 -%}
  {%- assign groupWinLoss = 0 -%}

  {%- if friendCount > 0 -%}
    <!-- assign loopSpins = system.spins | where: "friend", i | sort: "spin" -->
    {%- assign loopSpins = system.spins | where: "friend", i -%}
    <h3>Friend #{{- i -}}&nbsp;Results</h3>
  {%- endif -%}

  <table class="betting-system-table">
    <thead>
      <tr>
        <th>
          Spin #
        </th>
        <th>
          Number
        </th>
        <th>
          Result
        </th>
        <th>
          Amount Bet
        </th>
        <th> 
          Running Total
        </th>
        {% if containsTimeStamps %}
          <th> 
            Time
          </th>
        {% endif %}
        <th width="25%"> 
          Notes
        </th>
    </tr>
    </thead>
    <tbody>
      {%- for row in loopSpins -%}

        {%- assign currentResult = row["result"] | times: 1 -%}
        {%- assign currentLoss = currentResult | times: -1 -%}
        {%- assign currentBet = row["amountBet"] | times: 1 -%}
        {%- assign estimatedEV = currentBet | times: -0.0526 -%}
        {%- assign currentEV = row["ev"] | default: estimatedEV | times: 1 -%}
        {%- assign groupEV = groupEV | plus: currentEV | times: 1 -%}
        {%- assign betPlusResult = currentBet | plus: currentResult  -%}
        {%- assign time = row["time"]  -%}
        {%- if containsTimeStamps -%}
          {%- if time contains ":" -%}
            {%- assign timeArray = time | split: ":" -%}
            {%- assign minutes = timeArray[0] -%}
            {%- assign seconds = timeArray[1] -%}
            {%- assign timeMarkerInSeconds = minutes | times: 60 -%}
            {%- assign timeMarkerInSeconds = timeMarkerInSeconds | plus: seconds -%}            
          {%- endif -%}
        {%- endif -%}

        {%- assign spinNumber = row["number"] -%}

        {%- assign groupAmountBet = groupAmountBet | plus: currentBet | times: 1 -%}
        {%- assign groupWinLoss = groupWinLoss | plus: currentResult | times: 1 -%}
      
        <tr>
          <td class="cell-center">
            {{ row["spin"] }}
          </td>
          <td class="cell-center">
            {% include roulette-spot.html number=spinNumber %}
          </td>
          <td class="cell-center">
            {% include win-loss-amount.html amount=currentResult %}
            {%- if currentBet > 0 -%}
              {%- if betPlusResult == 0 -%}
                <div class="amt-bad">WHACK</div>
              {%- endif -%}
            {%- endif -%}
          </td>
          <td class="cell-center">
            ${%- include format-number.html number=currentBet -%}
          </td>
          <td class="cell-center">
            {% include win-loss-amount.html amount=groupWinLoss %}
          </td>
          {% if containsTimeStamps %}
            <td> 
              <a href="{{system.youtubeUrl}}&t={{- timeMarkerInSeconds -}}" target="_blank">{{- row["time"] -}}</a>
            </td>
          {% endif %}
          <td>
            {{- row["notes"] -}}
          </td>
      </tr>
      {%- endfor -%}
    </tbody>
    <tfoot>
      <tr>
        <th>
          &nbsp;
        </th>
        <th>
          &nbsp;
        </th>
        <th>
          Expected<br/>Loss
        </th>
        <th>
          Total Bets
        </th>
        <th>
          Total<br/>Win/Loss
        </th>
        {% if containsTimeStamps %}
          <th>
            &nbsp;
          </th>
        {% endif %}
        <th>
          &nbsp;
        </th>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td class="cell-center">
          {% include win-loss-amount.html amount=groupEV places=2 %}
        </td>
        <td class="cell-center">
          ${%- include format-number.html number=groupAmountBet -%}
        </td>
        <td class="cell-center">
          {% include win-loss-amount.html amount=groupWinLoss %}
        </td>
        {% if containsTimeStamps %}
          <td>
            &nbsp;
          </td>
        {% endif %}
        <td>
          &nbsp;
        </td>
      </tr>
    </tfoot>
  </table>
{% endfor %}

<div class="system-review-content">
  {{ content }}
</div>

<br/>
<br/>
<div>
  <a href="{{site.baseurl}}/gambling/roulette/systems/">Back to Roulette Systems</a> <br/>
  <a href="{{site.baseurl}}/gambling/roulette/systems/distribution/">View distribution of all numbers</a> <br/>
</div>
